### 면적 데이터 전처리

In [2]:
import pandas as pd

df_area = pd.read_csv('./dataset/pop_density/Deagu_area.csv') # 면적 데이터 불러오기


# 필요한 컬럼만 추출하고 column명을 인구수 데이터와 통일

df_area = df_area[['행정동', '면적 (km²)']].rename(columns={'행정동':'행정구역'})

df_area

     행정구역 면적 (km²)
0     고성동     0.53
1     칠성동     1.36
2    침산1동     1.21
3    침산2동     0.99
4    침산3동     1.07
..    ...      ...
137   옥포읍    48.94
138   현풍읍    24.47
139   가창면   111.17
140   하빈면     36.7
141   구지면    39.75

[142 rows x 2 columns]

In [3]:
# null 값 확인
df_area['면적 (km²)'].isnull().sum()

0

### 인구수 데이터와 면적 데이터 JOIN

In [4]:
# 인구수 데이터 불러오기

df_pop = pd.read_csv('./dataset/pop_density/Deagu_population.csv', index_col=0)

df_pop

            행정구역  year  month   count
0      동인1.2.4가동  2010     10   6,091
1          동인3가동  2010     10   4,649
2            삼덕동  2010     10   4,523
3           성내1동  2010     10   4,525
4           성내2동  2010     10   5,097
...          ...   ...    ...     ...
19822       범물1동  2022      4  11,205
19823       범물2동  2022      4  16,932
19824       고산1동  2022      4  31,014
19825       고산2동  2022      4  28,518
19826       고산3동  2022      4  32,839

[19827 rows x 4 columns]

In [5]:
# 면적 데이터와 join

df_JOIN = pd.merge(df_pop, df_area, left_on='행정구역', right_on='행정구역', how='outer')

df_JOIN

            행정구역    year  month   count 면적 (km²)
0      동인1.2.4가동  2010.0   10.0   6,091      NaN
1      동인1.2.4가동  2010.0   11.0   6,083      NaN
2      동인1.2.4가동  2010.0   12.0   6,120      NaN
3      동인1.2.4가동  2011.0    1.0   6,112      NaN
4      동인1.2.4가동  2011.0    2.0   6,112      NaN
...          ...     ...    ...     ...      ...
19823       고산3동  2022.0    1.0  33,164     5.01
19824       고산3동  2022.0    2.0  33,029     5.01
19825       고산3동  2022.0    3.0  32,947     5.01
19826       고산3동  2022.0    4.0  32,839     5.01
19827      불로봉무동     NaN    NaN     NaN     7.98

[19828 rows x 5 columns]

### JOIN한 데이터의 null 값 확인 및 처리

In [6]:
# null 값 확인

df_JOIN['면적 (km²)'].isnull().sum()

957

In [7]:
# null 값이 있는 행 확인

df_JOIN[df_JOIN['면적 (km²)'].isnull()]

            행정구역    year  month  count 면적 (km²)
0      동인1.2.4가동  2010.0   10.0  6,091      NaN
1      동인1.2.4가동  2010.0   11.0  6,083      NaN
2      동인1.2.4가동  2010.0   12.0  6,120      NaN
3      동인1.2.4가동  2011.0    1.0  6,112      NaN
4      동인1.2.4가동  2011.0    2.0  6,112      NaN
...          ...     ...    ...    ...      ...
16330        유가면  2018.0    8.0      0      NaN
16331        유가면  2018.0    9.0      0      NaN
16332        유가면  2018.0   10.0      0      NaN
16333        유가면  2018.0   11.0      0      NaN
16334        유가면  2018.0   12.0      0      NaN

[957 rows x 5 columns]

In [8]:
# null 값이 들어있는 행정구역 목록

df_JOIN[df_JOIN['면적 (km²)'].isnull()].groupby('행정구역').sum().index

Index(['논공읍공단출장소', '다사읍서재출장소', '대현1동', '대현2동', '동인1.2.4가동', '동인3가동', '두류1동',
       '두류2동', '불로.봉무동', '성당1동', '성당2동', '안심3.4동', '옥포면', '유가면', '현풍면'],
      dtype='object', name='행정구역')

In [9]:
# area 파일의 행정구역 이름을 확인

df_area['행정구역'].values

array(['고성동', '칠성동', '침산1동', '침산2동', '침산3동', '산격1동', '산격2동', '산격3동',
       '산격4동', '대현동', '복현1동', '복현2동', '검단동', '노원동', '무태조야동', '관문동',
       '태전1동', '태전2동', '구암동', '관음동', '읍내동', '동천동', '국우동', '동인동', '삼덕동',
       '성내1동', '성내2동', '성내3동', '대신동', '남산1동', '남산2동', '남산3동', '남산4동',
       '대봉1동', '대봉2동', '내당1동', '내당2.3동', '내당4동', '비산1동', '비산2.3동', '비산4동',
       '비산5동', '비산6동', '비산7동', '평리1동', '평리2동', '평리3동', '평리4동', '평리5동',
       '평리6동', '상중이동', '원대동', '성당동', '두류1.2동', '두류3동', '본리동', '감삼동',
       '죽전동', '장기동', '용산1동', '용산2동', '이곡1동', '이곡2동', '신당동', '월성1동',
       '월성2동', '진천동', '유천동', '상인1동', '상인2동', '상인3동', '도원동', '송현1동',
       '송현2동', '본동', '이천동', '봉덕1동', '봉덕2동', '봉덕3동', '대명1동', '대명2동',
       '대명3동', '대명4동', '대명5동', '대명6동', '대명9동', '대명10동', '대명11동', '신암1동',
       '신암2동', '신암3동', '신암4동', '신암5동', '신천1.2동', '신천3동', '신천4동', '효목1동',
       '효목2동', '도평동', '불로봉무동', '지저동', '동촌동', '방촌동', '해안동', '안심1동', '안심2동',
       '안심3동', '안심4동', '혁신동', '공산동', '범어1동', '범어2동', '범어3동', '범어4동',
       '만촌1동', '만촌2동', '만촌3동', '수성1가동', '수성2.3가동', '수성4가동', '황금1동',
       '황금2동', '중동', '상동', '파동', '두산동', '지산1동', '지산2동', '범물1동', '범물2동',
       '고산1동', '고산2동', '고산3동', '화원읍', '논공읍', '다사읍', '유가읍', '옥포읍', '현풍읍',
       '가창면', '하빈면', '구지면'], dtype=object)

In [10]:
# pop 파일의 행정구역 이름을 확인

df_pop['행정구역'].unique()

array(['동인1.2.4가동', '동인3가동', '삼덕동', '성내1동', '성내2동', '성내3동', '대신동', '남산1동',
       '남산2동', '남산3동', '남산4동', '대봉1동', '대봉2동', '동인동', '신암1동', '신암2동',
       '신암3동', '신암4동', '신암5동', '신천1.2동', '신천3동', '신천4동', '효목1동', '효목2동',
       '도평동', '불로.봉무동', '지저동', '동촌동', '방촌동', '해안동', '안심1동', '안심2동',
       '안심3.4동', '공산동', '안심3동', '안심4동', '혁신동', '내당1동', '내당2.3동', '내당4동',
       '비산1동', '비산2.3동', '비산4동', '비산5동', '비산6동', '비산7동', '평리1동', '평리2동',
       '평리3동', '평리4동', '평리5동', '평리6동', '상중이동', '원대동', '이천동', '봉덕1동',
       '봉덕2동', '봉덕3동', '대명1동', '대명2동', '대명3동', '대명4동', '대명5동', '대명6동',
       '대명9동', '대명10동', '대명11동', '고성동', '칠성동', '침산1동', '침산2동', '침산3동',
       '산격1동', '산격2동', '산격3동', '산격4동', '대현1동', '대현2동', '복현1동', '복현2동',
       '검단동', '무태조야동', '관문동', '태전1동', '태전2동', '구암동', '관음동', '읍내동', '동천동',
       '노원동', '국우동', '대현동', '성당1동', '성당2동', '두류1동', '두류2동', '두류3동', '감삼동',
       '죽전동', '장기동', '용산1동', '용산2동', '이곡1동', '이곡2동', '신당동', '본리동', '월성1동',
       '월성2동', '진천동', '상인1동', '상인2동', '상인3동', '도원동', '송현1동', '송현2동', '본동',
       '성당동', '두류1.2동', '유천동', '화원읍', '논공읍', '논공읍공단출장소', '다사읍',
       '다사읍서재출장소', '가창면', '하빈면', '옥포면', '현풍면', '유가면', '구지면', '유가읍', '옥포읍',
       '현풍읍', '범어1동', '범어2동', '범어3동', '범어4동', '만촌1동', '만촌2동', '만촌3동',
       '수성1가동', '수성2.3가동', '수성4가동', '황금1동', '황금2동', '중동', '상동', '파동',
       '두산동', '지산1동', '지산2동', '범물1동', '범물2동', '고산1동', '고산2동', '고산3동'],
      dtype=object)

In [11]:
# 파일명 체크용 코드

'다사읍' in list(df_area['행정구역'].values)

True

### 결측값 없이 JOIN을 위해 다시 전처리

In [12]:
# 인구수 데이터 불러오기
df_pop = pd.read_csv('./dataset/pop_density/Deagu_population.csv', index_col=0, thousands = ',')

# 면적 데이터 불러오기
df_area = pd.read_csv('./dataset/pop_density/Deagu_area.csv')

In [13]:
# 2020년 6월부터 pop파일에 안심3.4동이 3동과 4동으로 분리
# area 파일엔 모든 기간 안심 3동과 안심 4동이 분리되어 있음

# 2020년의 데이터 확인
area_list = ['안심3동', '안심4동', '안심3.4동']
df_pop[(df_pop['행정구역'].isin(area_list)) & (df_pop['year'] == 2020)]

        행정구역  year  month  count
3933    안심3동  2020      1      0
3934  안심3.4동  2020      1  69135
3935    안심4동  2020      1      0
3956    안심3동  2020      2      0
3957  안심3.4동  2020      2  69040
3958    안심4동  2020      2      0
3979    안심3동  2020      3      0
3980  안심3.4동  2020      3  69150
3981    안심4동  2020      3      0
4002    안심3동  2020      4      0
4003  안심3.4동  2020      4  69421
4004    안심4동  2020      4      0
4025    안심3동  2020      5      0
4026  안심3.4동  2020      5  69537
4027    안심4동  2020      5      0
4048    안심3동  2020      6      0
4049  안심3.4동  2020      6  69573
4050    안심4동  2020      6      0
4071    안심3동  2020      7  21450
4072  안심3.4동  2020      7      0
4073    안심4동  2020      7  29515
4094    안심3동  2020      8  21443
4095  안심3.4동  2020      8      0
4096    안심4동  2020      8  29515
4117    안심3동  2020      9  21388
4118  안심3.4동  2020      9      0
4119    안심4동  2020      9  29453
4140    안심3동  2020     10  21379
4141  안심3.4동  2020     10      0
4142    안심4동  2020     10  29409
4163    안심3동  2020     11  21380
4164  안심3.4동  2020     11      0
4165    안심4동  2020     11  29367
4186    안심3동  2020     12  21337
4187  안심3.4동  2020     12      0
4188    안심4동  2020     12  29277

In [14]:
# 데이터 전처리---------------------------------------------------------

## 필요한 컬럼만 추출하고 column명을 인구수 데이터와 통일
df_area = df_area[['행정동', '면적 (km²)']].rename(columns={'행정동':'행정구역'})

# 결측값 교체
df_area.loc[df_area['행정구역'] == '월성1동', '면적 (km²)'] = 2.18
df_area.loc[df_area['행정구역'] == '진천동', '면적 (km²)'] = 5.97
df_area.loc[df_area['행정구역'] == '유천동', '면적 (km²)'] = 1.25
df_area.loc[df_area['행정구역'] == '안심4동', '면적 (km²)'] = 2.6
df_area.loc[df_area['행정구역'] == '혁신동', '면적 (km²)'] = 3.33

# column명 내의 띄어쓰기 교체
df_area.rename(columns={'면적 (km²)': '면적(km²)'}, inplace=True)

# '논공읍공단출장소'를 '논공읍'으로 표기
df_pop.loc[df_pop['행정구역'] == '논공읍공단출장소', ['행정구역']] = '논공읍'

# '다사읍서재출장소'를 '다사읍'으로 표기
df_pop.loc[df_pop['행정구역'] == '다사읍서재출장소', ['행정구역']] = '다사읍'

# '대현1동'과 '대현2동'을 '대현동'으로 결합
df_pop.loc[(df_pop['행정구역'] == '대현1동') | (df_pop['행정구역'] == '대현2동'), ['행정구역']] = '대현동'

# '동인1.2.4가동'과 '동인3가동'을 '동인동'으로 결합
df_pop.loc[(df_pop['행정구역'] == '동인1.2.4가동') | (df_pop['행정구역'] == '동인3가동'), ['행정구역']] = '동인동'

# '두류1동'과 '두류2동'을 '두류1.2동'으로 결합
df_pop.loc[(df_pop['행정구역'] == '두류1동') | (df_pop['행정구역'] == '두류2동'), ['행정구역']] = '두류1.2동'

# '불로.봉무동'을 '불로봉무동'으로 표기
df_pop.loc[df_pop['행정구역'] == '불로.봉무동', ['행정구역']] = '불로봉무동'

# '성당1동'과 '성당2동'을 '성당동'으로 결합
df_pop.loc[(df_pop['행정구역'] == '성당1동') | (df_pop['행정구역'] == '성당2동'), ['행정구역']] = '성당동'

# 파일의 '안심3동'과 '안심4동'을 '안심3.4동'으로 결합
df_pop.loc[(df_pop['행정구역'] == '안심3동') | (df_pop['행정구역'] == '안심4동'), ['행정구역']] = '안심3.4동'
df_area.loc[(df_area['행정구역'] == '안심3동') | (df_area['행정구역'] == '안심4동'), ['행정구역']] = '안심3.4동'

# df_area

# '옥표면', '유가면', '현풍면'을 각각 읍으로 변경
#       2018년 3월 1일 : 유가면이 유가읍으로 승격하였다.[17] (4읍 5면)
#       2018년 11월 1일 : 옥포면, 현풍면이 옥포읍, 현풍읍으로 각각 승격하였다. (6읍 3면)
#       출처 : https://ko.wikipedia.org/wiki/%EB%8B%AC%EC%84%B1%EA%B5%B0

df_pop.loc[df_pop['행정구역'] == '옥포면', ['행정구역']] = '옥포읍'
df_pop.loc[df_pop['행정구역'] == '유가면', ['행정구역']] = '유가읍'
df_pop.loc[df_pop['행정구역'] == '현풍면', ['행정구역']] = '현풍읍'

In [15]:
df_pop

       행정구역  year  month  count
0       동인동  2010     10   6091
1       동인동  2010     10   4649
2       삼덕동  2010     10   4523
3      성내1동  2010     10   4525
4      성내2동  2010     10   5097
...     ...   ...    ...    ...
19822  범물1동  2022      4  11205
19823  범물2동  2022      4  16932
19824  고산1동  2022      4  31014
19825  고산2동  2022      4  28518
19826  고산3동  2022      4  32839

[19827 rows x 4 columns]

In [16]:
# area 파일 '행정구명' column에 '안심3.4동'이 2개이기 때문에 묶어줌

df_area = df_area.astype({'면적(km²)':'float'})
df_area = df_area.groupby('행정구역').sum()
df_area.reset_index(inplace=True)

# pop 파일 '행정구명' column에 '안심3.4동'이 2개이기 때문에 묶어줌

df_pop = df_pop.groupby(['행정구역', 'year', 'month']).sum()
df_pop.reset_index(inplace=True)

In [17]:
len(df_pop['행정구역'].unique())

141

### 전처리한 데이터로 다시 JOIN

In [18]:
# 면적 데이터와 join

df_join = pd.merge(df_pop, df_area, left_on='행정구역', right_on='행정구역', how='outer')

df_join

       행정구역  year  month  count  면적(km²)
0       가창면  2010     10   9002   111.17
1       가창면  2010     11   8969   111.17
2       가창면  2010     12   8936   111.17
3       가창면  2011      1   8892   111.17
4       가창면  2011      2   8731   111.17
...     ...   ...    ...    ...      ...
19360  효목2동  2021     12  13167     0.72
19361  효목2동  2022      1  13121     0.72
19362  효목2동  2022      2  13098     0.72
19363  효목2동  2022      3  13070     0.72
19364  효목2동  2022      4  13043     0.72

[19365 rows x 5 columns]

In [19]:
# null 값 확인

# df_join[df_join['면적(km²)'].isnull()].groupby('행정구역').sum() # 면적 null 값

df_join[df_join['면적(km²)'].isnull()].groupby('행정구역').sum() # 인구수 null 값

Empty DataFrame
Columns: [year, month, count, 면적(km²)]
Index: []

In [20]:
# 행정구역 개수 확인

len(df_join['행정구역'].unique())

141

In [21]:
# 인구수를 면적으로 나눈 인구밀도 column 생성

df_join['인구밀도'] = df_join['count'] / df_join['면적(km²)']

df_join = df_join.astype({'인구밀도' : 'int'})

df_join

       행정구역  year  month  count  면적(km²)   인구밀도
0       가창면  2010     10   9002   111.17     80
1       가창면  2010     11   8969   111.17     80
2       가창면  2010     12   8936   111.17     80
3       가창면  2011      1   8892   111.17     79
4       가창면  2011      2   8731   111.17     78
...     ...   ...    ...    ...      ...    ...
19360  효목2동  2021     12  13167     0.72  18287
19361  효목2동  2022      1  13121     0.72  18223
19362  효목2동  2022      2  13098     0.72  18191
19363  효목2동  2022      3  13070     0.72  18152
19364  효목2동  2022      4  13043     0.72  18115

[19365 rows x 6 columns]

In [22]:
# 저장

df_join.to_csv('./dataset/pop_density/Deagu_density.csv', mode='w')