# DB 적재

In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine
import socket

In [2]:
import psycopg2

sock=socket.socket(socket.AF_INET,socket.SOCK_STREAM)
sock.connect(('pwnbit.kr',443))
# print(sock.getsockname()[0])

conn_str = f"host={sock.getsockname()[0]} dbname=postgres user=postgres password=admin port=5432"
try:
    conn = psycopg2.connect(conn_str)
    cur = conn.cursor()
    print("=== 접속 성공 =====")
except psycopg2.DatabaseError as db_err:
    print("접속오류 !!")
    print(db_err)
    exit(1)

=== 접속 성공 =====

In [3]:
df=pd.read_csv('output/DL_data.csv')
df.head()

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,height,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용,prev_winter
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,53.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,49.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,46.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,41.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,36.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14831616 entries, 0 to 14831615
Data columns (total 23 columns):
 #   Column          Dtype
---  ------          -----
 0   year            int64
 1   month           int64
 2   day             int64
 3   hour            int64
 4   datetime        object
 5   temp            float64
 6   rainfall        float64
 7   humidity        float64
 8   wind_speed      float64
 9   wind_direction  float64
 10  region          object
 11  HI              float64
 12  DI              float64
 13  height          float64
 14  가로등             float64
 15  교육용             float64
 16  농사용             float64
 17  산업용             float64
 18  심야              float64
 19  일반용             float64
 20  임시전력            float64
 21  주택용             float64
 22  prev_winter     float64
dtypes: float64(17), int64(4), object(2)
memory usage: 2.5+ GB

### 2. 데이터프레임 DB에 적재

In [5]:
# 커서 생성
cur=conn.cursor()

# engine 생성
# user : password
# 테이블 이름(원하는 테이블에 변경 가능)
engine=create_engine('postgresql://postgres:admin@localhost:5432/postgres')

# 실행할 때마다 다른 값이 나오지 않게 테이블 제거
cur.execute('DROP TABLE IF EXISTS DL_data')

# 칼럼생성
df.to_sql(name='DL_data',
        con=engine,
        schema='public',
        if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
        index=False,
        # index_label='id',
        chunksize=14831616, # 로우 개수
        # 컬럼 데이터 타입 설정
        dtype= {
            'year':sqlalchemy.types.INTEGER(),
            'month':sqlalchemy.types.INTEGER(),
            'day':sqlalchemy.types.INTEGER(),
            'hour':sqlalchemy.types.INTEGER(),
            'datetime':sqlalchemy.types.TIMESTAMP(),
            'temp':sqlalchemy.types.REAL(),
            'rainfall':sqlalchemy.types.REAL(),
            'humidity':sqlalchemy.types.REAL(),
            'wind_speed':sqlalchemy.types.REAL(),
            'wind_direction':sqlalchemy.types.REAL(),
            'region':sqlalchemy.types.VARCHAR(20),
            'HI':sqlalchemy.types.REAL(),
            'DI':sqlalchemy.types.REAL(),
            'height':sqlalchemy.types.REAL(),
            '가로등':sqlalchemy.types.REAL(),
            '교육용':sqlalchemy.types.REAL(),
            '농사용':sqlalchemy.types.REAL(),
            '산업용':sqlalchemy.types.REAL(),
            '심야':sqlalchemy.types.REAL(),
            '일반용':sqlalchemy.types.REAL(),
            '임시전력':sqlalchemy.types.REAL(),
            '주택용':sqlalchemy.types.REAL(),
            'prev_winter':sqlalchemy.types.REAL()
        })