# DB

## 0. 패키지 및 라이브러리

In [1]:
# ! pip install psycopg2
# ! pip install sqlalchemy

In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

## Ⅰ. test 데이터프레임 DB에 적재

### 1. DB 접속

In [2]:
conn_str='host=localhost dbname=k_water_park user=postgres password=admin port=5432'
try: 
    conn=psycopg2.connect(conn_str)
    print('=====접속 성공=====')
except psycopg2.DatabaseError as db_err:
    print('접속오류!!')
    print(db_err)

=====접속 성공=====

### 2. test 데이터프레임 생성

In [ ]:
df=pd.DataFrame({'ID':[20190103, 20190222, 20190531],
                             'name':['Kim', 'Lee', 'Jeong'],
                             'class':['H', 'W', 'S']})
df

### 3. test 데이터프레임 DB에 적재

In [17]:
# 커서 생성
cur=conn.cursor()

# engine 생성
# user : password
# 테이블 이름(원하는 테이블에 변경 가능)
engine=create_engine('postgresql://postgres:admin@localhost:5432/k_water_park')

# 실행할 때마다 다른 값이 나오지 않게 테이블 제거
cur.execute('DROP TABLE IF EXISTS k_water_park')

# 칼럼생성
df.to_sql(name='test',
        con=engine,
        schema='public',
        if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
        index=True,
        index_label='id',
        chunksize=3, # 로우 개수
        # 컬럼 데이터 타입 설정
        dtype= {
            'ID':sqlalchemy.types.INTEGER(),
            'name':sqlalchemy.types.VARCHAR(10),
            'class':sqlalchemy.types.VARCHAR(10),
        })

3

## Ⅱ. Daejeon_final DB에 적재

### 1. csv read 및 column 확인

In [53]:
df=pd.read_csv('output/Daejeon_final.csv')
df.head()

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI
0,2010,6,1,0,2010-06-01 00:00:00,17.4,0.0,-1,44.0,NaN,NaN,1,중앙동,16.344444,61.68144
1,2010,6,1,1,2010-06-01 01:00:00,18.7,0.0,-1,39.0,NaN,NaN,1,중앙동,17.643889,63.09007
2,2010,6,1,2,2010-06-01 02:00:00,19.9,0.0,-1,37.0,NaN,NaN,1,중앙동,18.911667,64.41737
3,2010,6,1,3,2010-06-01 03:00:00,20.6,0.0,-1,35.0,NaN,NaN,1,중앙동,19.629444,65.11890
4,2010,6,1,4,2010-06-01 04:00:00,21.7,0.0,-1,33.0,NaN,NaN,1,중앙동,20.787222,66.24739

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8251392 entries, 0 to 8251391
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   year            int64
 1   month           int64
 2   day             int64
 3   hour            int64
 4   datetime        object
 5   temp            float64
 6   rainfall        float64
 7   lightning       int64
 8   humidity        float64
 9   wind_speed      float64
 10  wind_direction  float64
 11  condition       int64
 12  region          object
 13  HI              float64
 14  DI              float64
dtypes: float64(7), int64(6), object(2)
memory usage: 1007.2+ MB

In [55]:
a=list(df['wind_speed'].unique())
a.sort()
# print(a)

### 2. 데이터프레임 DB에 적재

In [57]:
# 커서 생성
cur=conn.cursor()

# engine 생성
# user : password
# 테이블 이름(원하는 테이블에 변경 가능)
engine=create_engine('postgresql://postgres:admin@localhost:5432/k_water_park')

# 실행할 때마다 다른 값이 나오지 않게 테이블 제거
cur.execute('DROP TABLE IF EXISTS Daejeon_final')

# 칼럼생성
df.to_sql(name='Daejeon_final',
        con=engine,
        schema='public',
        if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
        index=False,
        # index_label='id',
        chunksize=8251392, # 로우 개수
        # 컬럼 데이터 타입 설정
        dtype= {
            'year':sqlalchemy.types.INTEGER(),
            'month':sqlalchemy.types.INTEGER(),
            'day':sqlalchemy.types.INTEGER(),
            'hour':sqlalchemy.types.INTEGER(),
            'datetime':sqlalchemy.types.DATE(),
            'temp':sqlalchemy.types.DECIMAL(3,1),
            'rainfall':sqlalchemy.types.REAL(),
            'lightning':sqlalchemy.types.INTEGER(),
            'humidity':sqlalchemy.types.REAL(),
            'wind_speed':sqlalchemy.types.REAL(),
            'wind_direction':sqlalchemy.types.REAL(),
            'condition':sqlalchemy.types.INTEGER(),
            'region':sqlalchemy.types.VARCHAR(50),
            'HI':sqlalchemy.types.REAL(),
            'DI':sqlalchemy.types.REAL()
        })

392

## Ⅲ. daegu_final DB에 적재

### 1. csv read 및 column 확인

In [3]:
df=pd.read_csv('output/daegu_final.csv')
df.head()

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,-1,53.0,NaN,NaN,1,동인동,15.589444,60.74355
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,-1,49.0,NaN,NaN,1,동인동,17.245000,62.73431
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,-1,46.0,NaN,NaN,1,동인동,18.926667,64.65038
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,-1,41.0,NaN,NaN,1,동인동,20.006111,65.72772
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,-1,36.0,NaN,NaN,2,동인동,21.415556,67.04608

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14831616 entries, 0 to 14831615
Data columns (total 15 columns):
 #   Column          Dtype
---  ------          -----
 0   year            int64
 1   month           int64
 2   day             int64
 3   hour            int64
 4   datetime        object
 5   temp            float64
 6   rainfall        float64
 7   lightning       int64
 8   humidity        float64
 9   wind_speed      float64
 10  wind_direction  float64
 11  condition       int64
 12  region          object
 13  HI              float64
 14  DI              float64
dtypes: float64(7), int64(6), object(2)
memory usage: 1.8+ GB

### 2. 데이터프레임 DB에 적재

In [9]:
# 커서 생성
cur=conn.cursor()

# engine 생성
# user : password
# 테이블 이름(원하는 테이블에 변경 가능)
engine=create_engine('postgresql://postgres:admin@localhost:5432/k_water_park')

# 실행할 때마다 다른 값이 나오지 않게 테이블 제거
cur.execute('DROP TABLE IF EXISTS daegu_final')

# 칼럼생성
df.to_sql(name='daegu_final',
        con=engine,
        schema='public',
        if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
        index=False,
        # index_label='id',
        chunksize=14831616, # 로우 개수
        # 컬럼 데이터 타입 설정
        dtype= {
            'year':sqlalchemy.types.INTEGER(),
            'month':sqlalchemy.types.INTEGER(),
            'day':sqlalchemy.types.INTEGER(),
            'hour':sqlalchemy.types.INTEGER(),
            'datetime':sqlalchemy.types.DATE(),
            'temp':sqlalchemy.types.DECIMAL(3,1),
            'rainfall':sqlalchemy.types.REAL(),
            'lightning':sqlalchemy.types.INTEGER(),
            'humidity':sqlalchemy.types.REAL(),
            'wind_speed':sqlalchemy.types.REAL(),
            'wind_direction':sqlalchemy.types.REAL(),
            'condition':sqlalchemy.types.INTEGER(),
            'region':sqlalchemy.types.VARCHAR(50),
            'HI':sqlalchemy.types.REAL(),
            'DI':sqlalchemy.types.REAL()
        })