# DB 적재

## 0. 패키지 및 라이브러리

### 1. 패키지 및 라이브러리 import

In [1]:
# ! pip install psycopg2
# ! pip install sqlalchemy

In [1]:
import pandas as pd
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine

### 2. DB접속 코드

In [3]:
# import psycopg2

# conn_str = "host=172.20.49.99 dbname=postgres user=postgres password=admin port=5432"
# try:
#     conn = psycopg2.connect(conn_str)
#     cur = conn.cursor()
#     print("=== 접속 성공 =====")
# except psycopg2.DatabaseError as db_err:
#     print("접속오류 !!")
#     print(db_err)
#     exit(1)

## Ⅰ. test 데이터프레임 DB에 적재

### 1. DB 접속

In [2]:
conn_str='host=localhost dbname=postgres user=postgres password=admin port=5432'
try: 
    conn=psycopg2.connect(conn_str)
    print('=====접속 성공=====')
except psycopg2.DatabaseError as db_err:
    print('접속오류!!')
    print(db_err)

=====접속 성공=====

### 2. test 데이터프레임 생성

In [5]:
# df=pd.DataFrame({'ID':[20190103, 20190222, 20190531],
#                              'name':['Kim', 'Lee', 'Jeong'],
#                              'class':['H', 'W', 'S']})
# df

### 3. test 데이터프레임 DB에 적재

In [6]:
# # 커서 생성
# cur=conn.cursor()

# # engine 생성
# # user : password
# # 테이블 이름(원하는 테이블에 변경 가능)
# engine=create_engine('postgresql://postgres:admin@localhost:5432/postgres')

# # 실행할 때마다 다른 값이 나오지 않게 테이블 제거
# cur.execute('DROP TABLE IF EXISTS test')

# # 칼럼생성
# df.to_sql(name='test',
#         con=engine,
#         schema='public',
#         if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
#         index=True,
#         index_label='id',
#         chunksize=3, # 로우 개수
#         # 컬럼 데이터 타입 설정
#         dtype= {
#             'ID':sqlalchemy.types.INTEGER(),
#             'name':sqlalchemy.types.VARCHAR(10),
#             'class':sqlalchemy.types.VARCHAR(10),
#         })

## Ⅱ. daejeon_final DB에 적재

### 1. csv read 및 column 확인

In [7]:
# df=pd.read_csv('output/Daejeon_final.csv')
# df.head()

In [8]:
# df.info()

In [9]:
# a=list(df['wind_speed'].unique())
# a.sort()
# # print(a)

### 2. 데이터프레임 DB에 적재

In [10]:
# # 커서 생성
# cur=conn.cursor()

# # engine 생성
# # user : password
# # 테이블 이름(원하는 테이블에 변경 가능)
# engine=create_engine('postgresql://postgres:admin@localhost:5432/postgres')

# # 실행할 때마다 다른 값이 나오지 않게 테이블 제거
# cur.execute('DROP TABLE IF EXISTS daejeon_final')

# # 칼럼생성
# df.to_sql(name='daejeon_final',
#         con=engine,
#         schema='public',
#         if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
#         index=False,
#         # index_label='id',
#         chunksize=8251392, # 로우 개수
#         # 컬럼 데이터 타입 설정
#         dtype= {
#             'year':sqlalchemy.types.INTEGER(),
#             'month':sqlalchemy.types.INTEGER(),
#             'day':sqlalchemy.types.INTEGER(),
#             'hour':sqlalchemy.types.INTEGER(),
#             'datetime':sqlalchemy.types.TIMESTAMP(),
#             'temp':sqlalchemy.types.DECIMAL(3,1),
#             'rainfall':sqlalchemy.types.REAL(),
#             'lightning':sqlalchemy.types.INTEGER(),
#             'humidity':sqlalchemy.types.REAL(),
#             'wind_speed':sqlalchemy.types.REAL(),
#             'wind_direction':sqlalchemy.types.REAL(),
#             'condition':sqlalchemy.types.INTEGER(),
#             'region':sqlalchemy.types.VARCHAR(50),
#             'HI':sqlalchemy.types.REAL(),
#             'DI':sqlalchemy.types.REAL()
#         })

## Ⅲ. daegu_final DB에 적재

### 1. csv read 및 column 확인

In [3]:
df=pd.read_csv('output/daegu_final.csv')
df.head()

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,-1,53.0,NaN,NaN,1,동인동,15.589444,60.74355
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,-1,49.0,NaN,NaN,1,동인동,17.245000,62.73431
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,-1,46.0,NaN,NaN,1,동인동,18.926667,64.65038
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,-1,41.0,NaN,NaN,1,동인동,20.006111,65.72772
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,-1,36.0,NaN,NaN,2,동인동,21.415556,67.04608

In [12]:
# df.info()

### 2. 데이터프레임 DB에 적재

In [4]:
# 커서 생성
cur=conn.cursor()

# engine 생성
# user : password
# 테이블 이름(원하는 테이블에 변경 가능)
engine=create_engine('postgresql://postgres:admin@localhost:5432/postgres')

# 실행할 때마다 다른 값이 나오지 않게 테이블 제거
cur.execute('DROP TABLE IF EXISTS daegu_final')

# 칼럼생성
df.to_sql(name='daegu_final',
        con=engine,
        schema='public',
        if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
        index=False,
        # index_label='id',
        chunksize=14831616, # 로우 개수
        # 컬럼 데이터 타입 설정
        dtype= {
            'year':sqlalchemy.types.INTEGER(),
            'month':sqlalchemy.types.INTEGER(),
            'day':sqlalchemy.types.INTEGER(),
            'hour':sqlalchemy.types.INTEGER(),
            'datetime':sqlalchemy.types.TIMESTAMP(),
            'temp':sqlalchemy.types.DECIMAL(3,1),
            'rainfall':sqlalchemy.types.REAL(),
            'lightning':sqlalchemy.types.INTEGER(),
            'humidity':sqlalchemy.types.REAL(),
            'wind_speed':sqlalchemy.types.REAL(),
            'wind_direction':sqlalchemy.types.REAL(),
            'condition':sqlalchemy.types.INTEGER(),
            'region':sqlalchemy.types.VARCHAR(50),
            'HI':sqlalchemy.types.REAL(),
            'DI':sqlalchemy.types.REAL()
        })

616

## Ⅳ. chuncheon_final DB에 적재

### 1. csv read 및 column 확인

In [14]:
df=pd.read_csv('output/Chuncheon_final.csv')
df.head()

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI
0,2010,6,1,0,2010-06-01 00:00:00,14.3,0.0,-1,47.0,NaN,NaN,1,강남동,13.012778,57.81579
1,2010,6,1,1,2010-06-01 01:00:00,17.2,0.0,-1,37.0,NaN,NaN,1,강남동,15.941667,61.24136
2,2010,6,1,2,2010-06-01 02:00:00,20.3,0.0,-1,29.0,NaN,NaN,1,강남동,19.142778,64.42413
3,2010,6,1,3,2010-06-01 03:00:00,21.7,0.0,-1,25.0,NaN,NaN,1,강남동,20.578333,65.67275
4,2010,6,1,4,2010-06-01 04:00:00,23.7,0.0,-1,23.0,NaN,NaN,1,강남동,22.726111,67.60449

In [15]:
# df.info()

### 2. 데이터프레임 DB에 적재

In [16]:
# 커서 생성
cur=conn.cursor()

# engine 생성
# user : password
# 테이블 이름(원하는 테이블에 변경 가능)
engine=create_engine('postgresql://postgres:admin@localhost:5432/postgres')

# 실행할 때마다 다른 값이 나오지 않게 테이블 제거
cur.execute('DROP TABLE IF EXISTS chuncheon_final')

# 칼럼생성
df.to_sql(name='chuncheon_final',
        con=engine,
        schema='public',
        if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
        index=False,
        # index_label='id',
        chunksize=2715648, # 로우 개수
        # 컬럼 데이터 타입 설정
        dtype= {
            'year':sqlalchemy.types.INTEGER(),
            'month':sqlalchemy.types.INTEGER(),
            'day':sqlalchemy.types.INTEGER(),
            'hour':sqlalchemy.types.INTEGER(),
            'datetime':sqlalchemy.types.TIMESTAMP(),
            'temp':sqlalchemy.types.DECIMAL(3,1),
            'rainfall':sqlalchemy.types.REAL(),
            'lightning':sqlalchemy.types.INTEGER(),
            'humidity':sqlalchemy.types.REAL(),
            'wind_speed':sqlalchemy.types.REAL(),
            'wind_direction':sqlalchemy.types.REAL(),
            'condition':sqlalchemy.types.INTEGER(),
            'region':sqlalchemy.types.VARCHAR(50),
            'HI':sqlalchemy.types.REAL(),
            'DI':sqlalchemy.types.REAL()
        })

648

## Ⅴ. cheongju_final DB에 적재

### 1. csv read 및 column 확인

In [17]:
df=pd.read_csv('output/Cheongju_final.csv')
df.head()

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI
0,2010,6,1,0,2010-06-01 00:00:00,17.3,0.0,-1,41.0,NaN,NaN,1,가경동,16.156111,61.47207
1,2010,6,1,1,2010-06-01 01:00:00,19.0,0.0,-1,38.0,NaN,NaN,1,가경동,17.947778,63.40380
2,2010,6,1,2,2010-06-01 02:00:00,20.3,0.0,-1,35.0,NaN,NaN,1,가경동,19.299444,64.77195
3,2010,6,1,3,2010-06-01 03:00:00,21.6,0.0,-1,33.0,NaN,NaN,1,가경동,20.677222,66.13372
4,2010,6,1,4,2010-06-01 04:00:00,22.9,0.0,-1,35.0,NaN,NaN,1,가경동,22.159444,67.77885

In [18]:
# df.info()

### 2. 데이터프레임 DB에 적재

In [19]:
# 커서 생성
cur=conn.cursor()

# engine 생성
# user : password
# 테이블 이름(원하는 테이블에 변경 가능)
engine=create_engine('postgresql://postgres:admin@localhost:5432/postgres')

# 실행할 때마다 다른 값이 나오지 않게 테이블 제거
cur.execute('DROP TABLE IF EXISTS cheongju_final')

# 칼럼생성
df.to_sql(name='cheongju_final',
        con=engine,
        schema='public',
        if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
        index=False,
        # index_label='id',
        chunksize=4491264, # 로우 개수
        # 컬럼 데이터 타입 설정
        dtype= {
            'year':sqlalchemy.types.INTEGER(),
            'month':sqlalchemy.types.INTEGER(),
            'day':sqlalchemy.types.INTEGER(),
            'hour':sqlalchemy.types.INTEGER(),
            'datetime':sqlalchemy.types.TIMESTAMP(),
            'temp':sqlalchemy.types.DECIMAL(3,1),
            'rainfall':sqlalchemy.types.REAL(),
            'lightning':sqlalchemy.types.INTEGER(),
            'humidity':sqlalchemy.types.REAL(),
            'wind_speed':sqlalchemy.types.REAL(),
            'wind_direction':sqlalchemy.types.REAL(),
            'condition':sqlalchemy.types.INTEGER(),
            'region':sqlalchemy.types.VARCHAR(50),
            'HI':sqlalchemy.types.REAL(),
            'DI':sqlalchemy.types.REAL()
        })

264

## Ⅵ. daegu_density_final DB에 적재

### 1. csv read 및 column 확인

In [28]:
df=pd.read_csv('output/Daegu_density_final.csv',index_col=0)
df.head()

   year  month  count    area region  populationdensity         HI
0  2010     10   9002  111.17    가창면          80.975083  14.002856
1  2010     11   8969  111.17    가창면          80.678241   5.548623
2  2010     12   8936  111.17    가창면          80.381398  -0.149288
3  2011      1   8892  111.17    가창면          79.985608  -4.443683
4  2011      2   8731  111.17    가창면          78.537375   1.583097

In [26]:
# df.info()

### 2. 데이터프레임 DB에 적재

In [29]:
# 커서 생성
cur=conn.cursor()

# engine 생성
# user : password
# 테이블 이름(원하는 테이블에 변경 가능)
engine=create_engine('postgresql://postgres:admin@localhost:5432/postgres')

# 실행할 때마다 다른 값이 나오지 않게 테이블 제거
cur.execute('DROP TABLE IF EXISTS daegu_density_final')

# 칼럼생성
df.to_sql(name='daegu_density_final',
        con=engine,
        schema='public',
        if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
        index=False,
        # index_label='id',
        chunksize=19365, # 로우 개수
        # 컬럼 데이터 타입 설정
        dtype= {
            'year':sqlalchemy.types.INTEGER(),
            'month':sqlalchemy.types.INTEGER(),
            'count':sqlalchemy.types.INTEGER(),
            'area':sqlalchemy.types.REAL(),
            'region':sqlalchemy.types.VARCHAR(50),
            'populationdensity':sqlalchemy.types.REAL(),
            'HI':sqlalchemy.types.REAL()
        })

365

## Ⅶ. airpollution_final DB에 적재

### 1. csv read 및 column 확인

In [3]:
df=pd.read_csv('output/airpollution_final.csv',encoding='cp949',index_col=0)
df.head()

                  date  year  month  day  hour  concentration
0  2010-06-01 00:00:00  2010      6    1     0            9.5
1  2010-06-01 01:00:00  2010      6    1     1           12.0
2  2010-06-01 02:00:00  2010      6    1     2            9.0
3  2010-06-01 03:00:00  2010      6    1     3            8.0
4  2010-06-01 04:00:00  2010      6    1     4            6.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99574 entries, 0 to 99573
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           99574 non-null  object
 1   year           99574 non-null  int64
 2   month          99574 non-null  int64
 3   day            99574 non-null  int64
 4   hour           99574 non-null  int64
 5   concentration  99574 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 5.3+ MB

### 2. 데이터프레임 DB에 적재

In [5]:
# 커서 생성
cur=conn.cursor()

# engine 생성
# user : password
# 테이블 이름(원하는 테이블에 변경 가능)
engine=create_engine('postgresql://postgres:admin@localhost:5432/postgres')

# 실행할 때마다 다른 값이 나오지 않게 테이블 제거
cur.execute('DROP TABLE IF EXISTS airpollution_final')

# 칼럼생성
df.to_sql(name='airpollution_final',
        con=engine,
        schema='public',
        if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
        index=False,
        # index_label='id',
        chunksize=99574, # 로우 개수
        # 컬럼 데이터 타입 설정
        dtype= {
            'date':sqlalchemy.types.TIMESTAMP(),
            'year':sqlalchemy.types.INTEGER(),
            'month':sqlalchemy.types.INTEGER(),
            'day':sqlalchemy.types.INTEGER(),
            'hour':sqlalchemy.types.INTEGER(),
            'concentration':sqlalchemy.types.REAL()
        })

574

## Ⅷ. daegu_green DB에 적재

### 1. csv read 및 column 확인

In [41]:
df=pd.read_csv('output/daegu_green.csv',encoding='cp949',index_col=0)
df.head()

,year,region2,orchard,pasture,forest,park,sports,amusement
0,2010,합계,2156770.0,1488152.0,480830711.5,7551595.7,2331544.3,347186.0
1,2010,중구,-,-,-,199274.7,-,-
2,2010,동구,682903.0,85214.0,111443374.0,634963.3,648769.0,24070.0
3,2010,서구,-,-,2004065.0,61716.0,6687.0,-
4,2010,남구,-,-,4107091.7,2677733.7,3491.0,-

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90 entries, 0 to 89
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       90 non-null     int64
 1   region2    90 non-null     object
 2   orchard    90 non-null     object
 3   pasture    90 non-null     object
 4   forest     90 non-null     object
 5   park       90 non-null     float64
 6   sports     90 non-null     object
 7   amusement  90 non-null     object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.3+ KB

### 2. 데이터프레임 DB에 적재

In [43]:
# 커서 생성
cur=conn.cursor()

# engine 생성
# user : password
# 테이블 이름(원하는 테이블에 변경 가능)
engine=create_engine('postgresql://postgres:admin@localhost:5432/postgres')

# 실행할 때마다 다른 값이 나오지 않게 테이블 제거
cur.execute('DROP TABLE IF EXISTS daegu_green')

# 칼럼생성
df.to_sql(name='daegu_green',
        con=engine,
        schema='public',
        if_exists='replace', # {'fail', 'replace', 'append'}, dafault : 'fail'
        index=False,
        # index_label='id',
        chunksize=19365, # 로우 개수
        # 컬럼 데이터 타입 설정
        dtype= {
            'year':sqlalchemy.types.INTEGER(),
            'region2':sqlalchemy.types.VARCHAR(50),
            'orchard':sqlalchemy.types.REAL(),
            'pasture':sqlalchemy.types.REAL(),
            'forest':sqlalchemy.types.REAL(),
            'park':sqlalchemy.types.REAL(),
            'sports':sqlalchemy.types.REAL(),
            'amusement':sqlalchemy.types.REAL()
        })

DataError: (psycopg2.errors.InvalidTextRepresentation) 오류:  real 자료형 대한 잘못된 입력: "-"
LINE 1: ...551595.7, '2331544.3', '347186.0'),(2010, '중구', '-', '-', ...
                                                             ^

[SQL: INSERT INTO public.daegu_green (year, region2, orchard, pasture, forest, park, sports, amusement) VALUES (%(year)s, %(region2)s, %(orchard)s, %(pasture)s, %(forest)s, %(park)s, %(sports)s, %(amusement)s)]
[parameters: ({'year': 2010, 'region2': '합계', 'orchard': '2156770.0', 'pasture': '1488152.0', 'forest': '480830711.5', 'park': 7551595.7, 'sports': '2331544.3', 'amusement': '347186.0'}, {'year': 2010, 'region2': '중구', 'orchard': '-', 'pasture': '-', 'forest': '-', 'park': 199274.7, 'sports': '-', 'amusement': '-'}, {'year': 2010, 'region2': '동구', 'orchard': '682903.0', 'pasture': '85214.0', 'forest': '111443374.0', 'park': 634963.3, 'sports': '648769.0', 'amusement': '24070.0'}, {'year': 2010, 'region2': '서구', 'orchard': '-', 'pasture': '-', 'forest': '2004065.0', 'park': 61716.0, 'sports': '6687.0', 'amusement': '-'}, {'year': 2010, 'region2': '남구', 'orchard': '-', 'pasture': '-', 'forest': '4107091.7', 'park': 2677733.7, 'sports': '3491.0', 'amusement': '-'}, {'year': 2010, 'region2': '북구', 'orchard': '446750.0', 'pasture': '173870.0', 'forest': '46315286.0', 'park': 676553.9, 'sports': '327038.0', 'amusement': '-'}, {'year': 2010, 'region2': '수성구', 'orchard': '367253.0', 'pasture': '34597.0', 'forest': '38491923.2', 'park': 488678.3, 'sports': '1076374.0', 'amusement': '16699.0'}, {'year': 2010, 'region2': '달서구', 'orchard': '30283.0', 'pasture': '4832.0', 'forest': '19497150.1', 'park': 2064684.4, 'sports': '188783.3', 'amusement': '-'}  ... displaying 10 of 90 total bound parameter sets ...  {'year': 2019, 'region2': '달서구', 'orchard': '31459.0', 'pasture': '4232.0', 'forest': '19195328.1', 'park': 2309668.4, 'sports': '181439.3', 'amusement': '-'}, {'year': 2019, 'region2': '달성군', 'orchard': '628739.4', 'pasture': '1126360.9', 'forest': '253770147.1', 'park': 3052105.8, 'sports': '323680.7', 'amusement': '380075.0'})]
(Background on this error at: https://sqlalche.me/e/14/9h9h)

# DB 추출

In [23]:
# db connect 
conn = psycopg2.connect( 
    host = "localhost", 
    dbname = "postgres", 
    user = "postgres", 
    password = "admin"
    )         
sslmode = "require"
print("Connection established")

cursor = conn.cursor()

# Fetch all rows from table
cursor.execute("SELECT * FROM cheongju_final;")
result = cursor.fetchall()

# 데이터프레임으로 만들기
cheongju_final_df = pd.DataFrame(result)
cheongju_final_df.columns = [i[0] for i in  cursor.description]
cheongju_final_df

Connection established

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI
0,2010,6,1,0,2010-06-01 00:00:00,17.3,0.0,-1,41.0,NaN,NaN,1,가경동,16.156110,61.47207
1,2010,6,1,1,2010-06-01 01:00:00,19.0,0.0,-1,38.0,NaN,NaN,1,가경동,17.947779,63.40380
2,2010,6,1,2,2010-06-01 02:00:00,20.3,0.0,-1,35.0,NaN,NaN,1,가경동,19.299444,64.77195
3,2010,6,1,3,2010-06-01 03:00:00,21.6,0.0,-1,33.0,NaN,NaN,1,가경동,20.677221,66.13372
4,2010,6,1,4,2010-06-01 04:00:00,22.9,0.0,-1,35.0,NaN,NaN,1,가경동,22.159445,67.77885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4491259,2022,4,30,19,2022-04-30 19:00:00,6.9,0.0,-1,92.0,0.5,125.0,-1,현도면,6.047778,45.01752
4491260,2022,4,30,20,2022-04-30 20:00:00,6.6,0.0,-1,94.0,0.6,182.0,-1,현도면,5.770000,44.34596
4491261,2022,4,30,21,2022-04-30 21:00:00,8.3,0.0,-1,91.0,0.8,154.0,-1,현도면,7.561667,47.48747
4491262,2022,4,30,22,2022-04-30 22:00:00,10.8,0.0,-1,74.0,1.1,211.0,-1,현도면,9.867778,52.37808
4491263,2022,4,30,23,2022-04-30 23:00:00,12.7,0.0,-1,57.0,1.7,25.0,-1,현도면,11.513889,55.60261