# EDA 5번) 대구의 지형 특성 (분지) 분석
* 대구와 **비슷한** 분지 지형 기후 탐색
* 대구와 **다른 지형**의 지역 기후 탐색
* HI(열 지수)를 체감 온도로 두고 진행함
* 별도의 체감 온도 계산 식이 있을 경우 그걸로 진행하기로 결정
* 폭염 기준 : 주의보 체감 온도 33℃ 이상 / 경보 35℃ 이상
- 체감 온도: 기온에 습도, 바람 등의 영향이 더해져 사람이 느끼는 더위나 추위를 정량적으로 나타낸 온도
- 습도 10% 증가 시마다 체감온도 1도 가량 증가하는 특징

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_busan = pd.read_csv("output/Busan_pre.csv")
df_daegu = pd.read_csv("output/Daegu_pre.csv")
df_daejeon = pd.read_csv("output/Daejeon_pre.csv")

# 대구

* 특정 **연도**의 **월** 을 타겟으로 삼고 전체 HI와 DI의 평균
* 그래프로 비교
* 연도 변경 & 월 유지
* 연도 고정 & 월 변경
등 여러 방법으로...

In [3]:
daegu = df_daegu[['region','year','month','day','hour','rainfall','temp','lightning','humidity','wind_speed','wind_direction','condition','HI','DI']]
daegu

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
0,동인동,2010,6,1,0,0.0,16.500000,-1,53.0,53.0,390.0,1,15.589444,60.743550
1,동인동,2010,6,1,1,0.0,18.100000,-1,49.0,53.0,390.0,1,17.245000,62.734310
2,동인동,2010,6,1,2,0.0,19.700001,-1,46.0,53.0,390.0,1,18.926668,64.650381
3,동인동,2010,6,1,3,0.0,20.799999,-1,41.0,53.0,390.0,1,20.006110,65.727719
4,동인동,2010,6,1,4,0.0,22.200001,-1,36.0,53.0,390.0,2,21.415557,67.046081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,구지면,2022,4,30,19,0.0,10.700000,-1,71.0,2.1,335.0,-1,9.679444,52.335030
14831612,구지면,2022,4,30,20,0.0,11.000000,-1,65.0,2.2,339.0,-1,9.852778,52.993500
14831613,구지면,2022,4,30,21,0.0,11.900000,-1,61.0,2.2,338.0,-1,10.738333,54.402410
14831614,구지면,2022,4,30,22,0.0,13.400000,-1,53.0,2.0,351.0,-1,12.179444,56.605980
14831615,구지면,2022,4,30,23,0.0,15.100000,-1,41.0,2.1,5.0,-1,13.736111,58.797090

In [4]:
daegu[(daegu['year'] == 2010) & (daegu['DI'] >= 60) & (daegu['HI'] >= 33)]

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
318,동인동,2010,6,14,6,0.0,32.500000,-1,40.0,53.0,390.0,2,33.012571,79.775000
390,동인동,2010,6,17,6,0.0,34.599998,-1,31.0,53.0,390.0,3,34.304164,80.511738
699,동인동,2010,6,30,3,0.0,31.700001,-1,51.0,53.0,390.0,4,34.050401,80.689331
770,동인동,2010,7,3,2,0.0,28.900000,-1,73.0,53.0,390.0,4,33.063738,80.156030
771,동인동,2010,7,3,3,0.0,29.400000,-1,69.0,53.0,390.0,4,33.415860,80.330140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14729860,구지면,2010,9,21,4,0.0,32.200001,-1,54.0,53.0,390.0,2,35.781686,81.874121
14729861,구지면,2010,9,21,5,0.0,31.500000,-1,57.0,53.0,390.0,2,35.133247,81.439450
14729862,구지면,2010,9,21,6,0.0,32.599998,-1,55.0,53.0,390.0,4,36.920569,82.591697
14729863,구지면,2010,9,21,7,0.0,32.599998,-1,55.0,53.0,390.0,3,36.920569,82.591697
14729864,구지면,2010,9,21,8,0.0,31.400000,-1,62.0,53.0,390.0,3,36.262466,82.141320

In [15]:
daegu_sample = daegu[(daegu['year'] == 2017) & (daegu['temp'] >= 33)]
daegu_sample['day'].count()

21621

* 폭염 건수를 Day 단위로 끊어서 Unique 하면 각 일자만 나오므로 폭염이 발생한 일 수 계산 가능
* 테스트 삼아 2018년 대구를 타겟으로 삼은 결과 : 31일

In [6]:
daegu[(daegu['HI'] >= 33)]

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
318,동인동,2010,6,14,6,0.0,32.500000,-1,40.0,53.0,390.0,2,33.012571,79.775000
390,동인동,2010,6,17,6,0.0,34.599998,-1,31.0,53.0,390.0,3,34.304164,80.511738
699,동인동,2010,6,30,3,0.0,31.700001,-1,51.0,53.0,390.0,4,34.050401,80.689331
770,동인동,2010,7,3,2,0.0,28.900000,-1,73.0,53.0,390.0,4,33.063738,80.156030
771,동인동,2010,7,3,3,0.0,29.400000,-1,69.0,53.0,390.0,4,33.415860,80.330140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14825671,구지면,2021,8,26,7,0.0,30.400000,-1,59.0,1.1,198.0,-1,33.395128,80.243640
14825789,구지면,2021,8,31,5,0.0,30.200001,-1,66.0,0.8,294.0,-1,34.551908,81.056681
14825790,구지면,2021,8,31,6,0.0,28.900000,-1,76.0,0.2,269.0,-1,33.645417,80.585360
14825812,구지면,2021,9,1,4,0.0,28.500000,-1,82.0,2.5,169.0,-1,33.760807,80.795300
14825813,구지면,2021,9,1,5,0.0,28.799999,-1,79.0,2.1,173.0,-1,33.987231,80.855478

# 부산

In [7]:
busan = df_busan[['region','year','month','day','hour','rainfall','temp','lightning','humidity','wind_speed','wind_direction','condition','HI','DI']]
busan

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
0,중앙동,2010,6,1,0,0.0,14.700000,-1,61.0,53.0,390.0,1,13.818333,58.361330
1,중앙동,2010,6,1,1,0.0,15.400000,-1,56.0,53.0,390.0,3,14.457778,59.303760
2,중앙동,2010,6,1,2,0.0,16.000000,-1,51.0,53.0,390.0,3,14.987222,60.045400
3,중앙동,2010,6,1,3,0.0,16.600000,-1,52.0,53.0,390.0,2,15.673333,60.855680
4,중앙동,2010,6,1,4,0.0,17.700001,-1,45.0,53.0,390.0,3,16.700557,62.087351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21411835,철마면,2022,4,30,19,0.0,11.700000,-1,63.0,2.5,359.0,-1,10.570556,54.065290
21411836,철마면,2022,4,30,20,0.0,11.400000,-1,61.0,2.5,340.0,-1,10.188333,53.695460
21411837,철마면,2022,4,30,21,0.0,12.100000,-1,56.0,1.1,345.0,-1,10.827778,54.801240
21411838,철마면,2022,4,30,22,0.0,14.300000,-1,45.0,1.4,307.0,-1,12.960556,57.818650
21411839,철마면,2022,4,30,23,0.0,16.299999,-1,37.0,1.9,323.0,-1,14.951666,60.182689

In [16]:
busan_sample = busan[(busan['year'] == 2017) & (busan['temp'] >= 33)]
busan_sample['day'].count()

5085

* hour 반복 -> 0 ~ 23 까지 // HI , DI 각각 하루 평균 구하기
* day 반복 -> 각 월에 맞춰서? // HI , DI 각 각 일일 평균 구하기
* month 반복 -> 각 월 평균??

# 대전

In [9]:
daejeon = df_daejeon[['region','year','month','day','hour','rainfall','temp','lightning','humidity','wind_speed','wind_direction','condition','HI','DI']]
daejeon

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
0,중앙동,2010,6,1,0,0.0,17.400000,-1,44.0,53.0,390.0,1,16.344444,61.681440
1,중앙동,2010,6,1,1,0.0,18.700001,-1,39.0,53.0,390.0,1,17.643890,63.090071
2,중앙동,2010,6,1,2,0.0,19.900000,-1,37.0,53.0,390.0,1,18.911667,64.417370
3,중앙동,2010,6,1,3,0.0,20.600000,-1,35.0,53.0,390.0,1,19.629444,65.118900
4,중앙동,2010,6,1,4,0.0,21.700001,-1,33.0,53.0,390.0,1,20.787223,66.247391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8251387,목상동,2022,4,30,19,0.0,5.600000,-1,94.0,0.0,0.0,-1,4.670000,42.605360
8251388,목상동,2022,4,30,20,0.0,5.300000,-1,95.0,0.0,230.0,-1,4.366111,41.992650
8251389,목상동,2022,4,30,21,0.0,8.200000,-1,93.0,0.0,0.0,-1,7.503889,47.192740
8251390,목상동,2022,4,30,22,0.0,11.100000,-1,66.0,1.8,200.0,-1,9.988889,53.105740
8251391,목상동,2022,4,30,23,0.0,12.700000,-1,54.0,0.9,189.0,-1,11.435556,55.654420

In [10]:
daejeon[(daejeon['year'] == 2010) & (daejeon['DI'] >= 60)]

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
0,중앙동,2010,6,1,0,0.0,17.400000,-1,44.0,53.0,390.0,1,16.344444,61.681440
1,중앙동,2010,6,1,1,0.0,18.700001,-1,39.0,53.0,390.0,1,17.643890,63.090071
2,중앙동,2010,6,1,2,0.0,19.900000,-1,37.0,53.0,390.0,1,18.911667,64.417370
3,중앙동,2010,6,1,3,0.0,20.600000,-1,35.0,53.0,390.0,1,19.629444,65.118900
4,중앙동,2010,6,1,4,0.0,21.700001,-1,33.0,53.0,390.0,1,20.787223,66.247391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8150911,목상동,2010,11,13,7,0.0,17.200001,-1,28.0,53.0,390.0,3,15.706668,60.995841
8151100,목상동,2010,11,21,4,0.0,16.600000,-1,47.0,53.0,390.0,1,15.542778,60.748980
8151101,목상동,2010,11,21,5,0.0,16.799999,-1,46.0,53.0,390.0,1,15.736666,60.980719
8151102,목상동,2010,11,21,6,0.0,16.900000,-1,44.0,53.0,390.0,2,15.794444,61.058640
8151103,목상동,2010,11,21,7,0.0,16.100000,-1,46.0,53.0,390.0,1,14.966667,60.094940

In [11]:
daejeon[(daejeon['year'] == 2017) & (daejeon['HI'] >= 33)]

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
62067,중앙동,2017,6,30,3,0.0,31.500000,0,51.0,1.1,304.0,4,33.688687,80.426350
62068,중앙동,2017,6,30,4,0.0,31.799999,0,50.0,1.4,291.0,3,34.000061,80.648999
62069,중앙동,2017,6,30,5,0.0,31.500000,0,51.0,1.2,275.0,4,33.688687,80.426350
62070,중앙동,2017,6,30,6,0.0,31.200001,0,54.0,1.9,254.0,4,33.815585,80.529521
62071,중앙동,2017,6,30,7,0.0,30.600000,0,59.0,2.0,246.0,4,33.788028,80.522460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8210328,목상동,2017,8,24,0,0.0,28.299999,0,84.0,2.6,209.0,4,33.572676,80.745278
8210330,목상동,2017,8,24,2,0.5,28.299999,0,83.0,2.9,214.0,4,33.391295,80.608108
8210332,목상동,2017,8,24,4,0.2,28.100000,0,84.0,3.3,213.0,4,33.009653,80.416960
8210333,목상동,2017,8,24,5,0.0,28.500000,0,84.0,2.8,215.0,4,34.147561,81.073600
8210334,목상동,2017,8,24,6,0.6,27.700001,0,90.0,2.5,214.0,4,33.096322,80.547702

In [12]:
daejeon_sample = daejeon[(daejeon['year'] == 2017) & (daejeon['HI'] >= 33)]
len(daejeon_sample['day'].unique())

30