# ※ 필요한 패키지 및 데이터 불러오기

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('daegu.csv', encoding = 'cp949')

In [3]:
df_pre = pd.read_csv('daegu_pre.csv')

<hr>

# 1. 겨울에 따뜻하면 여름에 폭염이 나타난다.
- made by 임낙현

In [8]:
df_pre.loc[(df_pre['region']=='동인동') & (df_pre['year']==2010),:]

,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,month,year,region
0,1,0,0.0,16.500000,-1,53.0,53.0,390.0,1,6,2010,동인동
1,1,1,0.0,18.100000,-1,49.0,53.0,390.0,1,6,2010,동인동
2,1,2,0.0,19.700001,-1,46.0,53.0,390.0,1,6,2010,동인동
3,1,3,0.0,20.799999,-1,41.0,53.0,390.0,1,6,2010,동인동
4,1,4,0.0,22.200001,-1,36.0,53.0,390.0,2,6,2010,동인동
...,...,...,...,...,...,...,...,...,...,...,...,...
5131,31,19,0.0,-6.900000,-1,55.0,3.6,265.0,1,12,2010,동인동
5132,31,20,0.0,-6.900000,-1,51.0,3.5,265.0,1,12,2010,동인동
5133,31,21,0.0,-6.800000,-1,49.0,3.3,267.0,2,12,2010,동인동
5134,31,22,0.0,-7.000000,-1,49.0,2.4,253.0,2,12,2010,동인동
5135,31,23,0.0,-6.500000,-1,46.0,3.2,256.0,2,12,2010,동인동