# 1. 데이터 전처리

### 1. 데이터 불러오기

* 로우 데이터를 통합해 저장한 후 대구 지역만 추출하는 코드

In [883]:
# concat_list = []

# try:
#     path = './dataset/electrocity/'
#     files = glob.glob(path + "*.xlsx")

#     for file_name in files:
#         df = pd.read_excel(file_name)
#         df = pd.DataFrame(df)
#         concat_list.append(df)

# except Exception as ex:
#     print('error' + str(ex))


# df1 = pd.concat(concat_list)

# df1

# elect_daegu = df1[df1['시도'] == '대구광역시']

# elect_daegu.to_csv('./output/elec_daegu.csv')

* 저장한 데이터 불러오기

In [884]:
import pandas as pd
import glob
import openpyxl

elec_daegu = pd.read_csv('./output/elec_daegu.csv', index_col=0)

elec_daegu

C:\Users\trap1\AppData\Local\Temp\ipykernel_12968\3510301853.py:5: DtypeWarning: Columns (5,7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  elec_daegu = pd.read_csv('./output/elec_daegu.csv', index_col=0)

,년도,월,시도,시군구,읍면동(행정동),계약종별,고객호수,판매량,판매요금,행정동,사용량,전기요금,행정동코드,호수,전력사용량
5309,2022,1,대구광역시,남구,송현2동,가로등,62447,5486690.0,3.219613e+08,NaN,NaN,NaN,NaN,NaN,NaN
5310,2022,1,대구광역시,남구,송현2동,교육용,632214,166331209.0,2.015713e+10,NaN,NaN,NaN,NaN,NaN,NaN
5311,2022,1,대구광역시,남구,송현2동,농사용,176,231066.0,9.040889e+06,NaN,NaN,NaN,NaN,NaN,NaN
5312,2022,1,대구광역시,남구,송현2동,산업용,2662,7105615.0,8.271090e+08,NaN,NaN,NaN,NaN,NaN,NaN
5313,2022,1,대구광역시,남구,송현2동,심야,21571,26705734.0,1.933639e+09,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20421,2022,2,대구광역시,중구,NaN,일반용,5473,NaN,NaN,성내3동,16725392.0,2.214401e+09,NaN,NaN,NaN
20422,2022,2,대구광역시,중구,NaN,주택용,7905,NaN,NaN,대봉2동,4518507.0,5.833351e+08,NaN,NaN,NaN
20423,2022,2,대구광역시,중구,NaN,일반용,9136,NaN,NaN,남산4동,21528292.0,2.816247e+09,NaN,NaN,NaN
20424,2022,2,대구광역시,중구,NaN,주택용,9824,NaN,NaN,성내3동,5313300.0,6.625160e+08,NaN,NaN,NaN
20425,2022,2,대구광역시,중구,NaN,주택용,25784,NaN,NaN,남산4동,18313188.0,2.207009e+09,NaN,NaN,NaN

### 2. 데이터 전처리

column명이 분리되어 있다

판매량 = 사용량 = 전력사용량  
판매요금 = 전기요금  
읍면동(행정동) = 행정동  
고객호수 = 호수

In [885]:
print('판매량 not null 값 수 :', elec_daegu['판매량'].notnull().sum())
print('사용량 not null 값 수 :', elec_daegu['사용량'].notnull().sum())
print('전력사용량 not null 값 수 :', elec_daegu['전력사용량'].notnull().sum())

판매량 not null 값 수 : 15913
사용량 not null 값 수 : 11087
전력사용량 not null 값 수 : 129481

판매량, 사용량, 전력사용량

* 겹치는 경우가 있는지 확인

In [886]:
elec_daegu[elec_daegu['판매량'].notnull() & elec_daegu['전력사용량'].notnull()]

Empty DataFrame
Columns: [년도, 월, 시도, 시군구, 읍면동(행정동), 계약종별, 고객호수, 판매량, 판매요금, 행정동, 사용량, 전기요금, 행정동코드, 호수, 전력사용량]
Index: []

In [887]:
elec_daegu[elec_daegu['판매량'].notnull() & elec_daegu['사용량'].notnull()]

Empty DataFrame
Columns: [년도, 월, 시도, 시군구, 읍면동(행정동), 계약종별, 고객호수, 판매량, 판매요금, 행정동, 사용량, 전기요금, 행정동코드, 호수, 전력사용량]
Index: []

In [888]:
elec_daegu[elec_daegu['사용량'].notnull() & elec_daegu['전력사용량'].notnull()]

Empty DataFrame
Columns: [년도, 월, 시도, 시군구, 읍면동(행정동), 계약종별, 고객호수, 판매량, 판매요금, 행정동, 사용량, 전기요금, 행정동코드, 호수, 전력사용량]
Index: []

In [889]:
elec_daegu[elec_daegu['판매량'].notnull() & elec_daegu['사용량'].notnull() & elec_daegu['전력사용량'].notnull()]

Empty DataFrame
Columns: [년도, 월, 시도, 시군구, 읍면동(행정동), 계약종별, 고객호수, 판매량, 판매요금, 행정동, 사용량, 전기요금, 행정동코드, 호수, 전력사용량]
Index: []

* 전력사용량 column에 다른 column의 값을 채워준다

In [890]:
elec_daegu.loc[elec_daegu['전력사용량'].isnull() & elec_daegu['사용량'].notnull(), '전력사용량'] = elec_daegu.loc[elec_daegu['사용량'].notnull(), '사용량']

In [891]:
elec_daegu.loc[elec_daegu['전력사용량'].isnull() & elec_daegu['판매량'].notnull(), '전력사용량'] = elec_daegu.loc[elec_daegu['판매량'].notnull(), '판매량']

In [892]:
print('판매량 not null 값 수 :', elec_daegu['판매량'].notnull().sum())
print('사용량 not null 값 수 :', elec_daegu['사용량'].notnull().sum())
print('전력사용량 not null 값 수 :', elec_daegu['전력사용량'].notnull().sum())

판매량 not null 값 수 : 15913
사용량 not null 값 수 : 11087
전력사용량 not null 값 수 : 156481

* 전력사용량 외 다른 column 제거

In [893]:
elec_daegu.drop(columns= ['판매량','사용량'], inplace=True)

판매요금, 전기요금

* 더 직관적인 전력사용량 column이 있기때문에 제거

In [894]:
elec_daegu.drop(columns=['판매요금','전기요금'], inplace=True)

읍면동(행정동), 행정동, 행정동코드

In [895]:
print('읍면동(행정동) not null 값 수 :', elec_daegu['읍면동(행정동)'].notnull().sum())
print('행정동 not null 값 수 :', elec_daegu['행정동'].notnull().sum())
print('행정동코드 not null 값 수 :', elec_daegu['행정동코드'].notnull().sum())

읍면동(행정동) not null 값 수 : 18721
행정동 not null 값 수 : 2765
행정동코드 not null 값 수 : 166835

* 겹치는 경우가 있는지 확인

In [896]:
elec_daegu[elec_daegu['읍면동(행정동)'].notnull() & elec_daegu['행정동'].notnull()]

Empty DataFrame
Columns: [년도, 월, 시도, 시군구, 읍면동(행정동), 계약종별, 고객호수, 행정동, 행정동코드, 호수, 전력사용량]
Index: []

* 행정동 column에 다른 column의 값을 채워준다

In [897]:
elec_daegu.loc[elec_daegu['행정동'].isnull() & elec_daegu['읍면동(행정동)'].notnull(), '행정동'] = elec_daegu.loc[elec_daegu['읍면동(행정동)'].notnull(), '읍면동(행정동)']

In [898]:
elec_daegu.loc[elec_daegu['행정동'].isnull() & elec_daegu['행정동코드'].notnull(), '행정동'] = elec_daegu.loc[elec_daegu['행정동코드'].notnull(), '행정동코드']

In [899]:
print('행정동 not null 값 수 :', elec_daegu['행정동'].notnull().sum())

행정동 not null 값 수 : 188321

* 행정동 외 다른 column 제거

In [900]:
elec_daegu.drop(columns= ['읍면동(행정동)','행정동코드'], inplace=True)

고객호수, 호수

In [901]:
print('고객호수 not null 값 수 :', elec_daegu['고객호수'].notnull().sum())
print('호수 not null 값 수 :', elec_daegu['호수'].notnull().sum())

고객호수 not null 값 수 : 31868
호수 not null 값 수 : 156453

* 겹치는 경우가 있는지 확인

In [902]:
elec_daegu[elec_daegu['고객호수'].notnull() & elec_daegu['호수'].notnull()]

Empty DataFrame
Columns: [년도, 월, 시도, 시군구, 계약종별, 고객호수, 행정동, 호수, 전력사용량]
Index: []

* 호수 column에 다른 column의 값을 채워준다

In [903]:
elec_daegu.loc[elec_daegu['호수'].isnull() & elec_daegu['고객호수'].notnull(), '호수'] = elec_daegu.loc[elec_daegu['고객호수'].notnull(), '고객호수']

In [904]:
print('호수 not null 값 수 :', elec_daegu['호수'].notnull().sum())

호수 not null 값 수 : 188321

* 호수 외 다른 column 제거

In [905]:
elec_daegu.drop(columns= ['고객호수', '시도'], inplace=True)

In [906]:
elec_daegu

         년도  월 시군구 계약종별   행정동      호수        전력사용량
5309   2022  1  남구  가로등  송현2동   62447    5486690.0
5310   2022  1  남구  교육용  송현2동  632214  166331209.0
5311   2022  1  남구  농사용  송현2동     176     231066.0
5312   2022  1  남구  산업용  송현2동    2662    7105615.0
5313   2022  1  남구   심야  송현2동   21571   26705734.0
...     ... ..  ..  ...   ...     ...          ...
20421  2022  2  중구  일반용  성내3동    5473   16725392.0
20422  2022  2  중구  주택용  대봉2동    7905    4518507.0
20423  2022  2  중구  일반용  남산4동    9136   21528292.0
20424  2022  2  중구  주택용  성내3동    9824    5313300.0
20425  2022  2  중구  주택용  남산4동   25784   18313188.0

[188321 rows x 7 columns]

In [907]:
elec_daegu.rename(columns= {'년도':'year','월':'month', '시군구':'city', '행정동':'region', '계약종별':'type', '호수':'unitcount', '전력사용량':'elecusage'}, inplace=True)

elec_daegu

       year  month city type region unitcount    elecusage
5309   2022      1   남구  가로등   송현2동     62447    5486690.0
5310   2022      1   남구  교육용   송현2동    632214  166331209.0
5311   2022      1   남구  농사용   송현2동       176     231066.0
5312   2022      1   남구  산업용   송현2동      2662    7105615.0
5313   2022      1   남구   심야   송현2동     21571   26705734.0
...     ...    ...  ...  ...    ...       ...          ...
20421  2022      2   중구  일반용   성내3동      5473   16725392.0
20422  2022      2   중구  주택용   대봉2동      7905    4518507.0
20423  2022      2   중구  일반용   남산4동      9136   21528292.0
20424  2022      2   중구  주택용   성내3동      9824    5313300.0
20425  2022      2   중구  주택용   남산4동     25784   18313188.0

[188321 rows x 7 columns]

### 3. 열지수 데이터와 join

열지수 데이터 불러오기

In [908]:
df_month_HI = pd.read_csv('output/daegu_final_month.csv', index_col=0)

df_month_HI

      region  year  month         HI
0        가창면  2010      6  23.305656
1        가창면  2010      7  26.223425
2        가창면  2010      8  29.701307
3        가창면  2010      9  22.066710
4        가창면  2010     10  14.002856
...      ...   ...    ...        ...
20301   효목2동  2021     12   2.357998
20302   효목2동  2022      1   0.478563
20303   효목2동  2022      2   1.146696
20304   효목2동  2022      3   8.569070
20305   효목2동  2022      4  15.072408

[20306 rows x 4 columns]

In [909]:
df_month_HI[df_month_HI['region']=='감삼동']

    region  year  month         HI
143    감삼동  2010      6  25.102999
144    감삼동  2010      7  29.032874
145    감삼동  2010      8  32.861411
146    감삼동  2010      9  24.275275
147    감삼동  2010     10  15.627973
..     ...   ...    ...        ...
281    감삼동  2021     12   2.280273
282    감삼동  2022      1   0.474498
283    감삼동  2022      2   0.969430
284    감삼동  2022      3   8.498826
285    감삼동  2022      4  14.795064

[143 rows x 4 columns]

join하기

In [910]:
df_join = pd.merge(df_month_HI, elec_daegu, left_on=['region','year','month'], right_on = ['region','year','month'], how='outer')

df_join

          region  year  month         HI city type unitcount   elecusage
0            가창면  2010      6  23.305656  NaN  NaN       NaN         NaN
1            가창면  2010      7  26.223425  NaN  NaN       NaN         NaN
2            가창면  2010      8  29.701307  NaN  NaN       NaN         NaN
3            가창면  2010      9  22.066710  NaN  NaN       NaN         NaN
4            가창면  2010     10  14.002856  NaN  NaN       NaN         NaN
...          ...   ...    ...        ...  ...  ...       ...         ...
197311  다사읍서재출장소  2022      2        NaN  달성군  농사용       122     62876.0
197312  다사읍서재출장소  2022      2        NaN  달성군  가로등       842    426872.0
197313  다사읍서재출장소  2022      2        NaN  달성군  산업용      1134  35268918.0
197314  다사읍서재출장소  2022      2        NaN  달성군  일반용      3614   7394266.0
197315  다사읍서재출장소  2022      2        NaN  달성군  주택용      5128   9964474.0

[197316 rows x 8 columns]

null 값 확인

In [911]:
df_join.loc[df_join['region'].isnull()]

Empty DataFrame
Columns: [region, year, month, HI, city, type, unitcount, elecusage]
Index: []

In [912]:
df_join.loc[df_join['HI'].isnull(), 'region'].unique()

array(['유천동', '논공읍공단출장소', '다사읍서재출장소', '옥포면', '유가면', '현풍면', '대명7동', '대명8동',
       '이천2동', '대명2,8동', '대명3,7동', '대곡동', '이곡동', '두류1동', '두류2동', '성당1동',
       '성당2동', '성서1동', '성서3동', '구지면 내리', '구지면 징리', '구지면 창리', '논공읍 남리',
       '논공읍 북리', '논공읍 상리', '논공읍 하리', '유가읍 금리', '유가읍 봉리', '유가읍 상리',
       '유가읍 양리', '유가읍 용리', '유가읍 음리', '하빈면 묘리', '현풍읍 대리', '현풍읍 부리',
       '현풍읍 상리', '현풍읍 중리', '현풍읍 지리', '현풍읍 하리', '가창면 냉천리', '가창면 단산리',
       '가창면 대일리', '가창면 삼산리', '가창면 상원리', '가창면 오동리', '가창면 옥분리', '가창면 용계리',
       '가창면 우록리', '가창면 정대리', '가창면 주동리', '가창면 행정리', '구지면 가천리', '구지면 고봉리',
       '구지면 대암리', '구지면 도동리', '구지면 목단리', '구지면 수리리', '구지면 예현리', '구지면 오설리',
       '구지면 유산리', '구지면 응암리', '구지면 평촌리', '구지면 화산리', '논공읍 금포리', '논공읍 노이리',
       '논공읍 본리리', '논공읍 삼리리', '논공읍 위천리', '다사읍 달천리', '다사읍 매곡리', '다사읍 문산리',
       '다사읍 문양리', '다사읍 박곡리', '다사읍 방천리', '다사읍 부곡리', '다사읍 서재리', '다사읍 세천리',
       '다사읍 이천리', '다사읍 죽곡리', '옥포읍 간경리', '옥포읍 강림리', '옥포읍 교항리', '옥포읍 기세리',
       '옥포읍 김흥리', '옥포읍 반송리', '옥포읍 본리리', '옥포읍 송촌리', '옥포읍 신당리', '유가읍 가태리',
       '유가읍 도의리', '유가읍 본말리', '유가읍 쌍계리', '유가읍 유곡리', '유가읍 초곡리', '유가읍 한정리',
       '하빈면 감문리', '하빈면 기곡리', '하빈면 대평리', '하빈면 동곡리', '하빈면 무등리', '하빈면 봉촌리',
       '하빈면 하산리', '하빈면 현내리', '현풍읍 성하리', '현풍읍 신기리', '현풍읍 오산리', '현풍읍 원교리',
       '현풍읍 자모리', '화원읍 구라리', '화원읍 명곡리', '화원읍 본리리', '화원읍 설화리', '화원읍 성산리',
       '화원읍 천내리', '도동', '검사동', '둔산동', '봉무동', '불로동', '송정동', '신평동', '입석동',
       '평광동', '검사1동', '공산1동', '공산2동', '신천1동', '신천2동', '둔산부동', '노곡동',
       '태전동', '노원3동', '칠곡1동', '칠곡2동', '칠곡3동', '노원1,2동', '비산3동', '내당2,3동',
       '비산2,3동', '매호동', '수성동1가', '수성동2가', '수성동3가', '수성동4가', '대신1동',
       '대신2동', '동인1,2,4가동', '달성군'], dtype=object)

두 테이블 사이에 안 겹치는 region을 다시 처리해준다

In [913]:
set(df_month_HI['region'].unique()) - set(elec_daegu['region'].unique())

{'구암동',
 '내당2.3동',
 '대명2동',
 '대명3동',
 '대신동',
 '동촌동',
 '비산2.3동',
 '수성1가동',
 '신천1.2동',
 '안심3.4동',
 '용산1동',
 '이곡1동',
 '태전1동'}

In [914]:
set(elec_daegu['region'].unique()) - set(df_month_HI['region'].unique())

{'가창면 냉천리',
 '가창면 단산리',
 '가창면 대일리',
 '가창면 삼산리',
 '가창면 상원리',
 '가창면 오동리',
 '가창면 옥분리',
 '가창면 용계리',
 '가창면 우록리',
 '가창면 정대리',
 '가창면 주동리',
 '가창면 행정리',
 '검사1동',
 '검사동',
 '공산1동',
 '공산2동',
 '구지면 가천리',
 '구지면 고봉리',
 '구지면 내리',
 '구지면 대암리',
 '구지면 도동리',
 '구지면 목단리',
 '구지면 수리리',
 '구지면 예현리',
 '구지면 오설리',
 '구지면 유산리',
 '구지면 응암리',
 '구지면 징리',
 '구지면 창리',
 '구지면 평촌리',
 '구지면 화산리',
 '내당2,3동',
 '노곡동',
 '노원1,2동',
 '노원3동',
 '논공읍 금포리',
 '논공읍 남리',
 '논공읍 노이리',
 '논공읍 본리리',
 '논공읍 북리',
 '논공읍 삼리리',
 '논공읍 상리',
 '논공읍 위천리',
 '논공읍 하리',
 '논공읍공단출장소',
 '다사읍 달천리',
 '다사읍 매곡리',
 '다사읍 문산리',
 '다사읍 문양리',
 '다사읍 박곡리',
 '다사읍 방천리',
 '다사읍 부곡리',
 '다사읍 서재리',
 '다사읍 세천리',
 '다사읍 이천리',
 '다사읍 죽곡리',
 '다사읍서재출장소',
 '달성군',
 '대곡동',
 '대명2,8동',
 '대명3,7동',
 '대명7동',
 '대명8동',
 '대신1동',
 '대신2동',
 '도동',
 '동인1,2,4가동',
 '두류1동',
 '두류2동',
 '둔산동',
 '둔산부동',
 '매호동',
 '봉무동',
 '불로동',
 '비산2,3동',
 '비산3동',
 '성당1동',
 '성당2동',
 '성서1동',
 '성서3동',
 '송정동',
 '수성동1가',
 '수성동2가',
 '수성동3가',
 '수성동4가',
 '신천1동',
 '신천2동',
 '신평동',
 '옥포면',
 '옥포읍 간경리',
 '옥포읍 강림리',
 '옥포읍 교항리',
 '옥포읍 기세리',
 '옥포읍 김흥리',
 '옥포읍 반송리',
 '옥포읍 본리리',
 '옥포읍 송촌리',
 '옥포읍 신당리',
 '유가면',
 '유가읍 가태리',
 '유가읍 금리',
 '유가읍 도의리',
 '유가읍 본말리',
 '유가읍 봉리',
 '유가읍 상리',
 '유가읍 쌍계리',
 '유가읍 양리',
 '유가읍 용리',
 '유가읍 유곡리',
 '유가읍 음리',
 '유가읍 초곡리',
 '유가읍 한정리',
 '유천동',
 '이곡동',
 '이천2동',
 '입석동',
 '칠곡1동',
 '칠곡2동',
 '칠곡3동',
 '태전동',
 '평광동',
 '하빈면 감문리',
 '하빈면 기곡리',
 '하빈면 대평리',
 '하빈면 동곡리',
 '하빈면 묘리',
 '하빈면 무등리',
 '하빈면 봉촌리',
 '하빈면 하산리',
 '하빈면 현내리',
 '현풍면',
 '현풍읍 대리',
 '현풍읍 부리',
 '현풍읍 상리',
 '현풍읍 성하리',
 '현풍읍 신기리',
 '현풍읍 오산리',
 '현풍읍 원교리',
 '현풍읍 자모리',
 '현풍읍 중리',
 '현풍읍 지리',
 '현풍읍 하리',
 '화원읍 구라리',
 '화원읍 명곡리',
 '화원읍 본리리',
 '화원읍 설화리',
 '화원읍 성산리',
 '화원읍 천내리'}

In [915]:
elec_daegu['region'].unique()

array(['송현2동', '이천동', '도원동', '본리동', '성당동', '신당동', '용산2동', '유천동', '이곡2동',
       '장기동', '죽전동', '진천동', '가창면', '구지면', '논공읍', '논공읍공단출장소', '다사읍',
       '다사읍서재출장소', '옥포면', '옥포읍', '유가면', '유가읍', '하빈면', '현풍면', '현풍읍', '화원읍',
       '공산동', '도평동', '불로.봉무동', '신암5동', '신천4동', '안심2동', '안심3동', '안심4동',
       '지저동', '해안동', '혁신동', '효목2동', '고성동', '관문동', '관음동', '국우동', '노원동',
       '동천동', '무태조야동', '산격2동', '산격3동', '산격4동', '읍내동', '칠성동', '침산1동',
       '침산3동', '태전2동', '두류1.2동', '상중이동', '원대동', '평리6동', '고산1동', '고산2동',
       '고산3동', '만촌3동', '범물2동', '상동', '수성2.3가동', '수성4가동', '중동', '지산2동',
       '파동', '황금1동', '황금2동', '남산4동', '대봉2동', '동인동', '삼덕동', '성내1동', '성내2동',
       '성내3동', '대명1동', '대명4동', '대명5동', '대명6동', '대명7동', '대명8동', '대명9동',
       '봉덕1동', '봉덕2동', '봉덕3동', '이천2동', '대명10동', '대명11동', '대명2,8동',
       '대명3,7동', '본동', '감삼동', '대곡동', '이곡동', '두류1동', '두류2동', '두류3동',
       '상인1동', '상인2동', '상인3동', '성당1동', '성당2동', '성서1동', '성서3동', '송현1동',
       '월성1동', '월성2동', '구지면 내리', '구지면 징리', '구지면 창리', '논공읍 남리', '논공읍 북리',
       '논공읍 상리', '논공읍 하리', '유가읍 금리', '유가읍 봉리', '유가읍 상리', '유가읍 양리',
       '유가읍 용리', '유가읍 음리', '하빈면 묘리', '현풍읍 대리', '현풍읍 부리', '현풍읍 상리',
       '현풍읍 중리', '현풍읍 지리', '현풍읍 하리', '가창면 냉천리', '가창면 단산리', '가창면 대일리',
       '가창면 삼산리', '가창면 상원리', '가창면 오동리', '가창면 옥분리', '가창면 용계리', '가창면 우록리',
       '가창면 정대리', '가창면 주동리', '가창면 행정리', '구지면 가천리', '구지면 고봉리', '구지면 대암리',
       '구지면 도동리', '구지면 목단리', '구지면 수리리', '구지면 예현리', '구지면 오설리', '구지면 유산리',
       '구지면 응암리', '구지면 평촌리', '구지면 화산리', '논공읍 금포리', '논공읍 노이리', '논공읍 본리리',
       '논공읍 삼리리', '논공읍 위천리', '다사읍 달천리', '다사읍 매곡리', '다사읍 문산리', '다사읍 문양리',
       '다사읍 박곡리', '다사읍 방천리', '다사읍 부곡리', '다사읍 서재리', '다사읍 세천리', '다사읍 이천리',
       '다사읍 죽곡리', '옥포읍 간경리', '옥포읍 강림리', '옥포읍 교항리', '옥포읍 기세리', '옥포읍 김흥리',
       '옥포읍 반송리', '옥포읍 본리리', '옥포읍 송촌리', '옥포읍 신당리', '유가읍 가태리', '유가읍 도의리',
       '유가읍 본말리', '유가읍 쌍계리', '유가읍 유곡리', '유가읍 초곡리', '유가읍 한정리', '하빈면 감문리',
       '하빈면 기곡리', '하빈면 대평리', '하빈면 동곡리', '하빈면 무등리', '하빈면 봉촌리', '하빈면 하산리',
       '하빈면 현내리', '현풍읍 성하리', '현풍읍 신기리', '현풍읍 오산리', '현풍읍 원교리', '현풍읍 자모리',
       '화원읍 구라리', '화원읍 명곡리', '화원읍 본리리', '화원읍 설화리', '화원읍 성산리', '화원읍 천내리',
       '도동', '검사동', '둔산동', '방촌동', '봉무동', '불로동', '송정동', '신평동', '입석동',
       '평광동', '검사1동', '공산1동', '공산2동', '신암1동', '신암2동', '신암3동', '신암4동',
       '신천1동', '신천2동', '신천3동', '안심1동', '효목1동', '둔산부동', '검단동', '노곡동',
       '대현동', '태전동', '노원3동', '복현1동', '복현2동', '산격1동', '칠곡1동', '칠곡2동',
       '칠곡3동', '침산2동', '노원1,2동', '내당1동', '내당4동', '비산1동', '비산3동', '비산4동',
       '비산5동', '비산6동', '비산7동', '평리1동', '평리2동', '평리3동', '평리4동', '평리5동',
       '내당2,3동', '비산2,3동', '두산동', '매호동', '만촌1동', '만촌2동', '범물1동', '범어1동',
       '범어2동', '범어3동', '범어4동', '지산1동', '수성동1가', '수성동2가', '수성동3가', '수성동4가',
       '남산1동', '남산2동', '남산3동', '대봉1동', '대신1동', '대신2동', '동인1,2,4가동', '달성군'],
      dtype=object)

In [916]:
df_month_HI['region'].unique()

array(['가창면', '감삼동', '검단동', '고산1동', '고산2동', '고산3동', '고성동', '공산동', '관문동',
       '관음동', '구암동', '구지면', '국우동', '남산1동', '남산2동', '남산3동', '남산4동', '내당1동',
       '내당2.3동', '내당4동', '노원동', '논공읍', '다사읍', '대명10동', '대명11동', '대명1동',
       '대명2동', '대명3동', '대명4동', '대명5동', '대명6동', '대명9동', '대봉1동', '대봉2동',
       '대신동', '대현동', '도원동', '도평동', '동인동', '동천동', '동촌동', '두류1.2동', '두류3동',
       '두산동', '만촌1동', '만촌2동', '만촌3동', '무태조야동', '방촌동', '범물1동', '범물2동',
       '범어1동', '범어2동', '범어3동', '범어4동', '복현1동', '복현2동', '본동', '본리동',
       '봉덕1동', '봉덕2동', '봉덕3동', '불로.봉무동', '비산1동', '비산2.3동', '비산4동', '비산5동',
       '비산6동', '비산7동', '산격1동', '산격2동', '산격3동', '산격4동', '삼덕동', '상동',
       '상인1동', '상인2동', '상인3동', '상중이동', '성내1동', '성내2동', '성내3동', '성당동',
       '송현1동', '송현2동', '수성1가동', '수성2.3가동', '수성4가동', '신당동', '신암1동', '신암2동',
       '신암3동', '신암4동', '신암5동', '신천1.2동', '신천3동', '신천4동', '안심1동', '안심2동',
       '안심3.4동', '안심3동', '안심4동', '옥포읍', '용산1동', '용산2동', '원대동', '월성1동',
       '월성2동', '유가읍', '읍내동', '이곡1동', '이곡2동', '이천동', '장기동', '죽전동', '중동',
       '지산1동', '지산2동', '지저동', '진천동', '칠성동', '침산1동', '침산2동', '침산3동',
       '태전1동', '태전2동', '파동', '평리1동', '평리2동', '평리3동', '평리4동', '평리5동',
       '평리6동', '하빈면', '해안동', '혁신동', '현풍읍', '화원읍', '황금1동', '황금2동', '효목1동',
       '효목2동'], dtype=object)

In [917]:
df_join.loc[df_join['HI'].isnull(), 'region'].unique()

array(['유천동', '논공읍공단출장소', '다사읍서재출장소', '옥포면', '유가면', '현풍면', '대명7동', '대명8동',
       '이천2동', '대명2,8동', '대명3,7동', '대곡동', '이곡동', '두류1동', '두류2동', '성당1동',
       '성당2동', '성서1동', '성서3동', '구지면 내리', '구지면 징리', '구지면 창리', '논공읍 남리',
       '논공읍 북리', '논공읍 상리', '논공읍 하리', '유가읍 금리', '유가읍 봉리', '유가읍 상리',
       '유가읍 양리', '유가읍 용리', '유가읍 음리', '하빈면 묘리', '현풍읍 대리', '현풍읍 부리',
       '현풍읍 상리', '현풍읍 중리', '현풍읍 지리', '현풍읍 하리', '가창면 냉천리', '가창면 단산리',
       '가창면 대일리', '가창면 삼산리', '가창면 상원리', '가창면 오동리', '가창면 옥분리', '가창면 용계리',
       '가창면 우록리', '가창면 정대리', '가창면 주동리', '가창면 행정리', '구지면 가천리', '구지면 고봉리',
       '구지면 대암리', '구지면 도동리', '구지면 목단리', '구지면 수리리', '구지면 예현리', '구지면 오설리',
       '구지면 유산리', '구지면 응암리', '구지면 평촌리', '구지면 화산리', '논공읍 금포리', '논공읍 노이리',
       '논공읍 본리리', '논공읍 삼리리', '논공읍 위천리', '다사읍 달천리', '다사읍 매곡리', '다사읍 문산리',
       '다사읍 문양리', '다사읍 박곡리', '다사읍 방천리', '다사읍 부곡리', '다사읍 서재리', '다사읍 세천리',
       '다사읍 이천리', '다사읍 죽곡리', '옥포읍 간경리', '옥포읍 강림리', '옥포읍 교항리', '옥포읍 기세리',
       '옥포읍 김흥리', '옥포읍 반송리', '옥포읍 본리리', '옥포읍 송촌리', '옥포읍 신당리', '유가읍 가태리',
       '유가읍 도의리', '유가읍 본말리', '유가읍 쌍계리', '유가읍 유곡리', '유가읍 초곡리', '유가읍 한정리',
       '하빈면 감문리', '하빈면 기곡리', '하빈면 대평리', '하빈면 동곡리', '하빈면 무등리', '하빈면 봉촌리',
       '하빈면 하산리', '하빈면 현내리', '현풍읍 성하리', '현풍읍 신기리', '현풍읍 오산리', '현풍읍 원교리',
       '현풍읍 자모리', '화원읍 구라리', '화원읍 명곡리', '화원읍 본리리', '화원읍 설화리', '화원읍 성산리',
       '화원읍 천내리', '도동', '검사동', '둔산동', '봉무동', '불로동', '송정동', '신평동', '입석동',
       '평광동', '검사1동', '공산1동', '공산2동', '신천1동', '신천2동', '둔산부동', '노곡동',
       '태전동', '노원3동', '칠곡1동', '칠곡2동', '칠곡3동', '노원1,2동', '비산3동', '내당2,3동',
       '비산2,3동', '매호동', '수성동1가', '수성동2가', '수성동3가', '수성동4가', '대신1동',
       '대신2동', '동인1,2,4가동', '달성군'], dtype=object)

* 리로 세분화되어 있는 region은 읍면으로 통일

In [918]:
ri_list = ['구지면 내리', '구지면 징리', '구지면 창리', '논공읍 남리',
       '논공읍 북리', '논공읍 상리', '논공읍 하리', '유가읍 금리', '유가읍 봉리', '유가읍 상리',
       '유가읍 양리', '유가읍 용리', '유가읍 음리', '하빈면 묘리', '현풍읍 대리', '현풍읍 부리',
       '현풍읍 상리', '현풍읍 중리', '현풍읍 지리', '현풍읍 하리', '가창면 냉천리', '가창면 단산리',
       '가창면 대일리', '가창면 삼산리', '가창면 상원리', '가창면 오동리', '가창면 옥분리', '가창면 용계리',
       '가창면 우록리', '가창면 정대리', '가창면 주동리', '가창면 행정리', '구지면 가천리', '구지면 고봉리',
       '구지면 대암리', '구지면 도동리', '구지면 목단리', '구지면 수리리', '구지면 예현리', '구지면 오설리',
       '구지면 유산리', '구지면 응암리', '구지면 평촌리', '구지면 화산리', '논공읍 금포리', '논공읍 노이리',
       '논공읍 본리리', '논공읍 삼리리', '논공읍 위천리', '다사읍 달천리', '다사읍 매곡리', '다사읍 문산리',
       '다사읍 문양리', '다사읍 박곡리', '다사읍 방천리', '다사읍 부곡리', '다사읍 서재리', '다사읍 세천리',
       '다사읍 이천리', '다사읍 죽곡리', '옥포읍 간경리', '옥포읍 강림리', '옥포읍 교항리', '옥포읍 기세리',
       '옥포읍 김흥리', '옥포읍 반송리', '옥포읍 본리리', '옥포읍 송촌리', '옥포읍 신당리', '유가읍 가태리',
       '유가읍 도의리', '유가읍 본말리', '유가읍 쌍계리', '유가읍 유곡리', '유가읍 초곡리', '유가읍 한정리',
       '하빈면 감문리', '하빈면 기곡리', '하빈면 대평리', '하빈면 동곡리', '하빈면 무등리', '하빈면 봉촌리',
       '하빈면 하산리', '하빈면 현내리', '현풍읍 성하리', '현풍읍 신기리', '현풍읍 오산리', '현풍읍 원교리',
       '현풍읍 자모리', '화원읍 구라리', '화원읍 명곡리', '화원읍 본리리', '화원읍 설화리', '화원읍 성산리',
       '화원읍 천내리']

for i in range(len(ri_list)):
    elec_daegu.loc[(elec_daegu['region'] == ri_list[i]), 'region'] = ri_list[i][:3]

In [919]:
df_month_HI['region'].unique()

array(['가창면', '감삼동', '검단동', '고산1동', '고산2동', '고산3동', '고성동', '공산동', '관문동',
       '관음동', '구암동', '구지면', '국우동', '남산1동', '남산2동', '남산3동', '남산4동', '내당1동',
       '내당2.3동', '내당4동', '노원동', '논공읍', '다사읍', '대명10동', '대명11동', '대명1동',
       '대명2동', '대명3동', '대명4동', '대명5동', '대명6동', '대명9동', '대봉1동', '대봉2동',
       '대신동', '대현동', '도원동', '도평동', '동인동', '동천동', '동촌동', '두류1.2동', '두류3동',
       '두산동', '만촌1동', '만촌2동', '만촌3동', '무태조야동', '방촌동', '범물1동', '범물2동',
       '범어1동', '범어2동', '범어3동', '범어4동', '복현1동', '복현2동', '본동', '본리동',
       '봉덕1동', '봉덕2동', '봉덕3동', '불로.봉무동', '비산1동', '비산2.3동', '비산4동', '비산5동',
       '비산6동', '비산7동', '산격1동', '산격2동', '산격3동', '산격4동', '삼덕동', '상동',
       '상인1동', '상인2동', '상인3동', '상중이동', '성내1동', '성내2동', '성내3동', '성당동',
       '송현1동', '송현2동', '수성1가동', '수성2.3가동', '수성4가동', '신당동', '신암1동', '신암2동',
       '신암3동', '신암4동', '신암5동', '신천1.2동', '신천3동', '신천4동', '안심1동', '안심2동',
       '안심3.4동', '안심3동', '안심4동', '옥포읍', '용산1동', '용산2동', '원대동', '월성1동',
       '월성2동', '유가읍', '읍내동', '이곡1동', '이곡2동', '이천동', '장기동', '죽전동', '중동',
       '지산1동', '지산2동', '지저동', '진천동', '칠성동', '침산1동', '침산2동', '침산3동',
       '태전1동', '태전2동', '파동', '평리1동', '평리2동', '평리3동', '평리4동', '평리5동',
       '평리6동', '하빈면', '해안동', '혁신동', '현풍읍', '화원읍', '황금1동', '황금2동', '효목1동',
       '효목2동'], dtype=object)

In [920]:
print(sorted(list(elec_daegu['region'].unique())))

['가창면', '감삼동', '검단동', '검사1동', '검사동', '고산1동', '고산2동', '고산3동', '고성동', '공산1동', '공산2동', '공산동', '관문동', '관음동', '구지면', '국우동', '남산1동', '남산2동', '남산3동', '남산4동', '내당1동', '내당2,3동', '내당4동', '노곡동', '노원1,2동', '노원3동', '노원동', '논공읍', '논공읍공단출장소', '다사읍', '다사읍서재출장소', '달성군', '대곡동', '대명10동', '대명11동', '대명1동', '대명2,8동', '대명3,7동', '대명4동', '대명5동', '대명6동', '대명7동', '대명8동', '대명9동', '대봉1동', '대봉2동', '대신1동', '대신2동', '대현동', '도동', '도원동', '도평동', '동인1,2,4가동', '동인동', '동천동', '두류1.2동', '두류1동', '두류2동', '두류3동', '두산동', '둔산동', '둔산부동', '만촌1동', '만촌2동', '만촌3동', '매호동', '무태조야동', '방촌동', '범물1동', '범물2동', '범어1동', '범어2동', '범어3동', '범어4동', '복현1동', '복현2동', '본동', '본리동', '봉덕1동', '봉덕2동', '봉덕3동', '봉무동', '불로.봉무동', '불로동', '비산1동', '비산2,3동', '비산3동', '비산4동', '비산5동', '비산6동', '비산7동', '산격1동', '산격2동', '산격3동', '산격4동', '삼덕동', '상동', '상인1동', '상인2동', '상인3동', '상중이동', '성내1동', '성내2동', '성내3동', '성당1동', '성당2동', '성당동', '성서1동', '성서3동', '송정동', '송현1동', '송현2동', '수성2.3가동', '수성4가동', '수성동1가', '수성동2가', '수성동3가', '수성동4가', '신당동', '신암1동', '신암2동', '신암3동', '신암4동', '신암5동', '신천1동', '신천2동', '신천3동', '신천4동', '신평동', '안심1동', '안심2동', '안심3동', '안심4동', '옥포면', '옥포읍', '용산2동', '원대동', '월성1동', '월성2동', '유가면', '유가읍', '유천동', '읍내동', '이곡2동', '이곡동', '이천2동', '이천동', '입석동', '장기동', '죽전동', '중동', '지산1동', '지산2동', '지저동', '진천동', '칠곡1동', '칠곡2동', '칠곡3동', '칠성동', '침산1동', '침산2동', '침산3동', '태전2동', '태전동', '파동', '평광동', '평리1동', '평리2동', '평리3동', '평리4동', '평리5동', '평리6동', '하빈면', '해안동', '혁신동', '현풍면', '현풍읍', '화원읍', '황금1동', '황금2동', '효목1동', '효목2동']

In [921]:
set(df_month_HI['region'].unique()) - set(elec_daegu['region'].unique())

{'구암동',
 '내당2.3동',
 '대명2동',
 '대명3동',
 '대신동',
 '동촌동',
 '비산2.3동',
 '수성1가동',
 '신천1.2동',
 '안심3.4동',
 '용산1동',
 '이곡1동',
 '태전1동'}

전처리 해야할 것  


1. 내당2,3동을 '내당2.3동'으로 변경  
1. 신천1동과 2동을 '신천1.2동'으로 통합  
1. 안심3동과 4동을 2020년 7월 이전까지 '안심3.4동'으로 통합  
1. 대명2,8동을 '대명2동'으로 변경  
1. 대명3,7동을 '대명3동'으로 변경  
1. 대신1동과 2동을 '대신동'으로 통합  
1. 비산2,3동을 '비산2.3동'으로 변경  
1. 수성동1가를 '수성1가동'으로 변경  
1. 수성동2가와 수성동3가를 '수성2.3가동'으로 통합  
1. 수성동4가를 '수성4가동'로 변경  
1. 이곡2동을 '이곡동'으로 변경  
1. 태전동을 '태전1동'으로 변경  
1. 검사동,검사1동,입석동을 '동촌동'으로 통합  
1. 칠곡1동을 '구암동'으로 변경  
1. 칠곡2동을 '관문동'으로 변경
1. 칠곡3동을 '국우동'으로 변경
1. 불로동과 봉무동을 '불로.봉무동'으로 통합
1. 논공읍공단출장소를 '논공읍'으로 변경
1. 다사읍서재출장소를 '다사읍'으로 변경
1. 공산1동과 공산2동을 '공산동'으로 통합
1. 현풍면을 '현풍읍'으로 변경
1. 옥포면을 '옥포읍'으로 변경
1. 노원1,2동과 노원3동을 '노원동'으로 통합
1. 동인1,2,4가동을 '동인동'으로 변경
1. 두류1동과 두류2동을 '두류1.2동'으로 통합
1. 성당1동과 성당2동을 '성당동'으로 통합  
1. 노곡동을 '관문동'으로 변경  
1. 대곡동을 '성내동'으로 변경  
1. 도동을 '도평동'으로 변경  
1. 매호동을 '고산3동'으로 변경  
1. 송정동을 '공산동'으로 변경  
1. 신편동을 '해안동'으로 변경  
1. 유가면을 '유가읍'으로 변경  
1. 이천2동을 '이천동'으로 변경  
1. 평광동을 '도평동'으로 변경  
1. 비산3동을 '비산2.3동'으로 변경  
1. 유천동을 '월성1동'으로 변경  
1. 둔산동과 둔산부동을 제거  
1. 대명8동을 '대명2동'으로 변경  
1. 대명7동을 '대명3동'으로 변경  
1. 달성군을 '구지면'으로 변경  
1. 성서1동을 '용산동'으로 변경
1. 성서3동을 '이곡동'으로 변경
1. 용산2동을 '용산동'으로 변경
1. 성내1동과 성내2동과 성내3동을 '성내동'으로 통합

In [922]:
# 변경
elec_daegu.loc[elec_daegu['region'] == '내당2,3동', 'region'] = '내당2.3동'
elec_daegu.loc[elec_daegu['region'] == '대명2,8동', 'region'] = '대명2동'
elec_daegu.loc[elec_daegu['region'] == '대명3,7동', 'region'] = '대명3동'
elec_daegu.loc[elec_daegu['region'] == '비산2,3동', 'region'] = '비산2.3동'
elec_daegu.loc[elec_daegu['region'] == '수성동1가', 'region'] = '수성1가동'
elec_daegu.loc[elec_daegu['region'] == '수성동4가', 'region'] = '수성4가동'
elec_daegu.loc[elec_daegu['region'] == '이곡2동', 'region'] = '이곡동'
elec_daegu.loc[elec_daegu['region'] == '태전동', 'region'] = '태전1동'
elec_daegu.loc[elec_daegu['region'] == '칠곡1동', 'region'] = '구암동'
elec_daegu.loc[elec_daegu['region'] == '칠곡3동', 'region'] = '국우동'
elec_daegu.loc[elec_daegu['region'] == '칠곡2동', 'region'] = '관문동'
elec_daegu.loc[elec_daegu['region'] == '논공읍공단출장소', 'region'] = '논공읍'
elec_daegu.loc[elec_daegu['region'] == '다사읍서재출장소', 'region'] = '다사읍'
elec_daegu.loc[elec_daegu['region'] == '동인1,2,4가동', 'region'] = '동인동'
elec_daegu.loc[elec_daegu['region'] == '노곡동', 'region'] = '관문동'
elec_daegu.loc[elec_daegu['region'] == '대곡동', 'region'] = '성내동'
elec_daegu.loc[elec_daegu['region'] == '도동', 'region'] = '도평동'
elec_daegu.loc[elec_daegu['region'] == '매호동', 'region'] = '고산3동'
elec_daegu.loc[elec_daegu['region'] == '송정동', 'region'] = '공산동'
elec_daegu.loc[elec_daegu['region'] == '신평동', 'region'] = '해안동'
elec_daegu.loc[elec_daegu['region'] == '유가면', 'region'] = '유가읍'
elec_daegu.loc[elec_daegu['region'] == '옥포면', 'region'] = '옥포읍'
elec_daegu.loc[elec_daegu['region'] == '현풍면', 'region'] = '현풍읍'
elec_daegu.loc[elec_daegu['region'] == '이천2동', 'region'] = '이천동'
elec_daegu.loc[elec_daegu['region'] == '평광동', 'region'] = '도평동'
elec_daegu.loc[elec_daegu['region'] == '비산3동', 'region'] = '비산2.3동'
elec_daegu.loc[elec_daegu['region'] == '유천동', 'region'] = '월성1동'
elec_daegu.loc[elec_daegu['region'] == '대명8동', 'region'] = '대명2동'
elec_daegu.loc[elec_daegu['region'] == '대명7동', 'region'] = '대명3동'
elec_daegu.loc[elec_daegu['region'] == '달성군', 'region'] = '구지면'
elec_daegu.loc[elec_daegu['region'] == '성서1동', 'region'] = '용산동'
elec_daegu.loc[elec_daegu['region'] == '성서3동', 'region'] = '이곡동'
elec_daegu.loc[elec_daegu['region'] == '용산2동', 'region'] = '용산동'


# 통합
elec_daegu.loc[(elec_daegu['region'] == '신천1동') | (elec_daegu['region'] == '신천2동'), 'region'] = '신천1.2동'
elec_daegu.loc[((elec_daegu['region'] == '안심3동') | (elec_daegu['region'] == '안심4동')) & (((elec_daegu['year'] == 2020) & (elec_daegu['month'] < 7)) | (elec_daegu['year'] < 2020)), 'region'] = '안심3.4동'
elec_daegu.loc[(elec_daegu['region'] == '대신1동') | (elec_daegu['region'] == '대신2동'), 'region'] = '대신동'
elec_daegu.loc[(elec_daegu['region'] == '검사동') | (elec_daegu['region'] == '검사1동') | (elec_daegu['region'] == '입석동'), 'region'] = '동촌동'
elec_daegu.loc[(elec_daegu['region'] == '불로동') | (elec_daegu['region'] == '봉무동'), 'region'] = '불로.봉무동'
elec_daegu.loc[(elec_daegu['region'] == '공산1동') | (elec_daegu['region'] == '공산2동'), 'region'] = '공산동'
elec_daegu.loc[(elec_daegu['region'] == '노원1,2동') | (elec_daegu['region'] == '노원3동'), 'region'] = '노원동'
elec_daegu.loc[(elec_daegu['region'] == '수성동2가') | (elec_daegu['region'] == '수성동3가'), 'region'] = '수성2.3가동'
elec_daegu.loc[(elec_daegu['region'] == '두류1동') | (elec_daegu['region'] == '두류2동'), 'region'] = '두류1.2동'
elec_daegu.loc[(elec_daegu['region'] == '성당1동') | (elec_daegu['region'] == '성당2동'), 'region'] = '성당동'
elec_daegu.loc[(elec_daegu['region'] == '성내1동') | (elec_daegu['region'] == '성내2동') | (elec_daegu['region'] == '성내3동'), 'region'] = '성내동'

In [923]:
elec_daegu = elec_daegu[(elec_daegu['region'] != '둔산동') & (elec_daegu['region'] != '둔산부동')]

겹치지 않는 부분은 df_month_HI 테이블 전처리

1. 용산1동과 용산2동을 '용산동'으로 통합  
2. 이곡1동과 이곡2동을 '이곡동'으로 통합  
1. 성내1동과 성내2동과 성내3동을 '성내동'으로 통합

In [924]:
df_month_HI.loc[(df_month_HI['region'] == '용산1동') | (df_month_HI['region'] == '용산2동'), 'region'] = '용산동'
df_month_HI.loc[(df_month_HI['region'] == '이곡1동') | (df_month_HI['region'] == '이곡2동'), 'region'] = '이곡동'
df_month_HI.loc[(df_month_HI['region'] == '성내1동') | (df_month_HI['region'] == '성내2동') | (df_month_HI['region'] == '성내3동'), 'region'] = '성내동'

겹치는 부분 재확인

In [925]:
set(df_month_HI['region'].unique()) - set(elec_daegu['region'].unique())

set()

In [926]:
df_month_HI[df_month_HI['region']=='이천동']

      region  year  month         HI
16016    이천동  2010      6  24.966123
16017    이천동  2010      7  28.148359
16018    이천동  2010      8  32.147946
16019    이천동  2010      9  23.713136
16020    이천동  2010     10  15.378028
...      ...   ...    ...        ...
16154    이천동  2021     12   2.645491
16155    이천동  2022      1   0.894067
16156    이천동  2022      2   1.323821
16157    이천동  2022      3   8.744601
16158    이천동  2022      4  15.306008

[143 rows x 4 columns]

In [927]:
list[set(elec_daegu['region'].unique()) - set(df_month_HI['region'].unique())]

list[set()]

전처리 중 중복된 지역명을 기준으로 통합
* df_month_HI 테이블

In [928]:
df_month_HI = df_month_HI.groupby(["region","year","month"]).mean().reset_index()

df_month_HI

      region  year  month         HI
0        가창면  2010      6  23.305656
1        가창면  2010      7  26.223425
2        가창면  2010      8  29.701307
3        가창면  2010      9  22.066710
4        가창면  2010     10  14.002856
...      ...   ...    ...        ...
19729   효목2동  2021     12   2.357998
19730   효목2동  2022      1   0.478563
19731   효목2동  2022      2   1.146696
19732   효목2동  2022      3   8.569070
19733   효목2동  2022      4  15.072408

[19734 rows x 4 columns]

* elec_daegu 테이블

In [929]:
elec_daegu.groupby(["region", "year", "month"]).sum().reset_index()

elec_daegu

       year  month city type region unitcount    elecusage
5309   2022      1   남구  가로등   송현2동     62447    5486690.0
5310   2022      1   남구  교육용   송현2동    632214  166331209.0
5311   2022      1   남구  농사용   송현2동       176     231066.0
5312   2022      1   남구  산업용   송현2동      2662    7105615.0
5313   2022      1   남구   심야   송현2동     21571   26705734.0
...     ...    ...  ...  ...    ...       ...          ...
20421  2022      2   중구  일반용    성내동      5473   16725392.0
20422  2022      2   중구  주택용   대봉2동      7905    4518507.0
20423  2022      2   중구  일반용   남산4동      9136   21528292.0
20424  2022      2   중구  주택용    성내동      9824    5313300.0
20425  2022      2   중구  주택용   남산4동     25784   18313188.0

[186715 rows x 7 columns]

기간을 맞추기 위해 df_month_HI 테이블의 2013년 이전 row 제거

In [930]:
df_month_HI = df_month_HI[((df_month_HI['year'] > 2012) & (df_month_HI['year'] < 2022)) | ((df_month_HI['year'] == 2022) & (df_month_HI['month'] < 4))]

# 코드 합치기

In [931]:
e_group=elec_daegu.groupby(['year', 'month', 'region', 'type'], as_index=False)['unitcount', 'elecusage'].sum()

e_group

C:\Users\trap1\AppData\Local\Temp\ipykernel_12968\812133518.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  e_group=elec_daegu.groupby(['year', 'month', 'region', 'type'], as_index=False)['unitcount', 'elecusage'].sum()

        year  month region type  elecusage
0       2013      1    가창면  가로등   238587.0
1       2013      1    가창면  교육용        0.0
2       2013      1    가창면  농사용   302963.0
3       2013      1    가창면  산업용  7629701.0
4       2013      1    가창면   심야  1894274.0
...      ...    ...    ...  ...        ...
105874  2022      3   효목2동  농사용      368.0
105875  2022      3   효목2동  산업용   217092.0
105876  2022      3   효목2동   심야   690840.0
105877  2022      3   효목2동  일반용  8661038.0
105878  2022      3   효목2동  주택용  6092628.0

[105879 rows x 5 columns]

In [932]:
# 년도, 월 읍면동, 계약종을 기준으로 하여 전기사용량 합 구하기 -1
use_sum = elec_daegu.groupby(['year', 'month', 'region', 'type'])['elecusage'].sum()

use_sum

year  month  region  type
2013  1      가창면     가로등      238587.0
                     교육용           0.0
                     농사용      302963.0
                     산업용     7629701.0
                     심야      1894274.0
                               ...
2022  3      효목2동    농사용         368.0
                     산업용      217092.0
                     심야       690840.0
                     일반용     8661038.0
                     주택용     6092628.0
Name: elecusage, Length: 105879, dtype: float64

In [933]:
# 년도, 월 읍면동을 기준으로 하여 전기사용량 합 구하기 -2 
region_sum=  elec_daegu.groupby(['year', 'month', 'region'])['elecusage'].sum()
region_sum

year  month  region
2013  1      가창면        12725055.0
             감삼동        11416379.0
             검단동        17750384.0
             고산1동       15776474.0
             고산2동        9078256.0
                          ...
2022  3      현풍읍        98787041.0
             화원읍        17809026.0
             황금1동       32720742.0
             황금2동      153127018.0
             효목2동       16346760.0
Name: elecusage, Length: 14425, dtype: float64

In [934]:
# 년도/월별/계약종별/지역별 전기사용량 비율 (1/2)*100
s = use_sum/region_sum*100
s.head(6)

year  month  region  type
2013  1      가창면     가로등      1.874939
                     교육용      0.000000
                     농사용      2.380838
                     산업용     59.958098
                     심야      14.886175
                     일반용     14.236520
Name: elecusage, dtype: float64

In [935]:
# 비율 인덱스 리셋
s.reset_index()

        year  month region type  elecusage
0       2013      1    가창면  가로등   1.874939
1       2013      1    가창면  교육용   0.000000
2       2013      1    가창면  농사용   2.380838
3       2013      1    가창면  산업용  59.958098
4       2013      1    가창면   심야  14.886175
...      ...    ...    ...  ...        ...
105874  2022      3   효목2동  농사용   0.002251
105875  2022      3   효목2동  산업용   1.328043
105876  2022      3   효목2동   심야   4.226159
105877  2022      3   효목2동  일반용  52.983209
105878  2022      3   효목2동  주택용  37.271166

[105879 rows x 5 columns]

In [936]:
len(s.values)

105879

In [937]:
# 비율 값 전기 데이터프레임에 넣기
e_group['type_ratio'] = s.values

e_group

        year  month region type  elecusage  type_ratio
0       2013      1    가창면  가로등   238587.0    1.874939
1       2013      1    가창면  교육용        0.0    0.000000
2       2013      1    가창면  농사용   302963.0    2.380838
3       2013      1    가창면  산업용  7629701.0   59.958098
4       2013      1    가창면   심야  1894274.0   14.886175
...      ...    ...    ...  ...        ...         ...
105874  2022      3   효목2동  농사용      368.0    0.002251
105875  2022      3   효목2동  산업용   217092.0    1.328043
105876  2022      3   효목2동   심야   690840.0    4.226159
105877  2022      3   효목2동  일반용  8661038.0   52.983209
105878  2022      3   효목2동  주택용  6092628.0   37.271166

[105879 rows x 6 columns]

In [938]:
# 년도/월/읍면동별 최대 사용비율인 용도 추출
elec_daegu = e_group.loc[e_group.groupby(['year', 'month', 'region'])['type_ratio'].idxmax()]

elec_daegu

        year  month region type   elecusage  type_ratio
3       2013      1    가창면  산업용   7629701.0   59.958098
12      2013      1    감삼동  일반용   5799313.0   50.798182
18      2013      1    검단동  산업용  15566819.0   87.698491
28      2013      1   고산1동  일반용   6542568.0   41.470407
36      2013      1   고산2동  일반용   4378827.0   48.234231
...      ...    ...    ...  ...         ...         ...
105847  2022      3    현풍읍  산업용  74894708.0   75.814304
105857  2022      3    화원읍  주택용   6148540.0   34.524853
105863  2022      3   황금1동  일반용  16639845.0   50.854119
105870  2022      3   황금2동  일반용  77517869.0   50.623247
105877  2022      3   효목2동  일반용   8661038.0   52.983209

[14425 rows x 6 columns]

다시 join

In [939]:
df_join = pd.merge(df_month_HI, elec_daegu, left_on=['region','year','month'], right_on = ['region','year','month'], how='outer')

df_join.sort_values(by=['year','month'])

      region  year  month        HI type   elecusage  type_ratio
0        가창면  2013      1 -2.116829  산업용   7629701.0   59.958098
111      감삼동  2013      1 -1.087097  일반용   5799313.0   50.798182
222      검단동  2013      1 -0.256282  산업용  15566819.0   87.698491
333     고산1동  2013      1 -1.111609  일반용   6542568.0   41.470407
444     고산2동  2013      1 -1.111609  일반용   4378827.0   48.234231
...      ...   ...    ...       ...  ...         ...         ...
14873    화원읍  2022      3  8.090075  주택용   6148540.0   34.524853
14984   황금1동  2022      3  8.570569  일반용  16639845.0   50.854119
15095   황금2동  2022      3  8.744601  일반용  77517869.0   50.623247
15206   효목1동  2022      3  8.569070  NaN         NaN         NaN
15317   효목2동  2022      3  8.569070  일반용   8661038.0   52.983209

[15318 rows x 7 columns]

열지수와 전력사용량이 둘 다 있는 경우만 추출

In [940]:
df_join = df_join.loc[df_join['HI'].notnull() & df_join['elecusage'].notnull()]

df_join.sort_values(by=['region','year','month'])

      region  year  month         HI type   elecusage  type_ratio
0        가창면  2013      1  -2.116829  산업용   7629701.0   59.958098
1        가창면  2013      2   0.174625  산업용   6728242.0   57.694119
2        가창면  2013      3   6.378839  산업용   7377543.0   64.403801
3        가창면  2013      4   8.979282  산업용   7111920.0   65.962355
4        가창면  2013      5  17.713501  산업용   7482582.0   69.370934
...      ...   ...    ...        ...  ...         ...         ...
15313   효목2동  2021     11   8.320766  일반용   9730038.0   52.592779
15314   효목2동  2021     12   2.357998  일반용   8826406.0   52.555143
15315   효목2동  2022      1   0.478563  일반용  10200612.0   53.576252
15316   효목2동  2022      2   1.146696  일반용   9914520.0   52.717454
15317   효목2동  2022      3   8.569070  일반용   8661038.0   52.983209

[14425 rows x 7 columns]

In [941]:
df_join.isnull().sum()

region        0
year          0
month         0
HI            0
type          0
elecusage     0
type_ratio    0
dtype: int64