# **1. 전처리**

### **1. 인구밀도 데이터**

In [34]:
import pandas as pd

df_dens = pd.read_csv('./dataset/pop_density/Daegu_density.csv', index_col=0)

df_dens

       행정구역  year  month  count  면적(km²)          인구밀도
0       가창면  2010     10   9002   111.17     80.975083
1       가창면  2010     11   8969   111.17     80.678241
2       가창면  2010     12   8936   111.17     80.381398
3       가창면  2011      1   8892   111.17     79.985608
4       가창면  2011      2   8731   111.17     78.537375
...     ...   ...    ...    ...      ...           ...
19400  효목2동  2021     12  13167     0.72  18287.500000
19401  효목2동  2022      1  13121     0.72  18223.611111
19402  효목2동  2022      2  13098     0.72  18191.666667
19403  효목2동  2022      3  13070     0.72  18152.777778
19404  효목2동  2022      4  13043     0.72  18115.277778

[19405 rows x 6 columns]

### **2. 기상 데이터**

In [35]:
df_weather = pd.read_csv('./output/daegu_pre.csv')

df_weather

,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,month,year,region,HI,DI
0,1,0,0.0,16.500000,-1,53.0,53.0,390.0,1,6,2010,동인동,15.589444,60.743550
1,1,1,0.0,18.100000,-1,49.0,53.0,390.0,1,6,2010,동인동,17.245000,62.734310
2,1,2,0.0,19.700001,-1,46.0,53.0,390.0,1,6,2010,동인동,18.926668,64.650381
3,1,3,0.0,20.799999,-1,41.0,53.0,390.0,1,6,2010,동인동,20.006110,65.727719
4,1,4,0.0,22.200001,-1,36.0,53.0,390.0,2,6,2010,동인동,21.415557,67.046081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,30,19,0.0,10.700000,-1,71.0,2.1,335.0,-1,4,2022,구지면,9.679444,52.335030
14831612,30,20,0.0,11.000000,-1,65.0,2.2,339.0,-1,4,2022,구지면,9.852778,52.993500
14831613,30,21,0.0,11.900000,-1,61.0,2.2,338.0,-1,4,2022,구지면,10.738333,54.402410
14831614,30,22,0.0,13.400000,-1,53.0,2.0,351.0,-1,4,2022,구지면,12.179444,56.605980
14831615,30,23,0.0,15.100000,-1,41.0,2.1,5.0,-1,4,2022,구지면,13.736111,58.797090

### **2-1. 사용할 column만 추출**

In [36]:
df_HI = df_weather[['region', 'year', 'month', 'HI']]

df_HI

         region  year  month         HI
0           동인동  2010      6  15.589444
1           동인동  2010      6  17.245000
2           동인동  2010      6  18.926668
3           동인동  2010      6  20.006110
4           동인동  2010      6  21.415557
...         ...   ...    ...        ...
14831611    구지면  2022      4   9.679444
14831612    구지면  2022      4   9.852778
14831613    구지면  2022      4  10.738333
14831614    구지면  2022      4  12.179444
14831615    구지면  2022      4  13.736111

[14831616 rows x 4 columns]

### **2-2. 파일 기간 통합을 위해 2010년 10월 이전의 row 삭제**

In [37]:
df_HI.drop(df_HI[(df_HI['year'] == 2010) & (df_HI['month'] < 10)].index, inplace=True)

df_HI

C:\Users\trap1\AppData\Local\Temp\ipykernel_13000\486867846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_HI.drop(df_HI[(df_HI['year'] == 2010) & (df_HI['month'] < 10)].index, inplace=True)

         region  year  month         HI
2928        동인동  2010     10  14.079444
2929        동인동  2010     10  16.930000
2930        동인동  2010     10  18.339444
2931        동인동  2010     10  20.241110
2932        동인동  2010     10  21.603888
...         ...   ...    ...        ...
14831611    구지면  2022      4   9.679444
14831612    구지면  2022      4   9.852778
14831613    구지면  2022      4  10.738333
14831614    구지면  2022      4  12.179444
14831615    구지면  2022      4  13.736111

[14415840 rows x 4 columns]

### **2-3. 달별로 중복된 row를 region명으로 평균값 통합**

In [38]:
df_HI = df_HI.groupby(["region","year","month"]).mean().reset_index()

df_HI

      region  year  month         HI
0        가창면  2010     10  13.845480
1        가창면  2010     11   5.488938
2        가창면  2010     12  -0.149446
3        가창면  2011      1  -4.424866
4        가창면  2011      2   1.495823
...      ...   ...    ...        ...
19733   효목2동  2021     12   2.353966
19734   효목2동  2022      1   0.416735
19735   효목2동  2022      2   1.142232
19736   효목2동  2022      3   8.417064
19737   효목2동  2022      4  14.804484

[19738 rows x 4 columns]

### **3. 안 겹치는 행정구역명이 있는지 확인하기 위해 outer join**

In [39]:
df_join = pd.merge(df_dens, df_HI, left_on=['행정구역','year','month'], right_on = ['region','year','month'], how='outer')

df_join

      행정구역  year  month   count  면적(km²)       인구밀도 region         HI
0      가창면  2010     10  9002.0   111.17  80.975083    가창면  13.845480
1      가창면  2010     11  8969.0   111.17  80.678241    가창면   5.488938
2      가창면  2010     12  8936.0   111.17  80.381398    가창면  -0.149446
3      가창면  2011      1  8892.0   111.17  79.985608    가창면  -4.424866
4      가창면  2011      2  8731.0   111.17  78.537375    가창면   1.495823
...    ...   ...    ...     ...      ...        ...    ...        ...
19749  NaN  2019      8     NaN      NaN        NaN    혁신동  29.527123
19750  NaN  2019      9     NaN      NaN        NaN    혁신동  23.240009
19751  NaN  2019     10     NaN      NaN        NaN    혁신동  16.214514
19752  NaN  2019     11     NaN      NaN        NaN    혁신동   8.793609
19753  NaN  2019     12     NaN      NaN        NaN    혁신동   2.686517

[19754 rows x 8 columns]

### **4. join한 파일의 null 값 확인**

In [40]:
df_join[df_join['행정구역'].isnull()]

      행정구역  year  month  count  면적(km²)  인구밀도  region         HI
19405  NaN  2021      1    NaN      NaN   NaN  안심3.4동   0.003336
19406  NaN  2021      2    NaN      NaN   NaN  안심3.4동   3.872016
19407  NaN  2021      3    NaN      NaN   NaN  안심3.4동   8.767594
19408  NaN  2021      4    NaN      NaN   NaN  안심3.4동  12.899296
19409  NaN  2021      5    NaN      NaN   NaN  안심3.4동  16.945525
...    ...   ...    ...    ...      ...   ...     ...        ...
19749  NaN  2019      8    NaN      NaN   NaN     혁신동  29.527123
19750  NaN  2019      9    NaN      NaN   NaN     혁신동  23.240009
19751  NaN  2019     10    NaN      NaN   NaN     혁신동  16.214514
19752  NaN  2019     11    NaN      NaN   NaN     혁신동   8.793609
19753  NaN  2019     12    NaN      NaN   NaN     혁신동   2.686517

[349 rows x 8 columns]

In [41]:
df_join[df_join['인구밀도'].isnull()]

      행정구역  year  month  count  면적(km²)  인구밀도  region         HI
19405  NaN  2021      1    NaN      NaN   NaN  안심3.4동   0.003336
19406  NaN  2021      2    NaN      NaN   NaN  안심3.4동   3.872016
19407  NaN  2021      3    NaN      NaN   NaN  안심3.4동   8.767594
19408  NaN  2021      4    NaN      NaN   NaN  안심3.4동  12.899296
19409  NaN  2021      5    NaN      NaN   NaN  안심3.4동  16.945525
...    ...   ...    ...    ...      ...   ...     ...        ...
19749  NaN  2019      8    NaN      NaN   NaN     혁신동  29.527123
19750  NaN  2019      9    NaN      NaN   NaN     혁신동  23.240009
19751  NaN  2019     10    NaN      NaN   NaN     혁신동  16.214514
19752  NaN  2019     11    NaN      NaN   NaN     혁신동   8.793609
19753  NaN  2019     12    NaN      NaN   NaN     혁신동   2.686517

[349 rows x 8 columns]

In [42]:
df_join[df_join['인구밀도'] == 0]

         행정구역  year  month  count  면적(km²)  인구밀도  region         HI
13878  안심3.4동  2020      7    0.0    25.12   0.0  안심3.4동  23.572870
13879  안심3.4동  2020      8    0.0    25.12   0.0  안심3.4동  31.253171
13880  안심3.4동  2020      9    0.0    25.12   0.0  안심3.4동  21.014922
13881  안심3.4동  2020     10    0.0    25.12   0.0  안심3.4동  14.181374
13882  안심3.4동  2020     11    0.0    25.12   0.0  안심3.4동   8.109772
13883  안심3.4동  2020     12    0.0    25.12   0.0  안심3.4동   0.791274
13884    안심3동  2020      1    0.0     6.10   0.0    안심3동   3.070506
13885    안심3동  2020      2    0.0     6.10   0.0    안심3동   4.166382
13886    안심3동  2020      3    0.0     6.10   0.0    안심3동   8.294571
13887    안심3동  2020      4    0.0     6.10   0.0    안심3동  11.330940
13888    안심3동  2020      5    0.0     6.10   0.0    안심3동  19.039339
13889    안심3동  2020      6    0.0     6.10   0.0    안심3동  24.717954
13912    안심4동  2020      1    0.0     2.53   0.0    안심4동   3.070506
13913    안심4동  2020      2    0.0     2.53   0.0    안심4동   4.166382
13914    안심4동  2020      3    0.0     2.53   0.0    안심4동   8.294571
13915    안심4동  2020      4    0.0     2.53   0.0    안심4동  11.330940
13916    안심4동  2020      5    0.0     2.53   0.0    안심4동  19.039339
13917    안심4동  2020      6    0.0     2.53   0.0    안심4동  24.717954
14913     유천동  2021      1    0.0     1.25   0.0     NaN        NaN
14914     유천동  2021      2    0.0     1.25   0.0     NaN        NaN
14915     유천동  2021      3    0.0     1.25   0.0     NaN        NaN
14916     유천동  2021      4    0.0     1.25   0.0     NaN        NaN
14917     유천동  2021      5    0.0     1.25   0.0     NaN        NaN
14918     유천동  2021      6    0.0     1.25   0.0     NaN        NaN
14919     유천동  2021      7    0.0     1.25   0.0     NaN        NaN
14920     유천동  2021      8    0.0     1.25   0.0     NaN        NaN
14921     유천동  2021      9    0.0     1.25   0.0     NaN        NaN
14922     유천동  2021     10    0.0     1.25   0.0     NaN        NaN
18543     혁신동  2020      1    0.0    16.42   0.0     혁신동   3.070506
18544     혁신동  2020      2    0.0    16.42   0.0     혁신동   4.166382
18545     혁신동  2020      3    0.0    16.42   0.0     혁신동   8.294571
18546     혁신동  2020      4    0.0    16.42   0.0     혁신동  11.330940
18547     혁신동  2020      5    0.0    16.42   0.0     혁신동  19.039339
18548     혁신동  2020      6    0.0    16.42   0.0     혁신동  24.717954

* **JOIN한 테이블들의 unique값 점검**

In [43]:
set(df_dens['행정구역'].unique()) - set(df_HI['region'].unique())

{'유천동'}

In [44]:
# 
set(df_HI['region'].unique()) - set(df_dens['행정구역'].unique())

set()

### **4-1. 안심3.4동, 안심3동, 안심4동, 혁신동 데이터 확인**
* 2020년을 6월을 기준으로 안심3.4동과 안심3동, 안심4동, 혁신동이 분리되어 있다.

조사
* 2020년 7월 6일 안심3·4동을 안심3동, 안심4동, 혁신동으로 분동  
출처 : https://ko.wikipedia.org/wiki/%EC%95%88%EC%8B%AC%EB%8F%99

In [45]:
df_dens[(df_dens['행정구역']=='안심3.4동') & (df_dens['year']==2020)]

         행정구역  year  month  count  면적(km²)         인구밀도
13872  안심3.4동  2020      1  69135    25.12  2752.189490
13873  안심3.4동  2020      2  69040    25.12  2748.407643
13874  안심3.4동  2020      3  69150    25.12  2752.786624
13875  안심3.4동  2020      4  69421    25.12  2763.574841
13876  안심3.4동  2020      5  69537    25.12  2768.192675
13877  안심3.4동  2020      6  69573    25.12  2769.625796
13878  안심3.4동  2020      7      0    25.12     0.000000
13879  안심3.4동  2020      8      0    25.12     0.000000
13880  안심3.4동  2020      9      0    25.12     0.000000
13881  안심3.4동  2020     10      0    25.12     0.000000
13882  안심3.4동  2020     11      0    25.12     0.000000
13883  안심3.4동  2020     12      0    25.12     0.000000

In [46]:
ansim_list = ['안심3동', '안심4동', '혁신동']

df_dens[(df_dens['행정구역'].isin(ansim_list)) & (df_dens['year']==2020)]

       행정구역  year  month  count  면적(km²)          인구밀도
13884  안심3동  2020      1      0     6.10      0.000000
13885  안심3동  2020      2      0     6.10      0.000000
13886  안심3동  2020      3      0     6.10      0.000000
13887  안심3동  2020      4      0     6.10      0.000000
13888  안심3동  2020      5      0     6.10      0.000000
13889  안심3동  2020      6      0     6.10      0.000000
13890  안심3동  2020      7  21450     6.10   3516.393443
13891  안심3동  2020      8  21443     6.10   3515.245902
13892  안심3동  2020      9  21388     6.10   3506.229508
13893  안심3동  2020     10  21379     6.10   3504.754098
13894  안심3동  2020     11  21380     6.10   3504.918033
13895  안심3동  2020     12  21337     6.10   3497.868852
13912  안심4동  2020      1      0     2.53      0.000000
13913  안심4동  2020      2      0     2.53      0.000000
13914  안심4동  2020      3      0     2.53      0.000000
13915  안심4동  2020      4      0     2.53      0.000000
13916  안심4동  2020      5      0     2.53      0.000000
13917  안심4동  2020      6      0     2.53      0.000000
13918  안심4동  2020      7  29515     2.53  11666.007905
13919  안심4동  2020      8  29515     2.53  11666.007905
13920  안심4동  2020      9  29453     2.53  11641.501976
13921  안심4동  2020     10  29409     2.53  11624.110672
13922  안심4동  2020     11  29367     2.53  11607.509881
13923  안심4동  2020     12  29277     2.53  11571.936759
18543   혁신동  2020      1      0    16.42      0.000000
18544   혁신동  2020      2      0    16.42      0.000000
18545   혁신동  2020      3      0    16.42      0.000000
18546   혁신동  2020      4      0    16.42      0.000000
18547   혁신동  2020      5      0    16.42      0.000000
18548   혁신동  2020      6      0    16.42      0.000000
18549   혁신동  2020      7  18779    16.42   1143.666261
18550   혁신동  2020      8  18845    16.42   1147.685749
18551   혁신동  2020      9  18859    16.42   1148.538368
18552   혁신동  2020     10  18846    16.42   1147.746650
18553   혁신동  2020     11  18821    16.42   1146.224117
18554   혁신동  2020     12  18863    16.42   1148.781973

* **안심 3.4동은 2020년 7월부터 2022년까지의 값을 제거**

In [47]:
df_dens.drop(df_dens.loc[(df_dens['행정구역'] == '안심3.4동') & (df_dens['year'] == 2020) & (df_dens['month'] > 6)].index, inplace=True)

df_dens.drop(df_dens.loc[(df_dens['행정구역'] == '안심3.4동') & (df_dens['year'] > 2020)].index, inplace=True)

In [48]:
df_HI.drop(df_HI.loc[(df_HI['region'] == '안심3.4동') & (df_HI['year'] == 2020) & (df_HI['month'] > 6)].index, inplace=True)

df_HI.drop(df_HI.loc[(df_HI['region'] == '안심3.4동') & (df_HI['year'] > 2020)].index, inplace=True)

* **안심3동, 안심4동, 혁신동은 2010년부터 2020년 6월까지의 값을 제거**

In [49]:
df_dens.drop(df_dens.loc[(df_dens['행정구역'].isin(ansim_list)) & (df_dens['year'] == 2020) & (df_dens['month'] < 7)].index, inplace=True)

df_dens.drop(df_dens.loc[(df_dens['행정구역'].isin(ansim_list)) & (df_dens['year'] < 2020)].index, inplace=True)

In [50]:
df_HI.drop(df_HI.loc[(df_HI['region'].isin(ansim_list)) & (df_HI['year'] == 2020) & (df_HI['month'] < 7)].index, inplace=True)

df_HI.drop(df_HI.loc[(df_HI['region'].isin(ansim_list)) & (df_HI['year'] < 2020)].index, inplace=True)

* **확인**

In [51]:
df_dens[(df_dens['행정구역'].isin(ansim_list)) & (df_dens['year']==2020)]

       행정구역  year  month  count  면적(km²)          인구밀도
13890  안심3동  2020      7  21450     6.10   3516.393443
13891  안심3동  2020      8  21443     6.10   3515.245902
13892  안심3동  2020      9  21388     6.10   3506.229508
13893  안심3동  2020     10  21379     6.10   3504.754098
13894  안심3동  2020     11  21380     6.10   3504.918033
13895  안심3동  2020     12  21337     6.10   3497.868852
13918  안심4동  2020      7  29515     2.53  11666.007905
13919  안심4동  2020      8  29515     2.53  11666.007905
13920  안심4동  2020      9  29453     2.53  11641.501976
13921  안심4동  2020     10  29409     2.53  11624.110672
13922  안심4동  2020     11  29367     2.53  11607.509881
13923  안심4동  2020     12  29277     2.53  11571.936759
18549   혁신동  2020      7  18779    16.42   1143.666261
18550   혁신동  2020      8  18845    16.42   1147.685749
18551   혁신동  2020      9  18859    16.42   1148.538368
18552   혁신동  2020     10  18846    16.42   1147.746650
18553   혁신동  2020     11  18821    16.42   1146.224117
18554   혁신동  2020     12  18863    16.42   1148.781973

In [52]:
df_dens[df_dens['인구밀도'] == 0]

      행정구역  year  month  count  면적(km²)  인구밀도
14913  유천동  2021      1      0     1.25   0.0
14914  유천동  2021      2      0     1.25   0.0
14915  유천동  2021      3      0     1.25   0.0
14916  유천동  2021      4      0     1.25   0.0
14917  유천동  2021      5      0     1.25   0.0
14918  유천동  2021      6      0     1.25   0.0
14919  유천동  2021      7      0     1.25   0.0
14920  유천동  2021      8      0     1.25   0.0
14921  유천동  2021      9      0     1.25   0.0
14922  유천동  2021     10      0     1.25   0.0

### **4-2. 유천동 데이터 확인**
* 로우 데이터에도 2021년 유천동의 인구수가 0이다. -> 전처리 과정은 문제가 없다.

조사
* 2021년 11월 29일 행정동 진천동과 월성1동에서 유천동으로 분동[9]  
출처 : https://ko.wikipedia.org/wiki/%EC%9C%A0%EC%B2%9C%EB%8F%99_(%EB%8C%80%EA%B5%AC)  


* 반면 유천동 신설로 월성1동 면적은 기존 2.57㎢에서 2.18㎢로 줄고,  
진천동도 5.97㎢에서 5.11㎢로 줄어들게 된다.  
출처 : http://news.imaeil.com/page/view/2021100616270719929

In [53]:
df_dens[df_dens['행정구역'] == '유천동']

      행정구역  year  month  count  면적(km²)     인구밀도
14913  유천동  2021      1      0     1.25      0.0
14914  유천동  2021      2      0     1.25      0.0
14915  유천동  2021      3      0     1.25      0.0
14916  유천동  2021      4      0     1.25      0.0
14917  유천동  2021      5      0     1.25      0.0
14918  유천동  2021      6      0     1.25      0.0
14919  유천동  2021      7      0     1.25      0.0
14920  유천동  2021      8      0     1.25      0.0
14921  유천동  2021      9      0     1.25      0.0
14922  유천동  2021     10      0     1.25      0.0
14923  유천동  2021     11  30194     1.25  24155.2
14924  유천동  2021     12  31780     1.25  25424.0
14925  유천동  2022      1  32710     1.25  26168.0
14926  유천동  2022      2  33277     1.25  26621.6
14927  유천동  2022      3  33443     1.25  26754.4
14928  유천동  2022      4  33505     1.25  26804.0

* **df_HI에는 유천동이 없음**

In [54]:
df_HI[df_HI['region'] == '유천동']

Empty DataFrame
Columns: [region, year, month, HI]
Index: []

* **df_HI에 유천동이 없기 때문에 df_dens에서 제거**

In [55]:
df_dens.drop(df_dens[(df_dens['행정구역'] == '유천동')].index, inplace=True)

df_dens[(df_dens['행정구역'] == '유천동')]

Empty DataFrame
Columns: [행정구역, year, month, count, 면적(km²), 인구밀도]
Index: []

### **4-3. 월성1동 데이터 확인**

In [56]:
df_dens[df_dens['행정구역'] == '월성1동']

       행정구역  year  month  count  면적(km²)          인구밀도
14496  월성1동  2010     10  34033     2.18  15611.467890
14497  월성1동  2010     11  34653     2.18  15895.871560
14498  월성1동  2010     12  35528     2.18  16297.247706
14499  월성1동  2011      1  36154     2.18  16584.403670
14500  월성1동  2011      2  36902     2.18  16927.522936
...     ...   ...    ...    ...      ...           ...
14630  월성1동  2021     12  37326     2.18  17122.018349
14631  월성1동  2022      1  37186     2.18  17057.798165
14632  월성1동  2022      2  37109     2.18  17022.477064
14633  월성1동  2022      3  37011     2.18  16977.522936
14634  월성1동  2022      4  36967     2.18  16957.339450

[139 rows x 6 columns]

* **2021년 10월까지의 면적을 2.57로 변경하고 인구밀도도 재계산**

In [57]:
WS_filter = ((df_dens['행정구역'] == '월성1동') & (df_dens['year'] == 2021) & (df_dens['month'] < 11)) | ((df_dens['행정구역'] == '월성1동') & (df_dens['year'] < 2021))

df_dens.loc[WS_filter, '면적(km²)'] = 2.57

df_dens.loc[WS_filter, '인구밀도'] = df_dens.loc[WS_filter, 'count'] / df_dens.loc[WS_filter, '면적(km²)']

# 확인

df_dens[df_dens['행정구역'] == '월성1동']

       행정구역  year  month  count  면적(km²)          인구밀도
14496  월성1동  2010     10  34033     2.57  13242.412451
14497  월성1동  2010     11  34653     2.57  13483.657588
14498  월성1동  2010     12  35528     2.57  13824.124514
14499  월성1동  2011      1  36154     2.57  14067.704280
14500  월성1동  2011      2  36902     2.57  14358.754864
...     ...   ...    ...    ...      ...           ...
14630  월성1동  2021     12  37326     2.18  17122.018349
14631  월성1동  2022      1  37186     2.18  17057.798165
14632  월성1동  2022      2  37109     2.18  17022.477064
14633  월성1동  2022      3  37011     2.18  16977.522936
14634  월성1동  2022      4  36967     2.18  16957.339450

[139 rows x 6 columns]

### **4-4. 진천동 데이터 확인**

In [58]:
df_dens[df_dens['행정구역'] == '진천동']

      행정구역  year  month  count  면적(km²)         인구밀도
16319  진천동  2010     10  52779     5.97  8840.703518
16320  진천동  2010     11  52775     5.97  8840.033501
16321  진천동  2010     12  52740     5.97  8834.170854
16322  진천동  2011      1  52696     5.97  8826.800670
16323  진천동  2011      2  52674     5.97  8823.115578
...    ...   ...    ...    ...      ...          ...
16453  진천동  2021     12  51502     5.97  8626.800670
16454  진천동  2022      1  51348     5.97  8601.005025
16455  진천동  2022      2  51254     5.97  8585.259631
16456  진천동  2022      3  51098     5.97  8559.128978
16457  진천동  2022      4  50949     5.97  8534.170854

[139 rows x 6 columns]

* **2021년 10월 이후의 면적을 2.57로 변경하고 인구밀도도 재계산**

In [59]:
JC_filter = ((df_dens['행정구역'] == '진천동') & (df_dens['year'] == 2021) & (df_dens['month'] >= 11)) | ((df_dens['행정구역'] == '진천동') & (df_dens['year'] > 2021))

df_dens.loc[JC_filter, '면적(km²)'] = 5.11

df_dens.loc[JC_filter, '인구밀도'] = df_dens.loc[JC_filter, 'count'] / df_dens.loc[JC_filter, '면적(km²)']

# 확인

df_dens[df_dens['행정구역'] == '진천동']

      행정구역  year  month  count  면적(km²)          인구밀도
16319  진천동  2010     10  52779     5.97   8840.703518
16320  진천동  2010     11  52775     5.97   8840.033501
16321  진천동  2010     12  52740     5.97   8834.170854
16322  진천동  2011      1  52696     5.97   8826.800670
16323  진천동  2011      2  52674     5.97   8823.115578
...    ...   ...    ...    ...      ...           ...
16453  진천동  2021     12  51502     5.11  10078.669276
16454  진천동  2022      1  51348     5.11  10048.532290
16455  진천동  2022      2  51254     5.11  10030.136986
16456  진천동  2022      3  51098     5.11   9999.608611
16457  진천동  2022      4  50949     5.11   9970.450098

[139 rows x 6 columns]

In [60]:
df_dens

       행정구역  year  month  count  면적(km²)          인구밀도
0       가창면  2010     10   9002   111.17     80.975083
1       가창면  2010     11   8969   111.17     80.678241
2       가창면  2010     12   8936   111.17     80.381398
3       가창면  2011      1   8892   111.17     79.985608
4       가창면  2011      2   8731   111.17     78.537375
...     ...   ...    ...    ...      ...           ...
19400  효목2동  2021     12  13167     0.72  18287.500000
19401  효목2동  2022      1  13121     0.72  18223.611111
19402  효목2동  2022      2  13098     0.72  18191.666667
19403  효목2동  2022      3  13070     0.72  18152.777778
19404  효목2동  2022      4  13043     0.72  18115.277778

[19365 rows x 6 columns]

# **2. EDA**

### **1. 전처리 완료 데이터 JOIN**

In [61]:
df_join = pd.merge(df_dens, df_HI, left_on=['행정구역','year','month'], right_on = ['region','year','month'], how='outer')

df_join

       행정구역  year  month  count  면적(km²)          인구밀도 region         HI
0       가창면  2010     10   9002   111.17     80.975083    가창면  13.845480
1       가창면  2010     11   8969   111.17     80.678241    가창면   5.488938
2       가창면  2010     12   8936   111.17     80.381398    가창면  -0.149446
3       가창면  2011      1   8892   111.17     79.985608    가창면  -4.424866
4       가창면  2011      2   8731   111.17     78.537375    가창면   1.495823
...     ...   ...    ...    ...      ...           ...    ...        ...
19360  효목2동  2021     12  13167     0.72  18287.500000   효목2동   2.353966
19361  효목2동  2022      1  13121     0.72  18223.611111   효목2동   0.416735
19362  효목2동  2022      2  13098     0.72  18191.666667   효목2동   1.142232
19363  효목2동  2022      3  13070     0.72  18152.777778   효목2동   8.417064
19364  효목2동  2022      4  13043     0.72  18115.277778   효목2동  14.804484

[19365 rows x 8 columns]

* **null값 확인**

In [62]:
df_join[df_join['HI'].isnull()]

Empty DataFrame
Columns: [행정구역, year, month, count, 면적(km²), 인구밀도, region, HI]
Index: []

In [63]:
df_join[df_join['인구밀도'].isnull()]

Empty DataFrame
Columns: [행정구역, year, month, count, 면적(km²), 인구밀도, region, HI]
Index: []

In [64]:
df_join[df_join['행정구역'].isnull()]

Empty DataFrame
Columns: [행정구역, year, month, count, 면적(km²), 인구밀도, region, HI]
Index: []

In [65]:
df_join[df_join['region'].isnull()]

Empty DataFrame
Columns: [행정구역, year, month, count, 면적(km²), 인구밀도, region, HI]
Index: []

In [66]:
# xs      = df['DATE'].to_list()
# xlabels = df['DATE'].apply(lambda x: x[4:]).to_list() #// 람다로 YYYYMMDD에서 MMDD만 추출하여 사용
# ys      = df['AMOUNT'].to_list()
# plt.plot(xs, ys)
# plt.xticks(ticks=xs, labels=xlabels, rotation=45)
# plt.xlabel('2020 Daily Trend')
# plt.locator_params(axis='x', nbins=len(xlabels)/2)