# ※ 필요한 패키지 및 데이터 불러오기

In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('daegu.csv', encoding = 'cp949')

In [3]:
df_pre = pd.read_csv('daegu_pre.csv')

<hr>

# 1. 겨울에 따뜻하면 여름에 폭염이 나타난다.
- made by 임낙현

In [9]:
동인동_2010=df_pre.loc[(df_pre['region']=='동인동') & (df_pre['year']==2010),:]

In [14]:
동인동_2010.head()

,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,month,year,region
0,1,0,0.0,16.5,-1,53.0,53.0,390.0,1,6,2010,동인동
1,1,1,0.0,18.1,-1,49.0,53.0,390.0,1,6,2010,동인동
2,1,2,0.0,19.7,-1,46.0,53.0,390.0,1,6,2010,동인동
3,1,3,0.0,20.8,-1,41.0,53.0,390.0,1,6,2010,동인동
4,1,4,0.0,22.2,-1,36.0,53.0,390.0,2,6,2010,동인동

In [13]:
동인동_2010['temp']=round(동인동_2010['temp'],2)

C:\Users\User\AppData\Local\Temp\ipykernel_14304\3022302715.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  동인동_2010['temp']=round(동인동_2010['temp'],2)

In [74]:
weather=동인동_2010.loc[(동인동_2010['month']>=6)&(동인동_2010['month']<=8),['year','month','day','hour','temp','region']]

In [75]:
weather

      year  month  day  hour  temp region
0     2010      6    1     0  16.5    동인동
1     2010      6    1     1  18.1    동인동
2     2010      6    1     2  19.7    동인동
3     2010      6    1     3  20.8    동인동
4     2010      6    1     4  22.2    동인동
...    ...    ...  ...   ...   ...    ...
2203  2010      8   31    19  25.4    동인동
2204  2010      8   31    20  25.4    동인동
2205  2010      8   31    21  25.1    동인동
2206  2010      8   31    22  25.0    동인동
2207  2010      8   31    23  25.3    동인동

[2208 rows x 6 columns]

In [76]:
weather.loc[(weather['temp']==-1)|(weather['temp']==-50),:].count()

year      36
month     36
day       36
hour      36
temp      36
region    36
dtype: int64

In [51]:
import numpy as np

In [85]:
weather.replace(-1,100)

      year  month  day  hour  temp region
0     2010      6    1     0  16.5    동인동
1     2010      6    1     1  18.1    동인동
2     2010      6    1     2  19.7    동인동
3     2010      6    1     3  20.8    동인동
4     2010      6    1     4  22.2    동인동
...    ...    ...  ...   ...   ...    ...
2203  2010      8   31    19  25.4    동인동
2204  2010      8   31    20  25.4    동인동
2205  2010      8   31    21  25.1    동인동
2206  2010      8   31    22  25.0    동인동
2207  2010      8   31    23  25.3    동인동

[2208 rows x 6 columns]

In [86]:
weather.loc[(weather['temp']==-1)|(weather['temp']==-50),:].count()

year      36
month     36
day       36
hour      36
temp      36
region    36
dtype: int64

In [69]:
동인동_2010_여름온도.interpolate(method='linear',limit_direction='forward')

      year  month  day  hour  temp region
0     2010      6    1     0  16.5    동인동
1     2010      6    1     1  18.1    동인동
2     2010      6    1     2  19.7    동인동
3     2010      6    1     3  20.8    동인동
4     2010      6    1     4  22.2    동인동
...    ...    ...  ...   ...   ...    ...
2203  2010      8   31    19  25.4    동인동
2204  2010      8   31    20  25.4    동인동
2205  2010      8   31    21  25.1    동인동
2206  2010      8   31    22  25.0    동인동
2207  2010      8   31    23  25.3    동인동

[2208 rows x 6 columns]

In [71]:
동인동_2010_여름온도

      year  month  day  hour  temp region
0     2010      6    1     0  16.5    동인동
1     2010      6    1     1  18.1    동인동
2     2010      6    1     2  19.7    동인동
3     2010      6    1     3  20.8    동인동
4     2010      6    1     4  22.2    동인동
...    ...    ...  ...   ...   ...    ...
2203  2010      8   31    19  25.4    동인동
2204  2010      8   31    20  25.4    동인동
2205  2010      8   31    21  25.1    동인동
2206  2010      8   31    22  25.0    동인동
2207  2010      8   31    23  25.3    동인동

[2208 rows x 6 columns]

In [70]:
동인동_2010_여름온도.loc[(동인동_2010_여름온도['temp']==-1)|(동인동_2010_여름온도['temp']==-50),:]

      year  month  day  hour  temp region
8     2010      6    1     8 -50.0    동인동
54    2010      6    3     6 -50.0    동인동
55    2010      6    3     7 -50.0    동인동
170   2010      6    8     2  -1.0    동인동
171   2010      6    8     3  -1.0    동인동
172   2010      6    8     4  -1.0    동인동
173   2010      6    8     5  -1.0    동인동
174   2010      6    8     6  -1.0    동인동
320   2010      6   14     8  -1.0    동인동
400   2010      6   17    16  -1.0    동인동
494   2010      6   21    14  -1.0    동인동
520   2010      6   22    16  -1.0    동인동
540   2010      6   23    12  -1.0    동인동
616   2010      6   26    16  -1.0    동인동
642   2010      6   27    18  -1.0    동인동
796   2010      7    4     4  -1.0    동인동
891   2010      7    8     3  -1.0    동인동
902   2010      7    8    14  -1.0    동인동
924   2010      7    9    12  -1.0    동인동
928   2010      7    9    16  -1.0    동인동
962   2010      7   11     2  -1.0    동인동
966   2010      7   11     6  -1.0    동인동
1028  2010      7   13    20  -1.0    동인동
1071  2010      7   15    15  -1.0    동인동
1086  2010      7   16     6  -1.0    동인동
1089  2010      7   16     9  -1.0    동인동
1094  2010      7   16    14  -1.0    동인동
1314  2010      7   25    18  -1.0    동인동
1585  2010      8    6     1  -1.0    동인동
1613  2010      8    7     5  -1.0    동인동
1663  2010      8    9     7  -1.0    동인동
1728  2010      8   12     0  -1.0    동인동
1884  2010      8   18    12  -1.0    동인동
1953  2010      8   21     9  -1.0    동인동
2023  2010      8   24     7  -1.0    동인동
2051  2010      8   25    11  -1.0    동인동

In [32]:
동인동_2010_여름온도_6월_1일=동인동_2010_여름온도.loc[(동인동_2010_여름온도['month']==6)&(동인동_2010_여름온도['day']==1),:]

In [36]:
동인동_2010_여름온도_6월_1일.loc[(동인동_2010_여름온도_6월_1일['hour']==0),'temp']

0    16.5
Name: temp, dtype: float64

In [37]:
동인동_2010_여름온도_6월_1일

    year  month  day  hour  temp region
0   2010      6    1     0  16.5    동인동
1   2010      6    1     1  18.1    동인동
2   2010      6    1     2  19.7    동인동
3   2010      6    1     3  20.8    동인동
4   2010      6    1     4  22.2    동인동
5   2010      6    1     5  22.4    동인동
6   2010      6    1     6  22.5    동인동
7   2010      6    1     7  22.3    동인동
8   2010      6    1     8 -50.0    동인동
9   2010      6    1     9  22.0    동인동
10  2010      6    1    10  19.9    동인동
11  2010      6    1    11  18.3    동인동
12  2010      6    1    12  17.3    동인동
13  2010      6    1    13  16.8    동인동
14  2010      6    1    14  16.2    동인동
15  2010      6    1    15  15.5    동인동
16  2010      6    1    16  14.9    동인동
17  2010      6    1    17  14.7    동인동
18  2010      6    1    18  14.4    동인동
19  2010      6    1    19  13.2    동인동
20  2010      6    1    20  12.7    동인동
21  2010      6    1    21  12.6    동인동
22  2010      6    1    22  13.9    동인동
23  2010      6    1    23  16.4    동인동