# EDA 5번) 대구의 지형 특성 (분지) 분석
* 대구와 **비슷한** 분지 지형 기후 탐색
* 대구와 **다른 지형**의 지역 기후 탐색

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df_busan = pd.read_csv("output/Busan_pre.csv")
df_daegu = pd.read_csv("output/Daegu_pre.csv")
df_daejeon = pd.read_csv("output/Daejeon_pre.csv")

# 부산

In [27]:
busan = df_busan[['region','year','month','day','hour','rainfall','temp','lightning','humidity','wind_speed','wind_direction','condition','HI','DI']]
busan

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
0,중앙동,2010,6,1,0,0.0,14.700000,-1,61.0,53.0,390.0,1,13.818333,58.361330
1,중앙동,2010,6,1,1,0.0,15.400000,-1,56.0,53.0,390.0,3,14.457778,59.303760
2,중앙동,2010,6,1,2,0.0,16.000000,-1,51.0,53.0,390.0,3,14.987222,60.045400
3,중앙동,2010,6,1,3,0.0,16.600000,-1,52.0,53.0,390.0,2,15.673333,60.855680
4,중앙동,2010,6,1,4,0.0,17.700001,-1,45.0,53.0,390.0,3,16.700557,62.087351
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21411835,철마면,2022,4,30,19,0.0,11.700000,-1,63.0,2.5,359.0,-1,10.570556,54.065290
21411836,철마면,2022,4,30,20,0.0,11.400000,-1,61.0,2.5,340.0,-1,10.188333,53.695460
21411837,철마면,2022,4,30,21,0.0,12.100000,-1,56.0,1.1,345.0,-1,10.827778,54.801240
21411838,철마면,2022,4,30,22,0.0,14.300000,-1,45.0,1.4,307.0,-1,12.960556,57.818650
21411839,철마면,2022,4,30,23,0.0,16.299999,-1,37.0,1.9,323.0,-1,14.951666,60.182689

In [28]:
busan[busan['humidity'] == 0]

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
10965,중앙동,2011,8,31,21,0.0,0.000000,0,0.0,0.000000,0.0,1,0.000000,46.300000
15518,중앙동,2012,3,8,14,0.0,7.000000,0,0.0,3.200000,35.0,3,3.755556,51.970000
115413,동광동,2011,8,31,21,0.0,0.000000,0,0.0,0.000000,0.0,1,0.000000,46.300000
119966,동광동,2012,3,8,14,0.0,7.000000,0,0.0,3.200000,35.0,3,3.755556,51.970000
219861,대청동,2011,8,31,21,0.0,0.000000,0,0.0,0.000000,0.0,1,0.000000,46.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21218462,일광면,2012,3,8,14,0.0,6.000000,0,0.0,3.000000,27.0,3,2.655556,51.160000
21278712,일광면,2019,1,22,0,0.0,5.600000,-1,0.0,1.600000,294.0,-1,2.215556,50.836000
21310299,철마면,2010,9,30,3,0.0,0.000000,-1,0.0,52.799999,389.0,1,0.000000,46.300000
21317476,철마면,2011,7,26,4,0.0,34.299999,0,0.0,0.000000,0.0,4,30.268417,74.082999
21318357,철마면,2011,8,31,21,0.0,0.000000,0,0.0,0.000000,0.0,1,0.000000,46.300000

# 대구

In [31]:
daegu = df_daegu[['region','year','month','day','hour','rainfall','temp','lightning','humidity','wind_speed','wind_direction','condition','HI','DI']]
daegu

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
0,동인동,2010,6,1,0,0.0,16.500000,-1,53.0,53.0,390.0,1,15.589444,60.743550
1,동인동,2010,6,1,1,0.0,18.100000,-1,49.0,53.0,390.0,1,17.245000,62.734310
2,동인동,2010,6,1,2,0.0,19.700001,-1,46.0,53.0,390.0,1,18.926668,64.650381
3,동인동,2010,6,1,3,0.0,20.799999,-1,41.0,53.0,390.0,1,20.006110,65.727719
4,동인동,2010,6,1,4,0.0,22.200001,-1,36.0,53.0,390.0,2,21.415557,67.046081
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,구지면,2022,4,30,19,0.0,10.700000,-1,71.0,2.1,335.0,-1,9.679444,52.335030
14831612,구지면,2022,4,30,20,0.0,11.000000,-1,65.0,2.2,339.0,-1,9.852778,52.993500
14831613,구지면,2022,4,30,21,0.0,11.900000,-1,61.0,2.2,338.0,-1,10.738333,54.402410
14831614,구지면,2022,4,30,22,0.0,13.400000,-1,53.0,2.0,351.0,-1,12.179444,56.605980
14831615,구지면,2022,4,30,23,0.0,15.100000,-1,41.0,2.1,5.0,-1,13.736111,58.797090

In [32]:
df_daegu[df_daegu['HI'] == 0]

,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,month,year,region,HI,DI
4287,26,15,0.0,0.0,-1,32.0,53.0,390.0,1,11,2010,동인동,0.0,41.724
4336,28,16,0.0,0.0,-1,37.0,53.0,390.0,1,11,2010,동인동,0.0,41.009
4579,8,19,0.0,0.0,-1,55.0,3.7,273.0,1,12,2010,동인동,0.0,38.435
4609,10,1,0.0,0.0,-1,50.0,0.4,0.0,3,12,2010,동인동,0.0,39.150
4645,11,13,0.0,0.0,-1,22.0,3.1,279.0,1,12,2010,동인동,0.0,43.154
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14830198,2,22,0.0,0.0,-1,71.0,0.9,358.0,-1,3,2022,구지면,0.0,36.147
14830216,3,16,0.0,0.0,-1,71.0,0.4,148.0,-1,3,2022,구지면,0.0,36.147
14830291,6,19,0.0,0.0,-1,52.0,2.0,7.0,-1,3,2022,구지면,0.0,38.864
14830338,8,18,0.0,0.0,-1,75.0,0.0,0.0,-1,3,2022,구지면,0.0,35.575
14830700,23,20,0.0,0.0,-1,98.0,0.3,196.0,-1,3,2022,구지면,0.0,32.286

# 대전

In [33]:
daejeon = df_daejeon[['region','year','month','day','hour','rainfall','temp','lightning','humidity','wind_speed','wind_direction','condition','HI','DI']]
daejeon

,region,year,month,day,hour,rainfall,temp,lightning,humidity,wind_speed,wind_direction,condition,HI,DI
0,중앙동,2010,6,1,0,0.0,17.400000,-1,44.0,53.0,390.0,1,16.344444,61.681440
1,중앙동,2010,6,1,1,0.0,18.700001,-1,39.0,53.0,390.0,1,17.643890,63.090071
2,중앙동,2010,6,1,2,0.0,19.900000,-1,37.0,53.0,390.0,1,18.911667,64.417370
3,중앙동,2010,6,1,3,0.0,20.600000,-1,35.0,53.0,390.0,1,19.629444,65.118900
4,중앙동,2010,6,1,4,0.0,21.700001,-1,33.0,53.0,390.0,1,20.787223,66.247391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8251387,목상동,2022,4,30,19,0.0,5.600000,-1,94.0,0.0,0.0,-1,4.670000,42.605360
8251388,목상동,2022,4,30,20,0.0,5.300000,-1,95.0,0.0,230.0,-1,4.366111,41.992650
8251389,목상동,2022,4,30,21,0.0,8.200000,-1,93.0,0.0,0.0,-1,7.503889,47.192740
8251390,목상동,2022,4,30,22,0.0,11.100000,-1,66.0,1.8,200.0,-1,9.988889,53.105740
8251391,목상동,2022,4,30,23,0.0,12.700000,-1,54.0,0.9,189.0,-1,11.435556,55.654420