# Mr. Park JW 과 함께하는 프로토타입 제작소

### 김형우와 함께하는 끔찍한 빅분
![](./static/너굴맨.jpg)  
은 너굴맨이 처리했으니 안심하라구

In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('./output/daegu_final.csv')

In [3]:
df

,year,month,day,hour,datetime,temp,rainfall,lightning,humidity,wind_speed,wind_direction,condition,region,HI,DI
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,-1,53.0,NaN,NaN,1,동인동,15.589444,60.74355
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,-1,49.0,NaN,NaN,1,동인동,17.245000,62.73431
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,-1,46.0,NaN,NaN,1,동인동,18.926667,64.65038
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,-1,41.0,NaN,NaN,1,동인동,20.006111,65.72772
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,-1,36.0,NaN,NaN,2,동인동,21.415556,67.04608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,-1,71.0,2.1,335.0,-1,구지면,9.679444,52.33503
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,-1,65.0,2.2,339.0,-1,구지면,9.852778,52.99350
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,-1,61.0,2.2,338.0,-1,구지면,10.738333,54.40241
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,-1,53.0,2.0,351.0,-1,구지면,12.179444,56.60598
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,-1,41.0,2.1,5.0,-1,구지면,13.736111,58.79709

# 딥 러닝을 위한 DF 변경

In [4]:
df.drop(['lightning','condition'], axis=1, inplace=True)

In [5]:
df.reset_index(drop=True, inplace=True)

## 고도

In [6]:
import pandas as pd
df_=pd.read_excel('./dataset/Daegu/0 대구 동네예보 지점 좌표.xlsx')

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [ ]:
df_ = df_[df_['1단계'] == '대구광역시'][['3단계','경도(초/100)','위도(초/100)']].dropna().reset_index(drop=True)
df_

      3단계   경도(초/100)  위도(초/100)
0     동인동  128.609131  35.867905
1     삼덕동  128.611167  35.862575
2    성내1동  128.600356  35.866250
3    성내2동  128.592622  35.865347
4    성내3동  128.587942  35.869611
..    ...         ...        ...
137   옥포읍  128.465978  35.786642
138   현풍읍  128.449786  35.694314
139   가창면  128.624689  35.799831
140   하빈면  128.447711  35.897944
141   구지면  128.415667  35.655764

[142 rows x 3 columns]

In [ ]:
df__ = pd.read_csv('./dataset/daegu_height.csv')
df__.drop(['UTM-K X','UTM-K Y','region'], axis=1, inplace=True)
df__

        height     WGS84 X    WGS84 Y
0        40.43  128.550443  35.836146
1        41.83  128.550428  35.835335
2        43.90  128.550412  35.834524
3        45.95  128.550396  35.833713
4        39.07  128.551471  35.837755
...        ...         ...        ...
132960   42.04  128.617540  35.867530
132961   42.11  128.617523  35.866720
132962   50.75  128.618619  35.871571
132963   55.92  128.618602  35.870760
132964   60.51  128.618586  35.869949

[132965 rows x 3 columns]

In [ ]:
import math
df_['height'] = None
for index, data_row in df_.iterrows():
    X=0
    Y=0
    min_distance = 1000
    height = 0
    for index2, data_row2 in df__.iterrows():
        distance = math.sqrt((data_row[1] - data_row2[1])**2 + (data_row[2] - data_row2[2])**2)
        if min_distance > distance:
            min_distance = distance
            height = data_row2[0]
    df_.loc[index, 'height'] = height

In [ ]:
df_

      3단계   경도(초/100)  위도(초/100) height
0     동인동  128.609131  35.867905  42.48
1     삼덕동  128.611167  35.862575  46.23
2    성내1동  128.600356  35.866250  44.74
3    성내2동  128.592622  35.865347  42.68
4    성내3동  128.587942  35.869611  39.66
..    ...         ...        ...    ...
137   옥포읍  128.465978  35.786642  59.71
138   현풍읍  128.449786  35.694314  33.63
139   가창면  128.624689  35.799831  94.98
140   하빈면  128.447711  35.897944   96.8
141   구지면  128.415667  35.655764  28.31

[142 rows x 4 columns]

In [ ]:
height = df_

In [ ]:
df = pd.merge(df,df_[['3단계','height']], how='left', left_on='region', right_on='3단계')
df.drop(['3단계'], axis=1, inplace=True)

In [ ]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,region,HI,DI,height
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,53.0,NaN,NaN,동인동,15.589444,60.74355,42.48
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,49.0,NaN,NaN,동인동,17.245000,62.73431,42.48
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,46.0,NaN,NaN,동인동,18.926667,64.65038,42.48
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,41.0,NaN,NaN,동인동,20.006111,65.72772,42.48
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,36.0,NaN,NaN,동인동,21.415556,67.04608,42.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,71.0,2.1,335.0,구지면,9.679444,52.33503,28.31
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,65.0,2.2,339.0,구지면,9.852778,52.99350,28.31
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,61.0,2.2,338.0,구지면,10.738333,54.40241,28.31
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,53.0,2.0,351.0,구지면,12.179444,56.60598,28.31
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,41.0,2.1,5.0,구지면,13.736111,58.79709,28.31

In [ ]:
# df_ = df
# df_.to_csv('./output/daegu_final_height.csv', index=False)

## 전력량

In [ ]:
# 용도별 전력사용량 로드
e_group=pd.read_csv('./dataset/Daegu/0 daegu_elec_final.csv', encoding='cp949')
e_group

       year  month region_1 contract type  customer    elec_use  use ratio
0      2013      1      가창면           가로등     314.0    238587.0   1.874939
1      2013      1      가창면           농사용    1088.0    302963.0   2.380838
2      2013      1      가창면           산업용      90.0   7629701.0  59.958098
3      2013      1      가창면            심야     524.0   1894274.0  14.886175
4      2013      1      가창면           일반용     620.0   1811605.0  14.236520
...     ...    ...      ...           ...       ...         ...        ...
90382  2022      3     효목2동           농사용      16.0       736.0   0.002251
90383  2022      3     효목2동           산업용     192.0    434184.0   1.328043
90384  2022      3     효목2동            심야    1036.0   1381680.0   4.226159
90385  2022      3     효목2동           일반용    8828.0  17322076.0  52.983209
90386  2022      3     효목2동           주택용   46492.0  12185256.0  37.271166

[90387 rows x 7 columns]

In [ ]:
# 데이터 복사
e_group1=e_group.copy()
e_group1

       year  month region_1 contract type  customer    elec_use  use ratio
0      2013      1      가창면           가로등     314.0    238587.0   1.874939
1      2013      1      가창면           농사용    1088.0    302963.0   2.380838
2      2013      1      가창면           산업용      90.0   7629701.0  59.958098
3      2013      1      가창면            심야     524.0   1894274.0  14.886175
4      2013      1      가창면           일반용     620.0   1811605.0  14.236520
...     ...    ...      ...           ...       ...         ...        ...
90382  2022      3     효목2동           농사용      16.0       736.0   0.002251
90383  2022      3     효목2동           산업용     192.0    434184.0   1.328043
90384  2022      3     효목2동            심야    1036.0   1381680.0   4.226159
90385  2022      3     효목2동           일반용    8828.0  17322076.0  52.983209
90386  2022      3     효목2동           주택용   46492.0  12185256.0  37.271166

[90387 rows x 7 columns]

In [ ]:
# customer, elec 열 제거
e_group1=e_group1.drop(['customer','elec_use'], axis=1)
e_group1

       year  month region_1 contract type  use ratio
0      2013      1      가창면           가로등   1.874939
1      2013      1      가창면           농사용   2.380838
2      2013      1      가창면           산업용  59.958098
3      2013      1      가창면            심야  14.886175
4      2013      1      가창면           일반용  14.236520
...     ...    ...      ...           ...        ...
90382  2022      3     효목2동           농사용   0.002251
90383  2022      3     효목2동           산업용   1.328043
90384  2022      3     효목2동            심야   4.226159
90385  2022      3     효목2동           일반용  52.983209
90386  2022      3     효목2동           주택용  37.271166

[90387 rows x 5 columns]

In [ ]:
# contract tpye의 값을 열로 옮기고 use ratio 열의 값을 contract type값으로 넣음
e_pivot=e_group1.pivot_table(index=['year', 'month','region_1'], columns= 'contract type', values='use ratio').reset_index()
e_pivot

contract type,year,month,region_1,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용
0,2013,1,가창면,1.874939,NaN,2.380838,59.958098,14.886175,14.236520,NaN,6.663429
1,2013,1,감삼동,0.999161,1.031912,NaN,3.514994,7.186035,50.798182,0.614100,35.855616
2,2013,1,검단동,0.330675,NaN,0.255121,87.698491,1.162335,5.444705,0.004479,5.104194
3,2013,1,고산1동,0.934955,3.384444,0.236130,14.009905,2.812061,41.470407,NaN,37.152097
4,2013,1,고산2동,3.152808,1.268371,1.440750,9.721878,4.623025,48.234231,1.260683,30.298253
...,...,...,...,...,...,...,...,...,...,...,...
14515,2022,3,현풍읍,1.099952,4.885834,1.095497,75.814304,0.442114,8.101283,NaN,8.561016
14516,2022,3,화원읍,2.468018,2.432514,2.206628,23.224903,2.185470,32.957614,NaN,34.524853
14517,2022,3,황금1동,1.258449,3.052596,0.406348,1.269598,1.822193,50.854119,NaN,41.336697
14518,2022,3,황금2동,1.454930,2.906609,0.004649,1.327760,1.856042,50.623247,NaN,41.826763
14519,2022,3,효목2동,1.917089,2.272083,0.002251,1.328043,4.226159,52.983209,NaN,37.271166

In [ ]:
df = pd.merge(df,e_pivot, how='left', left_on=['year','month','region'], right_on=['year','month','region_1'])
df.drop(['region_1'], axis=1, inplace=True)

In [ ]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,DI,height,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,53.0,NaN,NaN,...,60.74355,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,49.0,NaN,NaN,...,62.73431,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,46.0,NaN,NaN,...,64.65038,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,41.0,NaN,NaN,...,65.72772,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,36.0,NaN,NaN,...,67.04608,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,71.0,2.1,335.0,...,52.33503,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,65.0,2.2,339.0,...,52.99350,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,61.0,2.2,338.0,...,54.40241,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,53.0,2.0,351.0,...,56.60598,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,41.0,2.1,5.0,...,58.79709,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 작년 겨울

In [ ]:
import datetime
df['datetime'] = pd.to_datetime(df['datetime'])
df['prev_winter'] = None
for i in range(2011,2022):
    count = (df[(df['datetime'] >= datetime.datetime(i-1,12,1,0)) & (df['datetime'] < datetime.datetime(i,4,1,0))]['temp'] <= -10).sum()
    list_temp = list(df[(df['datetime'] >= datetime.datetime(i,5,1,0)) & (df['datetime'] < datetime.datetime(i,10,1,0))].index)
    df.loc[list_temp,'prev_winter'] = count

In [ ]:
# 정상적으로 나오는지 확인
df[(df['year'] == 2017) & (df['month'] == 6)]

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,height,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용,prev_winter
61368,2017,6,1,0,2017-06-01 00:00:00,25.6,0.0,63.0,1.1,292.0,...,42.48,4.803639,NaN,NaN,4.409263,1.096654,67.375793,NaN,22.314650,22
61369,2017,6,1,1,2017-06-01 01:00:00,26.4,0.0,55.0,2.7,280.0,...,42.48,4.803639,NaN,NaN,4.409263,1.096654,67.375793,NaN,22.314650,22
61370,2017,6,1,2,2017-06-01 02:00:00,28.3,0.0,55.0,2.4,283.0,...,42.48,4.803639,NaN,NaN,4.409263,1.096654,67.375793,NaN,22.314650,22
61371,2017,6,1,3,2017-06-01 03:00:00,29.6,0.0,51.0,2.8,240.0,...,42.48,4.803639,NaN,NaN,4.409263,1.096654,67.375793,NaN,22.314650,22
61372,2017,6,1,4,2017-06-01 04:00:00,30.4,0.0,47.0,3.0,255.0,...,42.48,4.803639,NaN,NaN,4.409263,1.096654,67.375793,NaN,22.314650,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14789251,2017,6,30,19,2017-06-30 19:00:00,24.4,0.0,87.0,0.6,180.0,...,28.31,0.874598,NaN,4.591173,86.499477,0.064317,4.310110,0.218453,3.441872,22
14789252,2017,6,30,20,2017-06-30 20:00:00,25.4,0.0,90.0,1.9,152.0,...,28.31,0.874598,NaN,4.591173,86.499477,0.064317,4.310110,0.218453,3.441872,22
14789253,2017,6,30,21,2017-06-30 21:00:00,26.0,0.0,85.0,2.9,178.0,...,28.31,0.874598,NaN,4.591173,86.499477,0.064317,4.310110,0.218453,3.441872,22
14789254,2017,6,30,22,2017-06-30 22:00:00,26.1,0.0,82.0,4.1,186.0,...,28.31,0.874598,NaN,4.591173,86.499477,0.064317,4.310110,0.218453,3.441872,22
14789255,2017,6,30,23,2017-06-30 23:00:00,26.0,0.3,81.0,3.7,182.0,...,28.31,0.874598,NaN,4.591173,86.499477,0.064317,4.310110,0.218453,3.441872,22

In [ ]:
df_ = df
df_.to_csv('./output/DL_data.csv', index=False)

# <hr>
### --- 데이터 보강 Part 完 ---
# <hr>

# 신난다

In [2]:
import pandas as pd
import datetime

In [3]:
df=pd.read_csv('./output/DL_data.csv')
df['datetime'] = pd.to_datetime(df['datetime'])

In [4]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,height,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용,prev_winter
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,53.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,49.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,46.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,41.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,36.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,71.0,2.1,335.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,65.0,2.2,339.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,61.0,2.2,338.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,53.0,2.0,351.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,41.0,2.1,5.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 지역 데이터를 숫자로 치환

In [5]:
fact = pd.factorize(df['region'])
df['region'] = fact[0]
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,height,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용,prev_winter
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,53.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,49.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,46.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,41.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,36.0,NaN,NaN,...,42.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,71.0,2.1,335.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,65.0,2.2,339.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,61.0,2.2,338.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,53.0,2.0,351.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,41.0,2.1,5.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df['region'] = fact[0]

## 여름만 남기기

2012년까지는 전력데이터가 없으니 Delete

In [7]:
drop_index = df[(df['year']==2010) | (df['year']==2011) | (df['year']==2012)].index
df.drop(drop_index, inplace=True)

In [8]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,height,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용,prev_winter
22680,2013,1,1,0,2013-01-01 00:00:00,-6.9,0.0,76.0,0.9,90.0,...,42.48,4.12459,7.412881,NaN,3.166637,6.184731,62.336551,0.049086,16.725526,NaN
22681,2013,1,1,1,2013-01-01 01:00:00,-5.2,0.0,69.0,0.9,32.0,...,42.48,4.12459,7.412881,NaN,3.166637,6.184731,62.336551,0.049086,16.725526,NaN
22682,2013,1,1,2,2013-01-01 02:00:00,-3.0,0.0,62.0,0.6,240.0,...,42.48,4.12459,7.412881,NaN,3.166637,6.184731,62.336551,0.049086,16.725526,NaN
22683,2013,1,1,3,2013-01-01 03:00:00,-1.2,0.0,64.0,1.1,292.0,...,42.48,4.12459,7.412881,NaN,3.166637,6.184731,62.336551,0.049086,16.725526,NaN
22684,2013,1,1,4,2013-01-01 04:00:00,1.3,0.0,60.0,1.5,286.0,...,42.48,4.12459,7.412881,NaN,3.166637,6.184731,62.336551,0.049086,16.725526,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,71.0,2.1,335.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,65.0,2.2,339.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,61.0,2.2,338.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,53.0,2.0,351.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,41.0,2.1,5.0,...,28.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df[df['HI'] >= 33]['month'].unique()

array([7, 8, 9, 5, 6], dtype=int64)

In [10]:
df = df[(df['month'].isin([5,6,7,8,9])) | ((df['month']==4) & (df['day'] >= 28) & (df['year'] < 2022))].reset_index(drop=True)

In [11]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,height,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용,prev_winter
0,2013,4,28,0,2013-04-28 00:00:00,13.5,0.0,56.0,0.5,11.0,...,42.48,4.903974,6.903785,NaN,2.814875,4.552284,61.881255,0.126975,18.816852,NaN
1,2013,4,28,1,2013-04-28 01:00:00,16.1,0.0,46.0,0.8,97.0,...,42.48,4.903974,6.903785,NaN,2.814875,4.552284,61.881255,0.126975,18.816852,NaN
2,2013,4,28,2,2013-04-28 02:00:00,18.8,0.0,35.0,1.1,281.0,...,42.48,4.903974,6.903785,NaN,2.814875,4.552284,61.881255,0.126975,18.816852,NaN
3,2013,4,28,3,2013-04-28 03:00:00,20.9,0.0,31.0,1.9,282.0,...,42.48,4.903974,6.903785,NaN,2.814875,4.552284,61.881255,0.126975,18.816852,NaN
4,2013,4,28,4,2013-04-28 04:00:00,22.6,0.0,29.0,1.5,19.0,...,42.48,4.903974,6.903785,NaN,2.814875,4.552284,61.881255,0.126975,18.816852,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4784827,2021,9,30,19,2021-09-30 19:00:00,16.8,0.0,100.0,0.5,338.0,...,28.31,0.479411,0.210072,1.518889,85.281232,0.027279,5.811550,0.192053,6.479514,4428.0
4784828,2021,9,30,20,2021-09-30 20:00:00,17.1,0.0,100.0,1.0,328.0,...,28.31,0.479411,0.210072,1.518889,85.281232,0.027279,5.811550,0.192053,6.479514,4428.0
4784829,2021,9,30,21,2021-09-30 21:00:00,16.9,0.0,100.0,2.0,346.0,...,28.31,0.479411,0.210072,1.518889,85.281232,0.027279,5.811550,0.192053,6.479514,4428.0
4784830,2021,9,30,22,2021-09-30 22:00:00,17.5,0.0,100.0,2.2,325.0,...,28.31,0.479411,0.210072,1.518889,85.281232,0.027279,5.811550,0.192053,6.479514,4428.0
4784831,2021,9,30,23,2021-09-30 23:00:00,19.7,0.0,90.0,2.6,330.0,...,28.31,0.479411,0.210072,1.518889,85.281232,0.027279,5.811550,0.192053,6.479514,4428.0

## 필요없는 컬럼 죽어

In [12]:
df.drop(['HI','DI'], axis=1, inplace=True)

In [13]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,height,가로등,교육용,농사용,산업용,심야,일반용,임시전력,주택용,prev_winter
0,2013,4,28,0,2013-04-28 00:00:00,13.5,0.0,56.0,0.5,11.0,...,42.48,4.903974,6.903785,NaN,2.814875,4.552284,61.881255,0.126975,18.816852,NaN
1,2013,4,28,1,2013-04-28 01:00:00,16.1,0.0,46.0,0.8,97.0,...,42.48,4.903974,6.903785,NaN,2.814875,4.552284,61.881255,0.126975,18.816852,NaN
2,2013,4,28,2,2013-04-28 02:00:00,18.8,0.0,35.0,1.1,281.0,...,42.48,4.903974,6.903785,NaN,2.814875,4.552284,61.881255,0.126975,18.816852,NaN
3,2013,4,28,3,2013-04-28 03:00:00,20.9,0.0,31.0,1.9,282.0,...,42.48,4.903974,6.903785,NaN,2.814875,4.552284,61.881255,0.126975,18.816852,NaN
4,2013,4,28,4,2013-04-28 04:00:00,22.6,0.0,29.0,1.5,19.0,...,42.48,4.903974,6.903785,NaN,2.814875,4.552284,61.881255,0.126975,18.816852,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4784827,2021,9,30,19,2021-09-30 19:00:00,16.8,0.0,100.0,0.5,338.0,...,28.31,0.479411,0.210072,1.518889,85.281232,0.027279,5.811550,0.192053,6.479514,4428.0
4784828,2021,9,30,20,2021-09-30 20:00:00,17.1,0.0,100.0,1.0,328.0,...,28.31,0.479411,0.210072,1.518889,85.281232,0.027279,5.811550,0.192053,6.479514,4428.0
4784829,2021,9,30,21,2021-09-30 21:00:00,16.9,0.0,100.0,2.0,346.0,...,28.31,0.479411,0.210072,1.518889,85.281232,0.027279,5.811550,0.192053,6.479514,4428.0
4784830,2021,9,30,22,2021-09-30 22:00:00,17.5,0.0,100.0,2.2,325.0,...,28.31,0.479411,0.210072,1.518889,85.281232,0.027279,5.811550,0.192053,6.479514,4428.0
4784831,2021,9,30,23,2021-09-30 23:00:00,19.7,0.0,90.0,2.6,330.0,...,28.31,0.479411,0.210072,1.518889,85.281232,0.027279,5.811550,0.192053,6.479514,4428.0

## 이거슨 과거 데이터 추가하기

In [14]:
previous_time = 72
column_list = []

for i in range(1, previous_time+1):
    # for j in ['temp','rainfall','humidity','wind_speed','wind_direction']:
    for j in ['temp','rainfall','humidity','wind_speed']:
        col_temp = 'next_' + j + '_h' + str(i)
        column_list.append(col_temp)
        df[col_temp] = df[j].shift(i)

C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)
C:\Users\chaos_server1\AppData\Local\Temp\ipykernel_4068\2348499673.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_temp] = df[j].shift(i)

In [15]:
drop_list = df[df['month'] == 4].index
df.drop(drop_list, inplace=True)

In [16]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,next_humidity_h70,next_wind_speed_h70,next_temp_h71,next_rainfall_h71,next_humidity_h71,next_wind_speed_h71,next_temp_h72,next_rainfall_h72,next_humidity_h72,next_wind_speed_h72
72,2013,5,1,0,2013-05-01 00:00:00,13.1,0.0,45.0,3.2,55.0,...,35.0,1.1,16.1,0.0,46.0,0.8,13.5,0.0,56.0,0.5
73,2013,5,1,1,2013-05-01 01:00:00,12.9,0.0,49.0,3.2,150.0,...,31.0,1.9,18.8,0.0,35.0,1.1,16.1,0.0,46.0,0.8
74,2013,5,1,2,2013-05-01 02:00:00,12.2,0.0,57.0,3.7,120.0,...,29.0,1.5,20.9,0.0,31.0,1.9,18.8,0.0,35.0,1.1
75,2013,5,1,3,2013-05-01 03:00:00,14.7,0.0,47.0,3.7,108.0,...,24.0,2.7,22.6,0.0,29.0,1.5,20.9,0.0,31.0,1.9
76,2013,5,1,4,2013-05-01 04:00:00,13.7,0.0,47.0,3.9,122.0,...,25.0,2.1,23.0,0.0,24.0,2.7,22.6,0.0,29.0,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4784827,2021,9,30,19,2021-09-30 19:00:00,16.8,0.0,100.0,0.5,338.0,...,84.0,1.7,19.6,0.0,84.0,1.7,19.6,0.0,82.0,1.4
4784828,2021,9,30,20,2021-09-30 20:00:00,17.1,0.0,100.0,1.0,328.0,...,79.0,1.3,19.7,0.0,84.0,1.7,19.6,0.0,84.0,1.7
4784829,2021,9,30,21,2021-09-30 21:00:00,16.9,0.0,100.0,2.0,346.0,...,75.0,1.0,20.6,0.0,79.0,1.3,19.7,0.0,84.0,1.7
4784830,2021,9,30,22,2021-09-30 22:00:00,17.5,0.0,100.0,2.2,325.0,...,71.0,1.2,21.9,0.0,75.0,1.0,20.6,0.0,79.0,1.3
4784831,2021,9,30,23,2021-09-30 23:00:00,19.7,0.0,90.0,2.6,330.0,...,68.0,1.8,23.2,0.0,71.0,1.2,21.9,0.0,75.0,1.0

## target 데이터

In [17]:
pred_time = 24

In [18]:
length = df.shape[0]

next_temp_list = []

for i in range(1, pred_time+1):
    col_temp = 'next_temp_' + str(i)
    next_temp_list.append(col_temp)
    df[col_temp] = -50
    df[col_temp] = df['temp'].shift(-i)

    # col_humi = 'next_humi_' + str('pred_time')
    # df[col_humi] = -50
    # df.loc[0:length-pred_time-1,col_humi] = list(df.loc[1:length-pred_time,'humidity'])

In [19]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,next_temp_15,next_temp_16,next_temp_17,next_temp_18,next_temp_19,next_temp_20,next_temp_21,next_temp_22,next_temp_23,next_temp_24
72,2013,5,1,0,2013-05-01 00:00:00,13.1,0.0,45.0,3.2,55.0,...,10.9,10.5,10.5,10.3,10.3,10.1,10.2,10.9,13.1,14.1
73,2013,5,1,1,2013-05-01 01:00:00,12.9,0.0,49.0,3.2,150.0,...,10.5,10.5,10.3,10.3,10.1,10.2,10.9,13.1,14.1,15.7
74,2013,5,1,2,2013-05-01 02:00:00,12.2,0.0,57.0,3.7,120.0,...,10.5,10.3,10.3,10.1,10.2,10.9,13.1,14.1,15.7,16.7
75,2013,5,1,3,2013-05-01 03:00:00,14.7,0.0,47.0,3.7,108.0,...,10.3,10.3,10.1,10.2,10.9,13.1,14.1,15.7,16.7,18.0
76,2013,5,1,4,2013-05-01 04:00:00,13.7,0.0,47.0,3.9,122.0,...,10.3,10.1,10.2,10.9,13.1,14.1,15.7,16.7,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4784827,2021,9,30,19,2021-09-30 19:00:00,16.8,0.0,100.0,0.5,338.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4784828,2021,9,30,20,2021-09-30 20:00:00,17.1,0.0,100.0,1.0,328.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4784829,2021,9,30,21,2021-09-30 21:00:00,16.9,0.0,100.0,2.0,346.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4784830,2021,9,30,22,2021-09-30 22:00:00,17.5,0.0,100.0,2.2,325.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4784831,2021,9,30,23,2021-09-30 23:00:00,19.7,0.0,90.0,2.6,330.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
drop_index = df[(df['month'] == 9) & (df['day'] > (30 - pred_time / 24))].index
df.drop(drop_index, inplace=True)

In [21]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,next_temp_15,next_temp_16,next_temp_17,next_temp_18,next_temp_19,next_temp_20,next_temp_21,next_temp_22,next_temp_23,next_temp_24
72,2013,5,1,0,2013-05-01 00:00:00,13.1,0.0,45.0,3.2,55.0,...,10.9,10.5,10.5,10.3,10.3,10.1,10.2,10.9,13.1,14.1
73,2013,5,1,1,2013-05-01 01:00:00,12.9,0.0,49.0,3.2,150.0,...,10.5,10.5,10.3,10.3,10.1,10.2,10.9,13.1,14.1,15.7
74,2013,5,1,2,2013-05-01 02:00:00,12.2,0.0,57.0,3.7,120.0,...,10.5,10.3,10.3,10.1,10.2,10.9,13.1,14.1,15.7,16.7
75,2013,5,1,3,2013-05-01 03:00:00,14.7,0.0,47.0,3.7,108.0,...,10.3,10.3,10.1,10.2,10.9,13.1,14.1,15.7,16.7,18.0
76,2013,5,1,4,2013-05-01 04:00:00,13.7,0.0,47.0,3.9,122.0,...,10.3,10.1,10.2,10.9,13.1,14.1,15.7,16.7,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4784803,2021,9,29,19,2021-09-29 19:00:00,20.2,0.0,98.0,1.7,343.0,...,19.6,19.1,17.8,17.7,17.1,16.2,16.9,16.5,16.4,16.8
4784804,2021,9,29,20,2021-09-29 20:00:00,19.9,0.0,97.0,0.7,319.0,...,19.1,17.8,17.7,17.1,16.2,16.9,16.5,16.4,16.8,17.1
4784805,2021,9,29,21,2021-09-29 21:00:00,20.1,0.0,93.0,1.9,341.0,...,17.8,17.7,17.1,16.2,16.9,16.5,16.4,16.8,17.1,16.9
4784806,2021,9,29,22,2021-09-29 22:00:00,20.4,0.0,89.0,2.4,343.0,...,17.7,17.1,16.2,16.9,16.5,16.4,16.8,17.1,16.9,17.5
4784807,2021,9,29,23,2021-09-29 23:00:00,21.5,0.0,82.0,3.7,2.0,...,17.1,16.2,16.9,16.5,16.4,16.8,17.1,16.9,17.5,19.7

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4662144 entries, 72 to 4784807
Columns: 333 entries, year to next_temp_24
dtypes: datetime64[ns](1), float64(327), int64(5)
memory usage: 11.6 GB

## 자 드가자

In [23]:
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from keras import optimizers
import numpy as np

In [24]:
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,...,next_temp_15,next_temp_16,next_temp_17,next_temp_18,next_temp_19,next_temp_20,next_temp_21,next_temp_22,next_temp_23,next_temp_24
72,2013,5,1,0,2013-05-01 00:00:00,13.1,0.0,45.0,3.2,55.0,...,10.9,10.5,10.5,10.3,10.3,10.1,10.2,10.9,13.1,14.1
73,2013,5,1,1,2013-05-01 01:00:00,12.9,0.0,49.0,3.2,150.0,...,10.5,10.5,10.3,10.3,10.1,10.2,10.9,13.1,14.1,15.7
74,2013,5,1,2,2013-05-01 02:00:00,12.2,0.0,57.0,3.7,120.0,...,10.5,10.3,10.3,10.1,10.2,10.9,13.1,14.1,15.7,16.7
75,2013,5,1,3,2013-05-01 03:00:00,14.7,0.0,47.0,3.7,108.0,...,10.3,10.3,10.1,10.2,10.9,13.1,14.1,15.7,16.7,18.0
76,2013,5,1,4,2013-05-01 04:00:00,13.7,0.0,47.0,3.9,122.0,...,10.3,10.1,10.2,10.9,13.1,14.1,15.7,16.7,18.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4784803,2021,9,29,19,2021-09-29 19:00:00,20.2,0.0,98.0,1.7,343.0,...,19.6,19.1,17.8,17.7,17.1,16.2,16.9,16.5,16.4,16.8
4784804,2021,9,29,20,2021-09-29 20:00:00,19.9,0.0,97.0,0.7,319.0,...,19.1,17.8,17.7,17.1,16.2,16.9,16.5,16.4,16.8,17.1
4784805,2021,9,29,21,2021-09-29 21:00:00,20.1,0.0,93.0,1.9,341.0,...,17.8,17.7,17.1,16.2,16.9,16.5,16.4,16.8,17.1,16.9
4784806,2021,9,29,22,2021-09-29 22:00:00,20.4,0.0,89.0,2.4,343.0,...,17.7,17.1,16.2,16.9,16.5,16.4,16.8,17.1,16.9,17.5
4784807,2021,9,29,23,2021-09-29 23:00:00,21.5,0.0,82.0,3.7,2.0,...,17.1,16.2,16.9,16.5,16.4,16.8,17.1,16.9,17.5,19.7

In [25]:
x = df[['year','month','day','hour','temp','rainfall','humidity','wind_speed','wind_direction','region'] + column_list]
# x = df[['year','month','day','hour','temp','rainfall','humidity','wind_speed','region'] + column_list]
y = df[next_temp_list]

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [26]:
x_train

,year,month,day,hour,temp,rainfall,humidity,wind_speed,wind_direction,region,...,next_humidity_h70,next_wind_speed_h70,next_temp_h71,next_rainfall_h71,next_humidity_h71,next_wind_speed_h71,next_temp_h72,next_rainfall_h72,next_humidity_h72,next_wind_speed_h72
2337004,2016,5,29,4,26.1,0.0,47.0,1.5,266.0,69,...,36.0,2.0,27.8,0.0,35.0,2.0,27.4,0.0,38.0,2.0
4417347,2013,9,7,3,20.8,0.0,81.0,1.8,313.0,131,...,35.0,1.7,26.6,0.0,35.0,1.5,25.6,0.0,39.0,2.1
4175700,2021,6,14,12,22.1,0.0,76.0,2.7,109.0,123,...,90.0,1.7,21.3,0.0,88.0,1.1,21.8,0.0,86.0,0.8
345898,2015,6,27,10,23.1,0.0,49.0,3.7,101.0,10,...,66.0,3.4,23.1,0.0,65.0,3.2,24.3,0.0,62.0,3.0
818229,2015,7,21,21,22.6,0.0,90.0,1.3,103.0,24,...,65.0,1.8,21.3,0.0,71.0,1.7,19.9,0.0,77.0,1.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267751,2018,9,13,23,21.3,1.0,100.0,2.1,31.0,126,...,49.0,4.6,22.2,0.0,51.0,4.8,21.0,0.0,57.0,2.7
1034422,2019,6,11,22,19.2,0.0,68.0,1.8,103.0,30,...,64.0,3.2,19.5,0.0,67.0,4.9,18.2,0.0,69.0,5.9
2169951,2016,7,27,15,28.7,0.0,70.0,2.0,200.0,64,...,91.0,0.4,25.8,0.0,91.0,0.2,25.8,0.0,91.0,0.2
4257863,2016,6,5,23,17.7,0.0,74.0,0.9,354.0,126,...,46.0,1.3,21.6,0.0,52.0,1.1,19.5,0.0,61.0,0.5
4064263,2018,7,21,7,35.9,0.0,47.0,3.5,231.0,120,...,47.0,2.1,34.2,0.0,43.0,2.4,35.1,0.0,42.0,2.1

In [27]:
y_train

,next_temp_1,next_temp_2,next_temp_3,next_temp_4,next_temp_5,next_temp_6,next_temp_7,next_temp_8,next_temp_9,next_temp_10,...,next_temp_15,next_temp_16,next_temp_17,next_temp_18,next_temp_19,next_temp_20,next_temp_21,next_temp_22,next_temp_23,next_temp_24
2337004,27.3,27.6,27.8,27.8,27.7,25.9,23.9,22.4,22.2,21.4,...,17.3,17.1,17.7,20.2,22.5,24.9,26.7,28.3,29.8,30.6
4417347,21.9,23.2,23.9,23.3,22.8,22.8,21.7,21.2,20.0,19.3,...,17.9,18.0,17.7,17.3,17.5,18.0,21.5,23.1,24.9,26.0
4175700,21.7,21.5,21.1,20.9,20.7,20.6,20.4,20.8,21.3,21.7,...,22.3,23.1,23.0,22.6,21.9,21.9,20.8,20.4,19.7,19.7
345898,21.0,19.9,19.3,18.8,18.8,18.0,18.7,17.5,17.0,16.7,...,20.8,21.7,23.0,25.6,24.0,24.7,25.0,25.1,24.3,23.4
818229,23.4,24.3,26.0,27.3,27.9,29.0,30.2,31.0,31.1,31.0,...,27.1,26.7,26.5,26.0,25.7,25.3,24.8,24.6,24.6,24.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4267751,22.2,22.7,22.5,22.5,22.2,22.5,22.3,22.1,22.2,21.6,...,21.2,20.9,20.8,20.7,20.5,20.4,20.3,20.6,20.7,21.0
1034422,20.8,22.4,23.8,24.3,25.7,25.6,26.0,26.9,25.9,24.8,...,18.4,17.6,16.9,16.2,16.2,16.2,15.1,15.3,17.0,19.5
2169951,28.7,28.0,27.8,28.0,28.1,28.1,28.1,28.8,29.8,30.5,...,34.2,34.8,34.7,34.2,32.4,31.2,30.4,29.4,28.6,27.9
4257863,17.2,17.4,17.5,17.8,18.2,18.7,18.9,18.9,18.8,18.7,...,17.9,17.7,17.6,17.5,17.5,17.4,17.4,17.7,18.1,19.0
4064263,34.4,33.4,32.6,32.2,32.0,30.2,28.3,28.0,27.9,26.5,...,31.0,32.0,32.9,33.3,33.5,33.3,33.8,34.4,33.1,34.2

In [36]:
import tensorflow as tf
from keras.layers import *
from keras.models import Sequential, Model
from keras.optimizers import Adam, RMSprop
import numpy as np

# 모델을 신경망 구조로 설정
model = Sequential()

# 첫번째 Layer, 입력층
model.add(Dense(400, input_dim=x_train.shape[1], activation = None))
# 은닉층
model.add(Dense(400, activation = None))
model.add(Dense(400, activation = None))
model.add(Dense(200, activation = None))
model.add(Dense(200, activation = None))
model.add(Dense(200, activation = None))
# 출력층
model.add(Dense(pred_time, activation = None))

In [38]:
# binary_crossentropy : 클래스가 두개인 이진 분류에서 사용하는 손실함수
# mse : 예측시스템에서 주로 사용하는 손실함수 (mean square error)
# adam : 신경망의 가중치를 최적화시켜주는 알고리즘
# compile : 만들어진 layer를 ANN으로 묶어서 처리하는 과정

# adam=optimizers.Adam(learning_rate=0.001, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0, amsgrad=False)
# model.compile(loss='mae', optimizer=adam, metrics=['mae'])

rmsprop = optimizers.RMSprop(learning_rate=0.001, rho=0.9, momentum=0.0, epsilon=1e-07, centered=False)
model.compile(loss='mae', optimizer=rmsprop, metrics=['mae'])
history = model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs=60, batch_size=10000)

Epoch 1/60
373/373 [==============================] - 74s 195ms/step - loss: 3.1059 - mae: 3.1059 - val_loss: 2.0292 - val_mae: 2.0292
Epoch 2/60
373/373 [==============================] - 69s 184ms/step - loss: 2.7167 - mae: 2.7167 - val_loss: 2.0935 - val_mae: 2.0935
Epoch 3/60
373/373 [==============================] - 69s 184ms/step - loss: 2.9026 - mae: 2.9026 - val_loss: 2.0747 - val_mae: 2.0747
Epoch 4/60
373/373 [==============================] - 69s 184ms/step - loss: 3.2893 - mae: 3.2893 - val_loss: 3.6828 - val_mae: 3.6828
Epoch 5/60
373/373 [==============================] - 69s 184ms/step - loss: 2.8621 - mae: 2.8621 - val_loss: 1.9509 - val_mae: 1.9509
Epoch 6/60
373/373 [==============================] - 69s 184ms/step - loss: 3.4219 - mae: 3.4219 - val_loss: 2.0253 - val_mae: 2.0253
Epoch 7/60
373/373 [==============================] - 68s 183ms/step - loss: 3.7874 - mae: 3.7874 - val_loss: 1.9180 - val_mae: 1.9180
Epoch 8/60
373/373 [==============================] - 68s 183ms/step - loss: 2.7560 - mae: 2.7560 - val_loss: 2.9602 - val_mae: 2.9602
Epoch 9/60
373/373 [==============================] - 68s 184ms/step - loss: 2.7799 - mae: 2.7799 - val_loss: 2.0317 - val_mae: 2.0317
Epoch 10/60
373/373 [==============================] - 68s 184ms/step - loss: 3.8445 - mae: 3.8445 - val_loss: 3.5382 - val_mae: 3.5382
Epoch 11/60
373/373 [==============================] - 69s 184ms/step - loss: 3.1039 - mae: 3.1039 - val_loss: 1.9999 - val_mae: 1.9999
Epoch 12/60
373/373 [==============================] - 69s 184ms/step - loss: 2.7287 - mae: 2.7287 - val_loss: 2.0108 - val_mae: 2.0108
Epoch 13/60
373/373 [==============================] - 68s 184ms/step - loss: 3.3310 - mae: 3.3310 - val_loss: 6.2604 - val_mae: 6.2604
Epoch 14/60
373/373 [==============================] - 69s 184ms/step - loss: 3.2725 - mae: 3.2725 - val_loss: 1.8932 - val_mae: 1.8932
Epoch 15/60
373/373 [==============================] - 68s 184ms/step - loss: 2.4885 - mae: 2.4885 - val_loss: 2.0650 - val_mae: 2.0650
Epoch 16/60
373/373 [==============================] - 69s 184ms/step - loss: 3.0465 - mae: 3.0465 - val_loss: 1.8877 - val_mae: 1.8877
Epoch 17/60
373/373 [==============================] - 68s 183ms/step - loss: 2.7979 - mae: 2.7979 - val_loss: 2.0661 - val_mae: 2.0661
Epoch 18/60
373/373 [==============================] - 65s 175ms/step - loss: 2.8635 - mae: 2.8635 - val_loss: 1.8420 - val_mae: 1.8420
Epoch 19/60
373/373 [==============================] - 65s 175ms/step - loss: 2.9296 - mae: 2.9296 - val_loss: 1.9132 - val_mae: 1.9132
Epoch 20/60
373/373 [==============================] - 65s 175ms/step - loss: 2.5205 - mae: 2.5205 - val_loss: 1.9422 - val_mae: 1.9422
Epoch 21/60
373/373 [==============================] - 65s 175ms/step - loss: 2.5984 - mae: 2.5984 - val_loss: 1.9410 - val_mae: 1.9410
Epoch 22/60
373/373 [==============================] - 65s 175ms/step - loss: 2.9971 - mae: 2.9971 - val_loss: 1.9383 - val_mae: 1.9383
Epoch 23/60
373/373 [==============================] - 66s 176ms/step - loss: 3.0382 - mae: 3.0382 - val_loss: 1.9138 - val_mae: 1.9138
Epoch 24/60
373/373 [==============================] - 65s 175ms/step - loss: 4.1384 - mae: 4.1384 - val_loss: 1.8354 - val_mae: 1.8354
Epoch 25/60
373/373 [==============================] - 65s 174ms/step - loss: 2.4943 - mae: 2.4943 - val_loss: 1.8876 - val_mae: 1.8876
Epoch 26/60
373/373 [==============================] - 65s 175ms/step - loss: 2.5492 - mae: 2.5492 - val_loss: 1.9154 - val_mae: 1.9154
Epoch 27/60
373/373 [==============================] - 65s 175ms/step - loss: 3.1923 - mae: 3.1923 - val_loss: 1.9160 - val_mae: 1.9160
Epoch 28/60
373/373 [==============================] - 65s 174ms/step - loss: 2.6300 - mae: 2.6300 - val_loss: 1.9233 - val_mae: 1.9233
Epoch 29/60
373/373 [==============================] - 65s 175ms/step - loss: 2.7514 - mae: 2.7514 - val_loss: 1.9224 - val_mae: 1.9224
Epoch 30/60
373/373 [==============================] - 65s 175ms/step - loss: 3.3503 - mae: 3.3503 - val_loss: 2.0611 - val_mae: 2.0611
Epoch 31/60
373/373 [==============================] - 65s 175ms/step - loss: 2.8443 - mae: 2.8443 - val_loss: 1.9933 - val_mae: 1.9933
Epoch 32/60
373/373 [==============================] - 65s 175ms/step - loss: 2.5976 - mae: 2.5976 - val_loss: 3.6681 - val_mae: 3.6681
Epoch 33/60
373/373 [==============================] - 65s 175ms/step - loss: 2.6239 - mae: 2.6239 - val_loss: 1.9201 - val_mae: 1.9201
Epoch 34/60
373/373 [==============================] - 65s 174ms/step - loss: 2.5961 - mae: 2.5961 - val_loss: 1.8899 - val_mae: 1.8899
Epoch 35/60
373/373 [==============================] - 66s 178ms/step - loss: 2.8890 - mae: 2.8890 - val_loss: 3.0329 - val_mae: 3.0329
Epoch 36/60
 91/373 [======>.......................] - ETA: 49s - loss: 4.0915 - mae: 4.0915

KeyboardInterrupt:

# <hr>