### 모델 어쩌고 저쩌고
![](./static/너굴맨.jpg)  
집에 가고 싶다

In [22]:
import tensorflow as tf

import pandas as pd
import numpy as np

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import random
import matplotlib.pyplot as plt

In [29]:
df = pd.read_csv('./output/DL_data.csv',index_col=0)

In [31]:
df.columns

Index(['year', 'month', 'day', 'hour', 'datetime', 'temp', 'rainfall',
       'humidity', 'wind_speed', 'wind_direction', 'region', 'HI', 'DI',
       'height', '가로등', '교육용', '농사용', '산업용', '심야', '일반용', '임시전력', '주택용'],
      dtype='object')

In [32]:
df = df[['year', 'month', 'day', 'hour', 'datetime', 'temp', 'rainfall',
       'humidity', 'wind_speed', 'wind_direction', 'region', 'HI', 'DI',
       'height']]
df

,year,month,day,hour,datetime,temp,rainfall,humidity,wind_speed,wind_direction,region,HI,DI,height
0,2010,6,1,0,2010-06-01 00:00:00,16.5,0.0,53.0,NaN,NaN,동인동,15.589444,60.74355,42.48
1,2010,6,1,1,2010-06-01 01:00:00,18.1,0.0,49.0,NaN,NaN,동인동,17.245000,62.73431,42.48
2,2010,6,1,2,2010-06-01 02:00:00,19.7,0.0,46.0,NaN,NaN,동인동,18.926667,64.65038,42.48
3,2010,6,1,3,2010-06-01 03:00:00,20.8,0.0,41.0,NaN,NaN,동인동,20.006111,65.72772,42.48
4,2010,6,1,4,2010-06-01 04:00:00,22.2,0.0,36.0,NaN,NaN,동인동,21.415556,67.04608,42.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14831611,2022,4,30,19,2022-04-30 19:00:00,10.7,0.0,71.0,2.1,335.0,구지면,9.679444,52.33503,28.31
14831612,2022,4,30,20,2022-04-30 20:00:00,11.0,0.0,65.0,2.2,339.0,구지면,9.852778,52.99350,28.31
14831613,2022,4,30,21,2022-04-30 21:00:00,11.9,0.0,61.0,2.2,338.0,구지면,10.738333,54.40241,28.31
14831614,2022,4,30,22,2022-04-30 22:00:00,13.4,0.0,53.0,2.0,351.0,구지면,12.179444,56.60598,28.31
14831615,2022,4,30,23,2022-04-30 23:00:00,15.1,0.0,41.0,2.1,5.0,구지면,13.736111,58.79709,28.31

In [ ]:
# 데이터 불러오기


# 다중 선형회귀분석
x_data = df[["temp","rainfall","humidity"]] #변수 여러개
target = df[["HI"]]

# for b0, 상수항 추가
x_data1 = df.add_constant(x_data, has_constant = "add")

# OLS 검정
multi_model = df.OLS(target, x_data1)
fitted_multi_model = multi_model.fit()
fitted_multi_model.summary()