# TABLEAU 읍면동 시각화를 위한 전처리
* by KHW

### 1. 읍면동 geo 데이터 전처리

In [2]:
import pandas as pd

# 데이터 불러오기
df_region = pd.read_csv('../../dataset/geo_hangjeongdong.csv', encoding='utf-8')

df_region

,latitude,longitude,altitude,geometry,coordinates,OBJECTID,adm_nm,adm_cd,adm_cd2,sgg,sido,sidonm,temp,sggnm,adm_cd8
0,NaN,NaN,NaN,MultiPolygon,"126.97688884274817,37.575650779448786,126.9770...",1,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,종로구 사직동,종로구,11010530
1,NaN,NaN,NaN,MultiPolygon,"126.98268938649305,37.5950655194224,126.983372...",2,서울특별시 종로구 삼청동,1101054,1111054000,11110,11,서울특별시,종로구 삼청동,종로구,11010540
2,NaN,NaN,NaN,MultiPolygon,"126.97585113775686,37.59656422224409,126.97358...",3,서울특별시 종로구 부암동,1101055,1111055000,11110,11,서울특별시,종로구 부암동,종로구,11010550
3,NaN,NaN,NaN,MultiPolygon,"126.97507466788086,37.63138628651299,126.97648...",4,서울특별시 종로구 평창동,1101056,1111056000,11110,11,서울특별시,종로구 평창동,종로구,11010560
4,NaN,NaN,NaN,MultiPolygon,"126.96067353273895,37.58079784202973,126.96281...",5,서울특별시 종로구 무악동,1101057,1111057000,11110,11,서울특별시,종로구 무악동,종로구,11010570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3507,NaN,NaN,NaN,MultiPolygon,"126.8858464123561,37.64898905222307,126.886361...",1370,경기도 고양시덕양구 삼송2동,3110173,4128157700,41281,41,경기도,고양시덕양구 삼송2동,고양시덕양구,31101513
3508,NaN,NaN,NaN,MultiPolygon,"126.84226585971915,37.61923656582682,126.84273...",1382,경기도 고양시덕양구 행신4동,3110175,4128165600,41281,41,경기도,고양시덕양구 행신4동,고양시덕양구,31101515
3509,NaN,NaN,NaN,MultiPolygon,"126.7902680101869,37.68880601911062,126.789679...",1384,경기도 고양시일산동구 중산1동,3110362,4128552500,41285,41,경기도,고양시일산동구 중산1동,고양시일산동구,31103511
3510,NaN,NaN,NaN,MultiPolygon,"126.7762467051871,37.69403062349232,126.775978...",1397,경기도 고양시일산서구 탄현2동,3110461,4128754600,41287,41,경기도,고양시일산서구 탄현2동,고양시일산서구,31104512
3511,NaN,NaN,NaN,MultiPolygon,"126.72907938778185,37.68191212851012,126.72906...",1402,경기도 고양시일산서구 덕이동,3110462,4128760000,41287,41,경기도,고양시일산서구 덕이동,고양시일산서구,31104513

In [298]:
# 필요한 column만 저장
df_region = df_region.loc[df_region['sidonm'] == '대구광역시', ['adm_nm','sidonm','temp','sggnm']]

In [299]:
# 읍면동을 분리한 column 생성
df_region['emd'] = df_region['temp'].map(lambda x : x.split(' ')[1])

df_region

              adm_nm sidonm      temp sggnm   emd
624     대구광역시 중구 삼덕동  대구광역시    중구 삼덕동    중구   삼덕동
625    대구광역시 중구 성내1동  대구광역시   중구 성내1동    중구  성내1동
626    대구광역시 중구 성내2동  대구광역시   중구 성내2동    중구  성내2동
627    대구광역시 중구 성내3동  대구광역시   중구 성내3동    중구  성내3동
628     대구광역시 중구 대신동  대구광역시    중구 대신동    중구   대신동
...              ...    ...       ...   ...   ...
3461   대구광역시 동구 안심3동  대구광역시   동구 안심3동    동구  안심3동
3462    대구광역시 동구 혁신동  대구광역시    동구 혁신동    동구   혁신동
3501  대구광역시 달서구 월성1동  대구광역시  달서구 월성1동   달서구  월성1동
3502   대구광역시 달서구 진천동  대구광역시   달서구 진천동   달서구   진천동
3503   대구광역시 달서구 유천동  대구광역시   달서구 유천동   달서구   유천동

[142 rows x 5 columns]

In [300]:
# 전처리 완료 데이터 저장
df_region.to_csv('./output/Daegu_geo_emd.csv', index=False)

### 2. 인구밀도 데이터과 읍면동 데이터의 지역명 통일

In [318]:
# 인구밀도 데이터 불러오기
df_density = pd.read_csv('../../output/Daegu_density_final.csv', index_col=0)

df_density

       year  month  count    area region  populationdensity         HI
0      2010     10   9002  111.17    가창면          80.975083  14.002856
1      2010     11   8969  111.17    가창면          80.678241   5.548623
2      2010     12   8936  111.17    가창면          80.381398  -0.149288
3      2011      1   8892  111.17    가창면          79.985608  -4.443683
4      2011      2   8731  111.17    가창면          78.537375   1.583097
...     ...    ...    ...     ...    ...                ...        ...
19360  2021     12  13167    0.72   효목2동       18287.500000   2.357998
19361  2022      1  13121    0.72   효목2동       18223.611111   0.478563
19362  2022      2  13098    0.72   효목2동       18191.666667   1.146696
19363  2022      3  13070    0.72   효목2동       18152.777778   8.569070
19364  2022      4  13043    0.72   효목2동       18115.277778  15.072408

[19365 rows x 7 columns]

In [322]:
df_density[df_density['region'].str.contains('옥포')]

       year  month  count   area region  populationdensity         HI
13922  2010     10  10834  48.94    옥포읍         221.373110  14.858043
13923  2010     11  10780  48.94    옥포읍         220.269718   6.261131
13924  2010     12  10747  48.94    옥포읍         219.595423   0.522810
13925  2011      1  10748  48.94    옥포읍         219.615856  -3.235802
13926  2011      2  10774  48.94    옥포읍         220.147119   2.551757
...     ...    ...    ...    ...    ...                ...        ...
14056  2021     12  25195  48.94    옥포읍         514.814058   2.280273
14057  2022      1  25201  48.94    옥포읍         514.936657   0.040305
14058  2022      2  25058  48.94    옥포읍         512.014712   0.345622
14059  2022      3  24961  48.94    옥포읍         510.032693   8.090075
14060  2022      4  24903  48.94    옥포읍         508.847568  14.314315

[139 rows x 7 columns]

In [321]:
df_region[df_region['emd'].str.contains('옥포')]

            adm_nm sidonm     temp sggnm  emd
133  대구광역시 달성군 옥포읍  대구광역시  달성군 옥포읍   달성군  옥포읍

In [320]:
# 읍면동 데이터 불러오기
df_region = pd.read_csv('./output/Daegu_geo_emd.csv')

df_region

             adm_nm sidonm      temp sggnm   emd
0      대구광역시 중구 삼덕동  대구광역시    중구 삼덕동    중구   삼덕동
1     대구광역시 중구 성내1동  대구광역시   중구 성내1동    중구  성내1동
2     대구광역시 중구 성내2동  대구광역시   중구 성내2동    중구  성내2동
3     대구광역시 중구 성내3동  대구광역시   중구 성내3동    중구  성내3동
4      대구광역시 중구 대신동  대구광역시    중구 대신동    중구   대신동
..              ...    ...       ...   ...   ...
137   대구광역시 동구 안심3동  대구광역시   동구 안심3동    동구  안심3동
138    대구광역시 동구 혁신동  대구광역시    동구 혁신동    동구   혁신동
139  대구광역시 달서구 월성1동  대구광역시  달서구 월성1동   달서구  월성1동
140   대구광역시 달서구 진천동  대구광역시   달서구 진천동   달서구   진천동
141   대구광역시 달서구 유천동  대구광역시   달서구 유천동   달서구   유천동

[142 rows x 5 columns]

In [303]:
# 인구밀도 데이터에만 있는 읍면동
set(df_density['region'].unique()) - set(df_region['emd'].unique())

{'내당2.3동', '두류1.2동', '불로.봉무동', '비산2.3동', '수성2.3가동', '신천1.2동', '안심3.4동'}

In [304]:
# 읍면동 데이터에만 있는 읍면동
set(df_region['emd'].unique()) - set(df_density['region'].unique())

{'내당2·3동', '두류1,2동', '불로·봉무동', '비산2·3동', '수성2·3가동', '신천1·2동', '유천동'}

In [305]:
# 읍면동 데이터에 맞춰 인구밀도 데이터를 수정
df_density['region'] = df_density['region'].replace('신천1.2동','신천1·2동')
df_density['region'] = df_density['region'].replace('수성2.3가동','수성2·3가동')
df_density['region'] = df_density['region'].replace('비산2.3동','비산2·3동')
df_density['region'] = df_density['region'].replace('내당2.3동','내당2·3동')
df_density['region'] = df_density['region'].replace('불로.봉무동','불로·봉무동')
df_density['region'] = df_density['region'].replace('두류1.2동','두류1,2동')

##### 유천동 처리

2021년 11월 29일 행정동 진천동과 월성1동에서 유천동으로 분동  
출처: https://ko.wikipedia.org/wiki/%EC%9C%A0%EC%B2%9C%EB%8F%99_(%EB%8C%80%EA%B5%AC)#cite_note-9

In [306]:
# 유천동의 분동 기준이 명확하지 않으므로 제거
df_region.drop(df_region.loc[df_region['emd']=='유천동'].index, inplace=True)

##### 안심3.4동 처리

2020년 7월부터 안심3.4동이 안심 3동과 4동, 혁신동으로 분리되었다.  
출처 : http://news.imaeil.com/page/view/2020060416223721765

In [307]:
# 안심3.4동 확인
df_density[df_density['region']== '안심3.4동'].tail(5)

       year  month  count   area  region  populationdensity         HI
13873  2020      2  69040  25.12  안심3.4동        2748.407643   3.952762
13874  2020      3  69150  25.12  안심3.4동        2752.786624   8.123703
13875  2020      4  69421  25.12  안심3.4동        2763.574841  11.039641
13876  2020      5  69537  25.12  안심3.4동        2768.192675  18.773772
13877  2020      6  69573  25.12  안심3.4동        2769.625796  24.234185

In [308]:
# 안심3동 확인
df_density[df_density['region']== '안심3동'].head(2)

       year  month  count  area region  populationdensity         HI
13878  2020      7  21450   6.1   안심3동        3516.393443  23.855177
13879  2020      8  21443   6.1   안심3동        3515.245902  31.181261

In [309]:
# 안심4동 확인
df_density[df_density['region']== '안심4동'].head(2)

       year  month  count  area region  populationdensity         HI
13900  2020      7  29515  2.53   안심4동       11666.007905  23.855177
13901  2020      8  29515  2.53   안심4동       11666.007905  31.181261

In [310]:
# 혁신동 확인
df_density[df_density['region']== '혁신동'].head(2)

       year  month  count   area region  populationdensity         HI
18509  2020      7  18779  16.42    혁신동        1143.666261  23.855177
18510  2020      8  18845  16.42    혁신동        1147.685749  31.181261

In [311]:
# 2020년 7월 이전의 결측값 채우기

# 동별 인구수 평균값
ansim3_count = df_density.loc[df_density['region']== '안심3동', 'count'].mean()
ansim4_count = df_density.loc[df_density['region']== '안심4동', 'count'].mean()
hs_count = df_density.loc[df_density['region']== '혁신동', 'count'].mean()

for year in range(2010, 2021):

    if year == 2010:
        for month in range(10, 13):

            # 열지수 (해당 년월의 안심3.4동 열지수)
            ansim_HI = df_density.loc[(df_density['year'] == year) & (df_density['month'] == month) & (df_density['region'] == '안심3.4동'), 'HI'].values[0]

            df_density.loc[len(df_density)] = [year, month, ansim3_count, 6.1, '안심3동', ansim3_count/6.1, ansim_HI]
            df_density.loc[len(df_density)] = [year, month, ansim4_count, 2.53, '안심4동', ansim4_count/2.53, ansim_HI]
            df_density.loc[len(df_density)] = [year, month, hs_count, 16.42, '혁신동', hs_count/16.42, ansim_HI]
    
    elif year == 2020:
        for month in range(1, 7):

            # 열지수 (해당 년월의 안심3.4동 열지수)
            ansim_HI = df_density.loc[(df_density['year'] == year) & (df_density['month'] == month) & (df_density['region'] == '안심3.4동'), 'HI'].values[0]

            df_density.loc[len(df_density)] = [year, month, ansim3_count, 6.1, '안심3동', ansim3_count/6.1, ansim_HI]
            df_density.loc[len(df_density)] = [year, month, ansim4_count, 2.53, '안심4동', ansim4_count/2.53, ansim_HI]
            df_density.loc[len(df_density)] = [year, month, hs_count, 16.42, '혁신동', hs_count/16.42, ansim_HI]
    
    else:
        for month in range(1, 13):

            # 열지수 (해당 년월의 안심3.4동 열지수)
            ansim_HI = df_density.loc[(df_density['year'] == year) & (df_density['month'] == month) & (df_density['region'] == '안심3.4동'), 'HI'].values[0]

            df_density.loc[len(df_density)] = [year, month, ansim3_count, 6.1, '안심3동', ansim3_count/6.1, ansim_HI]
            df_density.loc[len(df_density)] = [year, month, ansim4_count, 2.53, '안심4동', ansim4_count/2.53, ansim_HI]
            df_density.loc[len(df_density)] = [year, month, hs_count, 16.42, '혁신동', hs_count/16.42, ansim_HI]

In [312]:
# 안심3.4동 제거
df_density.drop(df_density.loc[df_density['region']=='안심3.4동'].index, inplace=True)

In [313]:
# 인구밀도 데이터에만 있는 읍면동 재확인
set(df_density['region'].unique()) - set(df_region['emd'].unique())

set()

### 3. 전처리 완료 데이터 조인

In [314]:
df_join = pd.merge(df_density, df_region, left_on=['region'], right_on = ['emd'], how='inner')

df_join

,year,month,count,area,region,populationdensity,HI,adm_nm,sidonm,temp,sggnm,emd
0,2010,10,9002.0,111.17,가창면,80.975083,14.002856,대구광역시 달성군 가창면,대구광역시,달성군 가창면,달성군,가창면
1,2010,11,8969.0,111.17,가창면,80.678241,5.548623,대구광역시 달성군 가창면,대구광역시,달성군 가창면,달성군,가창면
2,2010,12,8936.0,111.17,가창면,80.381398,-0.149288,대구광역시 달성군 가창면,대구광역시,달성군 가창면,달성군,가창면
3,2011,1,8892.0,111.17,가창면,79.985608,-4.443683,대구광역시 달성군 가창면,대구광역시,달성군 가창면,달성군,가창면
4,2011,2,8731.0,111.17,가창면,78.537375,1.583097,대구광역시 달성군 가창면,대구광역시,달성군 가창면,달성군,가창면
...,...,...,...,...,...,...,...,...,...,...,...,...
19594,2021,12,13167.0,0.72,효목2동,18287.500000,2.357998,대구광역시 동구 효목2동,대구광역시,동구 효목2동,동구,효목2동
19595,2022,1,13121.0,0.72,효목2동,18223.611111,0.478563,대구광역시 동구 효목2동,대구광역시,동구 효목2동,동구,효목2동
19596,2022,2,13098.0,0.72,효목2동,18191.666667,1.146696,대구광역시 동구 효목2동,대구광역시,동구 효목2동,동구,효목2동
19597,2022,3,13070.0,0.72,효목2동,18152.777778,8.569070,대구광역시 동구 효목2동,대구광역시,동구 효목2동,동구,효목2동
19598,2022,4,13043.0,0.72,효목2동,18115.277778,15.072408,대구광역시 동구 효목2동,대구광역시,동구 효목2동,동구,효목2동

In [315]:
# 중복값 제거
df_join.drop(columns='region', inplace=True)

In [316]:
# null값 확인
df_join.isnull().sum()

year                 0
month                0
count                0
area                 0
populationdensity    0
HI                   0
adm_nm               0
sidonm               0
temp                 0
sggnm                0
emd                  0
dtype: int64

In [317]:
# 저장
df_join.to_csv('./output/Daegu_density_for_tableau.csv', index=False)